<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>store_btn_buy_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,855},{319,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,114}}</string>
                <key>sourceSize</key>
                <string>{319,114}</string>
            </dict>
            <key>store_btn_buy_prop.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,890},{265,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,94}}</string>
                <key>sourceSize</key>
                <string>{265,94}</string>
            </dict>
            <key>store_btn_switch.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,884},{113,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,48}}</string>
                <key>sourceSize</key>
                <string>{113,48}</string>
            </dict>
            <key>store_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,855},{142,118}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,24},{142,118}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>store_diamond_module.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,674},{78,60}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{78,60}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>store_diamond_onbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,986},{48,36}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{48,36}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>store_diamond_way.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,798},{110,84}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,36},{110,84}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>store_img_switch.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,824},{336,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,64}}</string>
                <key>sourceSize</key>
                <string>{336,64}</string>
            </dict>
            <key>store_lock_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,433},{468,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,57}}</string>
                <key>sourceSize</key>
                <string>{468,57}</string>
            </dict>
            <key>store_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{1013,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1013,70}}</string>
                <key>sourceSize</key>
                <string>{1013,70}</string>
            </dict>
            <key>store_pay_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,890},{66,76}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{66,76}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>store_pay_gold_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,674},{146,122}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,25},{146,122}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>store_pay_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{995,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{995,179}}</string>
                <key>sourceSize</key>
                <string>{995,179}</string>
            </dict>
            <key>store_pay_style_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{440,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,203}}</string>
                <key>sourceSize</key>
                <string>{440,203}</string>
            </dict>
            <key>store_pay_style_choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,433},{458,215}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{458,215}}</string>
                <key>sourceSize</key>
                <string>{478,221}</string>
            </dict>
            <key>store_pay_style_titlebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{960,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,151}}</string>
                <key>sourceSize</key>
                <string>{960,151}</string>
            </dict>
            <key>store_prop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,492},{168,180}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{168,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>store_prop_desc_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,971},{271,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,47}}</string>
                <key>sourceSize</key>
                <string>{271,47}</string>
            </dict>
            <key>store_prop_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,492},{304,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,330}}</string>
                <key>sourceSize</key>
                <string>{304,330}</string>
            </dict>
            <key>store_seg_line_content.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{985,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,23}}</string>
                <key>sourceSize</key>
                <string>{985,23}</string>
            </dict>
            <key>store_text_buy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,934},{82,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,46}}</string>
                <key>sourceSize</key>
                <string>{82,46}</string>
            </dict>
            <key>store_text_buy_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,986},{67,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,35}}</string>
                <key>sourceSize</key>
                <string>{67,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>store_plist.png</string>
            <key>size</key>
            <string>{1017,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6931f741e0a9c778316f358a76788820$</string>
            <key>textureFileName</key>
            <string>store_plist.png</string>
        </dict>
    </dict>
</plist>
