<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>email_Enclosure.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,212},{86,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,56}}</string>
                <key>sourceSize</key>
                <string>{86,56}</string>
            </dict>
            <key>email_bg_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,116},{112,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,35}}</string>
                <key>sourceSize</key>
                <string>{112,35}</string>
            </dict>
            <key>email_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,995},{17,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,14}}</string>
                <key>sourceSize</key>
                <string>{17,14}</string>
            </dict>
            <key>email_delete.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{232,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,151}}</string>
                <key>sourceSize</key>
                <string>{232,151}</string>
            </dict>
            <key>email_envelopeClose.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,255},{108,76}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,29},{108,76}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>email_envelopeOpen.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,153},{108,100}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{108,100}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>email_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>email_lasttime.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,755},{238,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,51}}</string>
                <key>sourceSize</key>
                <string>{238,51}</string>
            </dict>
            <key>email_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,212},{76,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,163}}</string>
                <key>sourceSize</key>
                <string>{76,163}</string>
            </dict>
            <key>email_message.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,755},{235,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,97}}</string>
                <key>sourceSize</key>
                <string>{235,97}</string>
            </dict>
            <key>email_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,290},{72,55}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{72,55}}</string>
                <key>sourceSize</key>
                <string>{72,61}</string>
            </dict>
            <key>email_no_msg.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,155},{225,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,55}}</string>
                <key>sourceSize</key>
                <string>{225,55}</string>
            </dict>
            <key>email_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,995},{17,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,14}}</string>
                <key>sourceSize</key>
                <string>{17,14}</string>
            </dict>
            <key>email_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{751,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{751,142}}</string>
                <key>sourceSize</key>
                <string>{751,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>email_plist.png</string>
            <key>size</key>
            <string>{502,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b389324dbd72537012ea4b15c88c09b$</string>
            <key>textureFileName</key>
            <string>email_plist.png</string>
        </dict>
    </dict>
</plist>
