<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,943},{53,51}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{53,51}}</string>
                <key>sourceSize</key>
                <string>{65,55}</string>
            </dict>
            <key>guandan_bottom_btn_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,986},{51,49}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{51,49}}</string>
                <key>sourceSize</key>
                <string>{59,55}</string>
            </dict>
            <key>guandan_bottom_btn_flush.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,692},{154,56}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{154,56}}</string>
                <key>sourceSize</key>
                <string>{156,62}</string>
            </dict>
            <key>guandan_bottom_btn_flush1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,750},{154,56}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{154,56}}</string>
                <key>sourceSize</key>
                <string>{156,62}</string>
            </dict>
            <key>guandan_bottom_btn_manage.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,808},{144,58}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{144,58}}</string>
                <key>sourceSize</key>
                <string>{156,62}</string>
            </dict>
            <key>guandan_bottom_btn_manage1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,868},{144,58}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{144,58}}</string>
                <key>sourceSize</key>
                <string>{156,62}</string>
            </dict>
            <key>guandan_bottom_btn_recover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,928},{138,56}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{138,56}}</string>
                <key>sourceSize</key>
                <string>{156,62}</string>
            </dict>
            <key>guandan_bottom_btn_recover1.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,943},{138,56}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,6},{138,56}}</string>
                <key>sourceSize</key>
                <string>{156,62}</string>
            </dict>
            <key>guandan_bottom_btn_rmcard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,217},{173,58}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{173,58}}</string>
                <key>sourceSize</key>
                <string>{175,62}</string>
            </dict>
            <key>guandan_bottom_btn_rmcard1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,277},{173,58}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{173,58}}</string>
                <key>sourceSize</key>
                <string>{175,62}</string>
            </dict>
            <key>guandan_bottom_btn_rmcard_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,217},{89,34}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,17},{89,34}}</string>
                <key>sourceSize</key>
                <string>{175,62}</string>
            </dict>
            <key>guandan_bottom_gold_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,1},{179,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,37}}</string>
                <key>sourceSize</key>
                <string>{179,37}</string>
            </dict>
            <key>guandan_bottom_head_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,350},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>guandan_bottom_head_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,433},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>guandan_bottom_rmcard_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,996},{50,51}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{50,51}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>guandan_btn_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,337},{167,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,76}}</string>
                <key>sourceSize</key>
                <string>{167,78}</string>
            </dict>
            <key>guandan_btn_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,415},{167,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,76}}</string>
                <key>sourceSize</key>
                <string>{167,78}</string>
            </dict>
            <key>guandan_btn_orange1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,493},{167,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,76}}</string>
                <key>sourceSize</key>
                <string>{167,78}</string>
            </dict>
            <key>guandan_btngp_ialarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,867},{74,91}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{74,91}}</string>
                <key>sourceSize</key>
                <string>{74,97}</string>
            </dict>
            <key>guandan_btnlabel_ignore.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,231},{75,40}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,17},{75,40}}</string>
                <key>sourceSize</key>
                <string>{167,78}</string>
            </dict>
            <key>guandan_btnlabel_jingon.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,308},{77,40}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,16},{77,40}}</string>
                <key>sourceSize</key>
                <string>{167,78}</string>
            </dict>
            <key>guandan_btnlabel_show.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,599},{77,40}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,16},{77,40}}</string>
                <key>sourceSize</key>
                <string>{167,78}</string>
            </dict>
            <key>guandan_btnlabel_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,641},{77,40}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,16},{77,40}}</string>
                <key>sourceSize</key>
                <string>{167,78}</string>
            </dict>
            <key>guandan_btnlabel_tuigon.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,683},{77,40}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,16},{77,40}}</string>
                <key>sourceSize</key>
                <string>{167,78}</string>
            </dict>
            <key>guandan_head_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{214,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,93}}</string>
                <key>sourceSize</key>
                <string>{214,93}</string>
            </dict>
            <key>guandan_head_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,571},{119,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,163}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>guandan_head_robot.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,516},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>guandan_mark_index1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1039},{40,39}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{40,39}}</string>
                <key>sourceSize</key>
                <string>{42,43}</string>
            </dict>
            <key>guandan_mark_index2.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,1039},{40,39}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{40,39}}</string>
                <key>sourceSize</key>
                <string>{42,43}</string>
            </dict>
            <key>guandan_mark_index3.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,986},{40,39}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{40,39}}</string>
                <key>sourceSize</key>
                <string>{42,43}</string>
            </dict>
            <key>guandan_mark_index4.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,986},{40,39}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{40,39}}</string>
                <key>sourceSize</key>
                <string>{42,43}</string>
            </dict>
            <key>guandan_remain_card_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,1048},{39,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{39,47}}</string>
                <key>sourceSize</key>
                <string>{41,47}</string>
            </dict>
            <key>guandan_remain_card_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,182},{41,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,47}}</string>
                <key>sourceSize</key>
                <string>{41,47}</string>
            </dict>
            <key>guandan_top_left_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,96},{210,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,119}}</string>
                <key>sourceSize</key>
                <string>{210,119}</string>
            </dict>
            <key>guandan_top_left_opposite.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,725},{93,69}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{93,69}}</string>
                <key>sourceSize</key>
                <string>{93,73}</string>
            </dict>
            <key>guandan_top_left_self.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,796},{93,69}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{93,69}}</string>
                <key>sourceSize</key>
                <string>{93,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guandan_gaming.png</string>
            <key>size</key>
            <string>{255,1088}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b1157db1767d05f61c58515abd23c93:11185edb5848e49107efd576f1dee5e2:324ab581cd7dfabac2dcffb49f86e655$</string>
            <key>textureFileName</key>
            <string>guandan_gaming.png</string>
        </dict>
    </dict>
</plist>
