<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guandan_jokbb10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-12}</string>
                <key>spriteSize</key>
                <string>{236,220}</string>
                <key>spriteSourceSize</key>
                <string>{392,320}</string>
                <key>textureRect</key>
                <string>{{1,701},{236,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_jokbb10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-15}</string>
                <key>spriteSize</key>
                <string>{236,224}</string>
                <key>spriteSourceSize</key>
                <string>{392,320}</string>
                <key>textureRect</key>
                <string>{{239,699},{236,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_jokbb10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{248,238}</string>
                <key>spriteSourceSize</key>
                <string>{392,320}</string>
                <key>textureRect</key>
                <string>{{1105,669},{248,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guandan_jokbb10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-9}</string>
                <key>spriteSize</key>
                <string>{258,238}</string>
                <key>spriteSourceSize</key>
                <string>{392,320}</string>
                <key>textureRect</key>
                <string>{{845,685},{258,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_jokbb10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-8}</string>
                <key>spriteSize</key>
                <string>{260,246}</string>
                <key>spriteSourceSize</key>
                <string>{392,320}</string>
                <key>textureRect</key>
                <string>{{1345,667},{260,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_jokbb10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{334,260}</string>
                <key>spriteSourceSize</key>
                <string>{392,320}</string>
                <key>textureRect</key>
                <string>{{1607,641},{334,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_jokbb_floor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,48}</string>
                <key>spriteSourceSize</key>
                <string>{152,48}</string>
                <key>textureRect</key>
                <string>{{1849,1},{152,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guandan_jokbb_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{331,638}</string>
                <key>spriteSourceSize</key>
                <string>{331,646}</string>
                <key>textureRect</key>
                <string>{{1516,1},{331,638}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_jokbb_rocket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{167,663}</string>
                <key>spriteSourceSize</key>
                <string>{167,667}</string>
                <key>textureRect</key>
                <string>{{1347,1},{167,663}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_jokbb_smog0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-96}</string>
                <key>spriteSize</key>
                <string>{696,134}</string>
                <key>spriteSourceSize</key>
                <string>{698,330}</string>
                <key>textureRect</key>
                <string>{{179,1},{696,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guandan_jokbb_smog0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-74}</string>
                <key>spriteSize</key>
                <string>{694,178}</string>
                <key>spriteSourceSize</key>
                <string>{698,330}</string>
                <key>textureRect</key>
                <string>{{315,1},{694,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guandan_jokbb_smog0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-73}</string>
                <key>spriteSize</key>
                <string>{698,176}</string>
                <key>spriteSourceSize</key>
                <string>{698,330}</string>
                <key>textureRect</key>
                <string>{{1,1},{698,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guandan_jokbb_smog0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-88}</string>
                <key>spriteSize</key>
                <string>{684,144}</string>
                <key>spriteSourceSize</key>
                <string>{698,330}</string>
                <key>textureRect</key>
                <string>{{697,1},{684,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guandan_jokbb_smog0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-82}</string>
                <key>spriteSize</key>
                <string>{682,156}</string>
                <key>spriteSourceSize</key>
                <string>{698,330}</string>
                <key>textureRect</key>
                <string>{{843,1},{682,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guandan_jokbb_smog0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-76}</string>
                <key>spriteSize</key>
                <string>{664,170}</string>
                <key>spriteSourceSize</key>
                <string>{698,330}</string>
                <key>textureRect</key>
                <string>{{1175,1},{664,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guandan_jokbb_smog0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-77}</string>
                <key>spriteSize</key>
                <string>{666,172}</string>
                <key>spriteSourceSize</key>
                <string>{698,330}</string>
                <key>textureRect</key>
                <string>{{1001,1},{666,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guandan_jokbb_smog0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-63}</string>
                <key>spriteSize</key>
                <string>{684,200}</string>
                <key>spriteSourceSize</key>
                <string>{698,330}</string>
                <key>textureRect</key>
                <string>{{495,1},{684,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guandan_jokbb_smog0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-55}</string>
                <key>spriteSize</key>
                <string>{366,204}</string>
                <key>spriteSourceSize</key>
                <string>{698,330}</string>
                <key>textureRect</key>
                <string>{{477,697},{366,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guandan_jokbb1.png</string>
            <key>size</key>
            <string>{1942,924}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a653f6dbcf086b331e480dd0f5ee220:aa541343f7d459ccf88af24572cb8c5d:8815dd49fa15801f8027e34b89e133bb$</string>
            <key>textureFileName</key>
            <string>guandan_jokbb1.png</string>
        </dict>
    </dict>
</plist>
