<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>refusetri_joker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,137}</string>
                <key>spriteSourceSize</key>
                <string>{107,137}</string>
                <key>textureRect</key>
                <string>{{142,1},{107,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>refusetri_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,82}</string>
                <key>spriteSourceSize</key>
                <string>{139,82}</string>
                <key>textureRect</key>
                <string>{{1,1},{139,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>refusetri_light0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{864,347}</string>
                <key>spriteSourceSize</key>
                <string>{884,401}</string>
                <key>textureRect</key>
                <string>{{1,999},{864,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>refusetri_light0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{858,379}</string>
                <key>spriteSourceSize</key>
                <string>{884,401}</string>
                <key>textureRect</key>
                <string>{{1,1348},{858,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>refusetri_light0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,16}</string>
                <key>spriteSize</key>
                <string>{872,305}</string>
                <key>spriteSourceSize</key>
                <string>{884,401}</string>
                <key>textureRect</key>
                <string>{{1,692},{872,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>refusetri_light0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,25}</string>
                <key>spriteSize</key>
                <string>{866,293}</string>
                <key>spriteSourceSize</key>
                <string>{884,401}</string>
                <key>textureRect</key>
                <string>{{1,397},{866,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>refusetri_light0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,25}</string>
                <key>spriteSize</key>
                <string>{868,199}</string>
                <key>spriteSourceSize</key>
                <string>{884,401}</string>
                <key>textureRect</key>
                <string>{{1,196},{868,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>refusetri_light0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,12}</string>
                <key>spriteSize</key>
                <string>{556,193}</string>
                <key>spriteSourceSize</key>
                <string>{884,401}</string>
                <key>textureRect</key>
                <string>{{281,1},{556,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guandan_refusetri.png</string>
            <key>size</key>
            <string>{874,1728}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce674811acf564445bc946b48e52d69e:acc293f6d03cbd793a07356cb6b73be9:a4e539ef61df86234b5ebc121bafbf91$</string>
            <key>textureFileName</key>
            <string>guandan_refusetri.png</string>
        </dict>
    </dict>
</plist>
