<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guandan_bomb0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,1},{346,256}}</string>
                <key>offset</key>
                <string>{22,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,87},{346,256}}</string>
                <key>sourceSize</key>
                <string>{408,344}</string>
            </dict>
            <key>guandan_bomb0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{360,248}}</string>
                <key>offset</key>
                <string>{15,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,86},{360,248}}</string>
                <key>sourceSize</key>
                <string>{408,344}</string>
            </dict>
            <key>guandan_bomb0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,1},{200,234}}</string>
                <key>offset</key>
                <string>{-4,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,84},{200,234}}</string>
                <key>sourceSize</key>
                <string>{408,344}</string>
            </dict>
            <key>guandan_bomb0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,1},{200,208}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,84},{200,208}}</string>
                <key>sourceSize</key>
                <string>{408,344}</string>
            </dict>
            <key>guandan_bomb0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,349},{118,124}}</string>
                <key>offset</key>
                <string>{9,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,168},{118,124}}</string>
                <key>sourceSize</key>
                <string>{408,344}</string>
            </dict>
            <key>guandan_bomb0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,237},{108,128}}</string>
                <key>offset</key>
                <string>{3,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,165},{108,128}}</string>
                <key>sourceSize</key>
                <string>{408,344}</string>
            </dict>
            <key>guandan_bomb0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,237},{110,128}}</string>
                <key>offset</key>
                <string>{5,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,164},{110,128}}</string>
                <key>sourceSize</key>
                <string>{408,344}</string>
            </dict>
            <key>guandan_bomb0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,347},{112,130}}</string>
                <key>offset</key>
                <string>{6,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,163},{112,130}}</string>
                <key>sourceSize</key>
                <string>{408,344}</string>
            </dict>
            <key>guandan_bomb0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,349},{114,132}}</string>
                <key>offset</key>
                <string>{7,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,162},{114,132}}</string>
                <key>sourceSize</key>
                <string>{408,344}</string>
            </dict>
            <key>guandan_bomb0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,349},{116,134}}</string>
                <key>offset</key>
                <string>{8,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,160},{116,134}}</string>
                <key>sourceSize</key>
                <string>{408,344}</string>
            </dict>
            <key>guandan_bomb0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,363},{118,138}}</string>
                <key>offset</key>
                <string>{8,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,158},{118,138}}</string>
                <key>sourceSize</key>
                <string>{408,344}</string>
            </dict>
            <key>guandan_bomb0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,363},{120,142}}</string>
                <key>offset</key>
                <string>{8,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,155},{120,142}}</string>
                <key>sourceSize</key>
                <string>{408,344}</string>
            </dict>
            <key>guandan_bomb0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,349},{120,134}}</string>
                <key>offset</key>
                <string>{8,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,163},{120,134}}</string>
                <key>sourceSize</key>
                <string>{408,344}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guandan_bombs_2.png</string>
            <key>size</key>
            <string>{912,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5cdff651cc4f8b525d9641bde93303fb:33e975eadacc245402c7c3948695e740:4667beeadd036217e28bdece21ed9ff4$</string>
            <key>textureFileName</key>
            <string>guandan_bombs_2.png</string>
        </dict>
    </dict>
</plist>
