<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guandan_label_bomb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{184,124}</string>
                <key>spriteSourceSize</key>
                <string>{200,136}</string>
                <key>textureRect</key>
                <string>{{193,1},{184,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guandan_label_flush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{136,82}</string>
                <key>spriteSourceSize</key>
                <string>{150,86}</string>
                <key>textureRect</key>
                <string>{{1,205},{136,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_label_jokerbomb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{180,112}</string>
                <key>spriteSourceSize</key>
                <string>{190,132}</string>
                <key>textureRect</key>
                <string>{{319,1},{180,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guandan_label_pair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{167,101}</string>
                <key>spriteSourceSize</key>
                <string>{187,115}</string>
                <key>textureRect</key>
                <string>{{281,187},{167,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_label_straflush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{196,94}</string>
                <key>spriteSourceSize</key>
                <string>{210,100}</string>
                <key>textureRect</key>
                <string>{{97,1},{196,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guandan_label_threetwo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{202,94}</string>
                <key>spriteSourceSize</key>
                <string>{216,104}</string>
                <key>textureRect</key>
                <string>{{1,1},{202,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guandan_label_triple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{140,90}</string>
                <key>spriteSourceSize</key>
                <string>{144,96}</string>
                <key>textureRect</key>
                <string>{{139,199},{140,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guandan_label.png</string>
            <key>size</key>
            <string>{449,290}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f786a94db87f64bfae33f1be60ace92a:183d9ff8066b6edf37331422fabf4334:a0c60a94d2f475ca9d6204ccb70b4916$</string>
            <key>textureFileName</key>
            <string>guandan_label.png</string>
        </dict>
    </dict>
</plist>
