<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>facial_contempt_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{189,169}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{189,169}}</string>
                <key>sourceSize</key>
                <string>{203,169}</string>
            </dict>
            <key>facial_contempt_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{197,169}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{197,169}}</string>
                <key>sourceSize</key>
                <string>{203,169}</string>
            </dict>
            <key>facial_contempt_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{199,167}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{199,167}}</string>
                <key>sourceSize</key>
                <string>{203,169}</string>
            </dict>
            <key>facial_contempt_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{187,167}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{187,167}}</string>
                <key>sourceSize</key>
                <string>{203,169}</string>
            </dict>
            <key>facial_contempt_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,173},{185,169}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{185,169}}</string>
                <key>sourceSize</key>
                <string>{203,169}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>facial_contempt.png</string>
            <key>size</key>
            <string>{402,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8332bed8d4357c578d7256973f3e97b1$</string>
            <key>textureFileName</key>
            <string>facial_contempt.png</string>
        </dict>
    </dict>
</plist>
