<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>facial_gratitude_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,324},{232,169}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{232,169}}</string>
                <key>sourceSize</key>
                <string>{266,169}</string>
            </dict>
            <key>facial_gratitude_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{232,169}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{232,169}}</string>
                <key>sourceSize</key>
                <string>{266,169}</string>
            </dict>
            <key>facial_gratitude_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{242,163}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{242,163}}</string>
                <key>sourceSize</key>
                <string>{266,169}</string>
            </dict>
            <key>facial_gratitude_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,159},{242,163}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{242,163}}</string>
                <key>sourceSize</key>
                <string>{266,169}</string>
            </dict>
            <key>facial_gratitude_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{252,155}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{252,155}}</string>
                <key>sourceSize</key>
                <string>{266,169}</string>
            </dict>
            <key>facial_gratitude_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,155}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{252,155}}</string>
                <key>sourceSize</key>
                <string>{266,169}</string>
            </dict>
            <key>facial_gratitude_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{242,163}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{242,163}}</string>
                <key>sourceSize</key>
                <string>{266,169}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>facial_gratitude.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6b79711753a917582ee3baef16ce0df$</string>
            <key>textureFileName</key>
            <string>facial_gratitude.png</string>
        </dict>
    </dict>
</plist>
