<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>facial_laugh_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,182},{171,170}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{171,170}}</string>
                <key>sourceSize</key>
                <string>{189,178}</string>
            </dict>
            <key>facial_laugh_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,167},{163,170}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{163,170}}</string>
                <key>sourceSize</key>
                <string>{189,178}</string>
            </dict>
            <key>facial_laugh_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{163,170}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{163,170}}</string>
                <key>sourceSize</key>
                <string>{189,178}</string>
            </dict>
            <key>facial_laugh_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,355},{153,170}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,8},{153,170}}</string>
                <key>sourceSize</key>
                <string>{189,178}</string>
            </dict>
            <key>facial_laugh_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{153,178}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{153,178}}</string>
                <key>sourceSize</key>
                <string>{189,178}</string>
            </dict>
            <key>facial_laugh_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{163,178}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{163,178}}</string>
                <key>sourceSize</key>
                <string>{189,178}</string>
            </dict>
            <key>facial_laugh_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{163,170}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{163,170}}</string>
                <key>sourceSize</key>
                <string>{189,178}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>facial_laugh.png</string>
            <key>size</key>
            <string>{504,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9527db404ce2c0f708e51362775e2a43$</string>
            <key>textureFileName</key>
            <string>facial_laugh.png</string>
        </dict>
    </dict>
</plist>
