<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>facial_tuhao_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{166,175}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,36},{166,175}}</string>
                <key>sourceSize</key>
                <string>{184,213}</string>
            </dict>
            <key>facial_tuhao_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,510},{166,175}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,38},{166,175}}</string>
                <key>sourceSize</key>
                <string>{184,213}</string>
            </dict>
            <key>facial_tuhao_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{166,175}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,37},{166,175}}</string>
                <key>sourceSize</key>
                <string>{184,213}</string>
            </dict>
            <key>facial_tuhao_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,166},{174,177}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{174,177}}</string>
                <key>sourceSize</key>
                <string>{184,213}</string>
            </dict>
            <key>facial_tuhao_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{168,177}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,36},{168,177}}</string>
                <key>sourceSize</key>
                <string>{184,213}</string>
            </dict>
            <key>facial_tuhao_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,342},{166,177}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,36},{166,177}}</string>
                <key>sourceSize</key>
                <string>{184,213}</string>
            </dict>
            <key>facial_tuhao_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,211}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{162,211}}</string>
                <key>sourceSize</key>
                <string>{184,213}</string>
            </dict>
            <key>facial_tuhao_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{162,203}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{162,203}}</string>
                <key>sourceSize</key>
                <string>{184,213}</string>
            </dict>
            <key>facial_tuhao_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{162,197}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{162,197}}</string>
                <key>sourceSize</key>
                <string>{184,213}</string>
            </dict>
            <key>facial_tuhao_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{162,175}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,37},{162,175}}</string>
                <key>sourceSize</key>
                <string>{184,213}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>facial_tuhao.png</string>
            <key>size</key>
            <string>{420,1013}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:903b1e0d3fe39d77a88e06961b9c22cd$</string>
            <key>textureFileName</key>
            <string>facial_tuhao.png</string>
        </dict>
    </dict>
</plist>
