<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>facial_crazy_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,2},{173,197}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{173,197}}</string>
                <key>sourceSize</key>
                <string>{195,215}</string>
            </dict>
            <key>facial_crazy_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,219},{187,207}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{187,207}}</string>
                <key>sourceSize</key>
                <string>{195,215}</string>
            </dict>
            <key>facial_crazy_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{195,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,215}}</string>
                <key>sourceSize</key>
                <string>{195,215}</string>
            </dict>
            <key>facial_crazy_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{187,207}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{187,207}}</string>
                <key>sourceSize</key>
                <string>{195,215}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>facial_crazy.png</string>
            <key>size</key>
            <string>{380,428}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b940c2534fc6fb23402815d790368a0$</string>
            <key>textureFileName</key>
            <string>facial_crazy.png</string>
        </dict>
    </dict>
</plist>
