<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>facial_angry_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{181,175}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,175}}</string>
                <key>sourceSize</key>
                <string>{191,175}</string>
            </dict>
            <key>facial_angry_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,177},{181,173}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{181,173}}</string>
                <key>sourceSize</key>
                <string>{191,175}</string>
            </dict>
            <key>facial_angry_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,527},{175,171}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{175,171}}</string>
                <key>sourceSize</key>
                <string>{191,175}</string>
            </dict>
            <key>facial_angry_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{175,169}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{175,169}}</string>
                <key>sourceSize</key>
                <string>{191,175}</string>
            </dict>
            <key>facial_angry_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{175,171}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{175,171}}</string>
                <key>sourceSize</key>
                <string>{191,175}</string>
            </dict>
            <key>facial_angry_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,2},{183,173}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{183,173}}</string>
                <key>sourceSize</key>
                <string>{191,175}</string>
            </dict>
            <key>facial_angry_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{189,173}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{189,173}}</string>
                <key>sourceSize</key>
                <string>{191,175}</string>
            </dict>
            <key>facial_angry_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,352},{175,175}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{191,175}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>facial_angry.png</string>
            <key>size</key>
            <string>{378,877}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13c2e0989b8305c02fbcb2a38b0e8219$</string>
            <key>textureFileName</key>
            <string>facial_angry.png</string>
        </dict>
    </dict>
</plist>
