<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>facial_nervous_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{187,170}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{187,170}}</string>
                <key>sourceSize</key>
                <string>{187,182}</string>
            </dict>
            <key>facial_nervous_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,338},{183,168}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{183,168}}</string>
                <key>sourceSize</key>
                <string>{187,182}</string>
            </dict>
            <key>facial_nervous_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{179,168}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{179,168}}</string>
                <key>sourceSize</key>
                <string>{187,182}</string>
            </dict>
            <key>facial_nervous_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{183,168}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{183,168}}</string>
                <key>sourceSize</key>
                <string>{187,182}</string>
            </dict>
            <key>facial_nervous_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,170},{187,166}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{187,166}}</string>
                <key>sourceSize</key>
                <string>{187,182}</string>
            </dict>
            <key>facial_nervous_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,508},{183,166}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{183,166}}</string>
                <key>sourceSize</key>
                <string>{187,182}</string>
            </dict>
            <key>facial_nervous_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,676},{179,166}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{179,166}}</string>
                <key>sourceSize</key>
                <string>{187,182}</string>
            </dict>
            <key>facial_nervous_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{183,166}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{183,166}}</string>
                <key>sourceSize</key>
                <string>{187,182}</string>
            </dict>
            <key>facial_nervous_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{187,166}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{187,166}}</string>
                <key>sourceSize</key>
                <string>{187,182}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>facial_nervous.png</string>
            <key>size</key>
            <string>{380,844}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05c67c566b2784c0a0dced942355c02c$</string>
            <key>textureFileName</key>
            <string>facial_nervous.png</string>
        </dict>
    </dict>
</plist>
