<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,920},{78,75}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{78,75}}</string>
                <key>sourceSize</key>
                <string>{98,83}</string>
            </dict>
            <key>guandan_bottom_btn_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,979},{74,75}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{74,75}}</string>
                <key>sourceSize</key>
                <string>{88,83}</string>
            </dict>
            <key>guandan_bottom_btn_flush.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,637},{228,83}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{228,83}}</string>
                <key>sourceSize</key>
                <string>{234,93}</string>
            </dict>
            <key>guandan_bottom_btn_flush1.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,722},{228,83}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{228,83}}</string>
                <key>sourceSize</key>
                <string>{234,93}</string>
            </dict>
            <key>guandan_bottom_btn_manage.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,723},{214,85}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{214,85}}</string>
                <key>sourceSize</key>
                <string>{234,93}</string>
            </dict>
            <key>guandan_bottom_btn_manage1.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,807},{214,85}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{214,85}}</string>
                <key>sourceSize</key>
                <string>{234,93}</string>
            </dict>
            <key>guandan_bottom_btn_recover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,810},{204,83}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,10},{204,83}}</string>
                <key>sourceSize</key>
                <string>{234,93}</string>
            </dict>
            <key>guandan_bottom_btn_recover1.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,894},{204,83}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,10},{204,83}}</string>
                <key>sourceSize</key>
                <string>{234,93}</string>
            </dict>
            <key>guandan_bottom_btn_rmcard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,200},{259,87}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{259,87}}</string>
                <key>sourceSize</key>
                <string>{263,93}</string>
            </dict>
            <key>guandan_bottom_btn_rmcard1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,289},{259,87}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{259,87}}</string>
                <key>sourceSize</key>
                <string>{263,93}</string>
            </dict>
            <key>guandan_bottom_btn_rmcard_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,142},{129,49}}</string>
                <key>offset</key>
                <string>{25,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,26},{129,49}}</string>
                <key>sourceSize</key>
                <string>{263,93}</string>
            </dict>
            <key>guandan_bottom_gold_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,142},{268,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,56}}</string>
                <key>sourceSize</key>
                <string>{268,56}</string>
            </dict>
            <key>guandan_bottom_head_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1103},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>guandan_bottom_head_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1103},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>guandan_bottom_rmcard_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,997},{73,74}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{73,74}}</string>
                <key>sourceSize</key>
                <string>{81,82}</string>
            </dict>
            <key>guandan_btn_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,378},{251,113}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,113}}</string>
                <key>sourceSize</key>
                <string>{251,117}</string>
            </dict>
            <key>guandan_btn_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,493},{251,113}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,113}}</string>
                <key>sourceSize</key>
                <string>{251,117}</string>
            </dict>
            <key>guandan_btn_orange1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,608},{251,113}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,113}}</string>
                <key>sourceSize</key>
                <string>{251,117}</string>
            </dict>
            <key>guandan_btngp_ialarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,1100},{111,136}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{111,136}}</string>
                <key>sourceSize</key>
                <string>{111,146}</string>
            </dict>
            <key>guandan_btnlabel_ignore.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,807},{111,59}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,26},{111,59}}</string>
                <key>sourceSize</key>
                <string>{251,117}</string>
            </dict>
            <key>guandan_btnlabel_jingon.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,522},{113,59}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,24},{113,59}}</string>
                <key>sourceSize</key>
                <string>{251,117}</string>
            </dict>
            <key>guandan_btnlabel_show.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,895},{111,59}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,24},{111,59}}</string>
                <key>sourceSize</key>
                <string>{251,117}</string>
            </dict>
            <key>guandan_btnlabel_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,273},{115,59}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,25},{115,59}}</string>
                <key>sourceSize</key>
                <string>{251,117}</string>
            </dict>
            <key>guandan_btnlabel_tuigon.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,564},{113,59}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,24},{113,59}}</string>
                <key>sourceSize</key>
                <string>{251,117}</string>
            </dict>
            <key>guandan_head_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{321,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,139}}</string>
                <key>sourceSize</key>
                <string>{321,139}</string>
            </dict>
            <key>guandan_head_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,318},{178,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,244}}</string>
                <key>sourceSize</key>
                <string>{178,244}</string>
            </dict>
            <key>guandan_head_robot.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,979},{119,119}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{119,119}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>guandan_mark_index1.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,564},{57,59}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{57,59}}</string>
                <key>sourceSize</key>
                <string>{63,65}</string>
            </dict>
            <key>guandan_mark_index2.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1008},{57,59}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{57,59}}</string>
                <key>sourceSize</key>
                <string>{63,65}</string>
            </dict>
            <key>guandan_mark_index3.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,1072},{57,59}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{57,59}}</string>
                <key>sourceSize</key>
                <string>{63,65}</string>
            </dict>
            <key>guandan_mark_index4.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,1131},{57,59}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{57,59}}</string>
                <key>sourceSize</key>
                <string>{63,65}</string>
            </dict>
            <key>guandan_remain_card_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,390},{57,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{57,67}}</string>
                <key>sourceSize</key>
                <string>{61,71}</string>
            </dict>
            <key>guandan_remain_card_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,449},{61,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,71}}</string>
                <key>sourceSize</key>
                <string>{61,71}</string>
            </dict>
            <key>guandan_top_left_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1},{315,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,178}}</string>
                <key>sourceSize</key>
                <string>{315,178}</string>
            </dict>
            <key>guandan_top_left_opposite.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,895},{140,102}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{140,102}}</string>
                <key>sourceSize</key>
                <string>{140,110}</string>
            </dict>
            <key>guandan_top_left_self.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,999},{140,102}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{140,102}}</string>
                <key>sourceSize</key>
                <string>{140,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guandan_gaming.png</string>
            <key>size</key>
            <string>{503,1225}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab5a4cd7a38a91852a4cbb4ee43fa34a:1bcbbed81d8ac07dce08c57982dca648:324ab581cd7dfabac2dcffb49f86e655$</string>
            <key>textureFileName</key>
            <string>guandan_gaming.png</string>
        </dict>
    </dict>
</plist>
