<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guandan_top_left_opposite.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{140,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,100}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>guandan_top_left_self.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,103},{140,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,100}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>opposite_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1},{32,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,12}}</string>
                <key>sourceSize</key>
                <string>{32,12}</string>
            </dict>
            <key>opposite_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,186},{32,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,12}}</string>
                <key>sourceSize</key>
                <string>{32,12}</string>
            </dict>
            <key>self_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,278},{30,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,10}}</string>
                <key>sourceSize</key>
                <string>{30,10}</string>
            </dict>
            <key>self_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,35},{32,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,12}}</string>
                <key>sourceSize</key>
                <string>{32,12}</string>
            </dict>
            <key>ye0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1},{82,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,81}}</string>
                <key>sourceSize</key>
                <string>{82,81}</string>
            </dict>
            <key>ye0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,205},{92,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,71}}</string>
                <key>sourceSize</key>
                <string>{92,71}</string>
            </dict>
            <key>ye0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,84},{94,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,59}}</string>
                <key>sourceSize</key>
                <string>{94,59}</string>
            </dict>
            <key>ye0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,84},{100,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,43}}</string>
                <key>sourceSize</key>
                <string>{100,43}</string>
            </dict>
            <key>ye0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,180},{90,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,43}}</string>
                <key>sourceSize</key>
                <string>{90,43}</string>
            </dict>
            <key>ye0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,186},{88,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,43}}</string>
                <key>sourceSize</key>
                <string>{88,43}</string>
            </dict>
            <key>ye0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,205},{82,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,43}}</string>
                <key>sourceSize</key>
                <string>{82,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>leavlUp.png</string>
            <key>size</key>
            <string>{248,289}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:573801fdd18775f27e083db3cda2030d:919161da8428a9e39efaa9fa48889612:3e6e0fb629692f1d085d98255b2539bf$</string>
            <key>textureFileName</key>
            <string>leavlUp.png</string>
        </dict>
    </dict>
</plist>
