<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{160,203}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,203}}</string>
                <key>sourceSize</key>
                <string>{160,205}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,1},{160,203}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,203}}</string>
                <key>sourceSize</key>
                <string>{160,205}</string>
            </dict>
            <key>b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,91},{30,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{30,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>b_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,206},{34,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{34,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>b_10_hua.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,1},{122,139}}</string>
                <key>offset</key>
                <string>{14,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,59},{122,139}}</string>
                <key>sourceSize</key>
                <string>{160,205}</string>
            </dict>
            <key>b_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,206},{36,42}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{36,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>b_11_hua.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,142},{106,135}}</string>
                <key>offset</key>
                <string>{21,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,63},{106,135}}</string>
                <key>sourceSize</key>
                <string>{160,205}</string>
            </dict>
            <key>b_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,206},{44,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,40}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>b_12_hua.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,1},{134,133}}</string>
                <key>offset</key>
                <string>{7,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,65},{134,133}}</string>
                <key>sourceSize</key>
                <string>{160,205}</string>
            </dict>
            <key>b_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,206},{44,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,40}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,206},{32,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{32,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>b_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,206},{32,42}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{32,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>b_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,221},{30,42}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{30,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>b_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,206},{32,42}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{32,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>b_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1261,221},{30,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{30,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>b_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,206},{32,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{32,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>b_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,206},{32,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{32,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>b_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,206},{46,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{46,40}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1},{160,203}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,203}}</string>
                <key>sourceSize</key>
                <string>{160,205}</string>
            </dict>
            <key>face.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,1},{160,203}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,203}}</string>
                <key>sourceSize</key>
                <string>{160,205}</string>
            </dict>
            <key>fangkuai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,135},{84,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{84,84}}</string>
                <key>sourceSize</key>
                <string>{88,90}</string>
            </dict>
            <key>heitao.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,137},{88,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{88,90}</string>
            </dict>
            <key>hongtao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,136},{88,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,90}</string>
            </dict>
            <key>laizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,1},{88,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,90}</string>
            </dict>
            <key>meihua.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,136},{88,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{88,90}</string>
            </dict>
            <key>r_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,1},{30,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{30,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>r_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,206},{34,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{34,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>r_10_hua.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,1},{118,139}}</string>
                <key>offset</key>
                <string>{15,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,59},{118,139}}</string>
                <key>sourceSize</key>
                <string>{160,205}</string>
            </dict>
            <key>r_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,206},{36,42}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{36,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>r_11_hua.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,142},{106,135}}</string>
                <key>offset</key>
                <string>{21,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,63},{106,135}}</string>
                <key>sourceSize</key>
                <string>{160,205}</string>
            </dict>
            <key>r_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,206},{44,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,40}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>r_12_hua.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,1},{130,133}}</string>
                <key>offset</key>
                <string>{9,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,65},{130,133}}</string>
                <key>sourceSize</key>
                <string>{160,205}</string>
            </dict>
            <key>r_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,206},{44,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,40}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>r_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,206},{32,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{32,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>r_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,206},{32,42}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{32,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>r_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,45},{30,42}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{30,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>r_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,206},{32,42}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{32,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>r_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,89},{30,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{30,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>r_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,91},{32,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{32,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>r_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,91},{32,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{32,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>r_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,206},{46,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{46,40}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>poker.png</string>
            <key>size</key>
            <string>{1304,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb6eeee7ae3f9ba27e568485ee5c37ad:02d71389add470e4a6adcee0796a354f:7091b912c8b6d40e279854fb79f668a3$</string>
            <key>textureFileName</key>
            <string>poker.png</string>
        </dict>
    </dict>
</plist>
