<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guandan_wenzi_buchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,76},{123,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{123,73}}</string>
                <key>sourceSize</key>
                <string>{133,75}</string>
            </dict>
            <key>guandan_wenzi_cardNoRule.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1},{422,73}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{422,73}}</string>
                <key>sourceSize</key>
                <string>{438,75}</string>
            </dict>
            <key>guandan_wenzi_da.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,76},{229,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,87}}</string>
                <key>sourceSize</key>
                <string>{229,87}</string>
            </dict>
            <key>guandan_wenzi_donotLeaveme.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,170},{547,75}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{547,75}}</string>
                <key>sourceSize</key>
                <string>{561,75}</string>
            </dict>
            <key>guandan_wenzi_friendCards.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,76},{246,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{246,75}}</string>
                <key>sourceSize</key>
                <string>{256,75}</string>
            </dict>
            <key>guandan_wenzi_haveNoFlushBob.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,93},{306,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{306,75}}</string>
                <key>sourceSize</key>
                <string>{318,75}</string>
            </dict>
            <key>guandan_wenzi_mustChooseaCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,1},{366,73}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{366,73}}</string>
                <key>sourceSize</key>
                <string>{374,75}</string>
            </dict>
            <key>guandan_wenzi_noCardPass.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,170},{426,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{426,75}}</string>
                <key>sourceSize</key>
                <string>{438,75}</string>
            </dict>
            <key>guandan_wenzi_paytribut.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,153},{184,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{184,73}}</string>
                <key>sourceSize</key>
                <string>{190,75}</string>
            </dict>
            <key>guandan_wenzi_plyerLeave.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{699,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{699,90}}</string>
                <key>sourceSize</key>
                <string>{699,90}</string>
            </dict>
            <key>guandan_wenzi_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,76},{183,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{183,75}}</string>
                <key>sourceSize</key>
                <string>{193,75}</string>
            </dict>
            <key>guandan_wenzi_retTribute.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,165},{184,73}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{184,73}}</string>
                <key>sourceSize</key>
                <string>{190,75}</string>
            </dict>
            <key>guandan_wenzi_solitaire.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,1},{127,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{127,73}}</string>
                <key>sourceSize</key>
                <string>{133,75}</string>
            </dict>
            <key>guandan_wenzi_trusteeShip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,93},{605,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{605,75}}</string>
                <key>sourceSize</key>
                <string>{615,75}</string>
            </dict>
            <key>guandan_wenzi_wait.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,165},{186,73}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{186,73}}</string>
                <key>sourceSize</key>
                <string>{190,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wenzi.png</string>
            <key>size</key>
            <string>{1654,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04d2053dbed953074efc4517ff2eb0c6:6a608f90eb55e6a3d0a13354b07dcb95:148efa7d444af47228f9952c26ee8415$</string>
            <key>textureFileName</key>
            <string>wenzi.png</string>
        </dict>
    </dict>
</plist>
