<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>facial_cry_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,386},{110,125}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{110,125}}</string>
                <key>sourceSize</key>
                <string>{114,129}</string>
            </dict>
            <key>facial_cry_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,259},{112,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{112,125}}</string>
                <key>sourceSize</key>
                <string>{114,129}</string>
            </dict>
            <key>facial_cry_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{114,127}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{114,127}}</string>
                <key>sourceSize</key>
                <string>{114,129}</string>
            </dict>
            <key>facial_cry_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,130},{114,127}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{114,127}}</string>
                <key>sourceSize</key>
                <string>{114,129}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>facial_cry.png</string>
            <key>size</key>
            <string>{116,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0758ab9d651a2c056632a938780b81e:f66b8616d92c7754d0915be23ce4ed01:220f165e4763e433832cc71dac846f81$</string>
            <key>textureFileName</key>
            <string>facial_cry.png</string>
        </dict>
    </dict>
</plist>
