<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>facial_gratitude_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{159,113}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{159,113}}</string>
                <key>sourceSize</key>
                <string>{177,113}</string>
            </dict>
            <key>facial_gratitude_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1},{159,113}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{159,113}}</string>
                <key>sourceSize</key>
                <string>{177,113}</string>
            </dict>
            <key>facial_gratitude_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1},{165,111}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{165,111}}</string>
                <key>sourceSize</key>
                <string>{177,113}</string>
            </dict>
            <key>facial_gratitude_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1},{165,111}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{165,111}}</string>
                <key>sourceSize</key>
                <string>{177,113}</string>
            </dict>
            <key>facial_gratitude_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,1},{169,105}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{169,105}}</string>
                <key>sourceSize</key>
                <string>{177,113}</string>
            </dict>
            <key>facial_gratitude_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,1},{169,105}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{169,105}}</string>
                <key>sourceSize</key>
                <string>{177,113}</string>
            </dict>
            <key>facial_gratitude_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1},{165,111}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{165,111}}</string>
                <key>sourceSize</key>
                <string>{177,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>facial_gratitude.png</string>
            <key>size</key>
            <string>{998,115}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76e8a607fff302f9fb3a61e5fc278d94:07377289e32ac2f9b7638e36052767f0:a2f57b92a101f072a89339be00bfdf5a$</string>
            <key>textureFileName</key>
            <string>facial_gratitude.png</string>
        </dict>
    </dict>
</plist>
