<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>facial_yawn_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1},{115,124}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{115,124}}</string>
                <key>sourceSize</key>
                <string>{119,124}</string>
            </dict>
            <key>facial_yawn_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,1},{115,124}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{115,124}}</string>
                <key>sourceSize</key>
                <string>{119,124}</string>
            </dict>
            <key>facial_yawn_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1},{115,124}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{115,124}}</string>
                <key>sourceSize</key>
                <string>{119,124}</string>
            </dict>
            <key>facial_yawn_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,1},{113,124}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{113,124}}</string>
                <key>sourceSize</key>
                <string>{119,124}</string>
            </dict>
            <key>facial_yawn_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1},{113,124}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{113,124}}</string>
                <key>sourceSize</key>
                <string>{119,124}</string>
            </dict>
            <key>facial_yawn_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,1},{113,124}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{113,124}}</string>
                <key>sourceSize</key>
                <string>{119,124}</string>
            </dict>
            <key>facial_yawn_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,1},{113,124}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{113,124}}</string>
                <key>sourceSize</key>
                <string>{119,124}</string>
            </dict>
            <key>facial_yawn_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,1},{113,124}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{113,124}}</string>
                <key>sourceSize</key>
                <string>{119,124}</string>
            </dict>
            <key>facial_yawn_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{117,124}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{117,124}}</string>
                <key>sourceSize</key>
                <string>{119,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>facial_yawn.png</string>
            <key>size</key>
            <string>{1045,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c10bb9591e6d01ee83682c7ee7d93ac:f6d86f7b5c51e08ab7d63ea4daca53bd:41c1746ced3488eab51c8690f6c8dc69$</string>
            <key>textureFileName</key>
            <string>facial_yawn.png</string>
        </dict>
    </dict>
</plist>
