<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>facial_grimace_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1},{121,113}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{121,113}}</string>
                <key>sourceSize</key>
                <string>{129,113}</string>
            </dict>
            <key>facial_grimace_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1},{125,113}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,113}}</string>
                <key>sourceSize</key>
                <string>{129,113}</string>
            </dict>
            <key>facial_grimace_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1},{127,113}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,113}}</string>
                <key>sourceSize</key>
                <string>{129,113}</string>
            </dict>
            <key>facial_grimace_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,1},{121,113}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{121,113}}</string>
                <key>sourceSize</key>
                <string>{129,113}</string>
            </dict>
            <key>facial_grimace_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1},{125,113}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{125,113}}</string>
                <key>sourceSize</key>
                <string>{129,113}</string>
            </dict>
            <key>facial_grimace_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{129,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,113}}</string>
                <key>sourceSize</key>
                <string>{129,113}</string>
            </dict>
            <key>facial_grimace_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,1},{121,113}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{121,113}}</string>
                <key>sourceSize</key>
                <string>{129,113}</string>
            </dict>
            <key>facial_grimace_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,1},{125,113}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{125,113}}</string>
                <key>sourceSize</key>
                <string>{129,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>facial_grimace.png</string>
            <key>size</key>
            <string>{1010,115}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e514913fc8db41e3b5d26a8e55f3ed5:08e06eb521e3a9903c605cedd2b058f3:78ab0616b19a765660d96182b63a40c9$</string>
            <key>textureFileName</key>
            <string>facial_grimace.png</string>
        </dict>
    </dict>
</plist>
