<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>facial_proud_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,1},{97,113}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{97,113}}</string>
                <key>sourceSize</key>
                <string>{111,113}</string>
            </dict>
            <key>facial_proud_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1},{97,113}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{97,113}}</string>
                <key>sourceSize</key>
                <string>{111,113}</string>
            </dict>
            <key>facial_proud_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,1},{97,113}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{97,113}}</string>
                <key>sourceSize</key>
                <string>{111,113}</string>
            </dict>
            <key>facial_proud_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1},{107,113}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{107,113}}</string>
                <key>sourceSize</key>
                <string>{111,113}</string>
            </dict>
            <key>facial_proud_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,1},{107,113}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{107,113}}</string>
                <key>sourceSize</key>
                <string>{111,113}</string>
            </dict>
            <key>facial_proud_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{109,113}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{109,113}}</string>
                <key>sourceSize</key>
                <string>{111,113}</string>
            </dict>
            <key>facial_proud_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1},{107,113}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{107,113}}</string>
                <key>sourceSize</key>
                <string>{111,113}</string>
            </dict>
            <key>facial_proud_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,1},{107,113}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{107,113}}</string>
                <key>sourceSize</key>
                <string>{111,113}</string>
            </dict>
            <key>facial_proud_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1},{107,113}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{107,113}}</string>
                <key>sourceSize</key>
                <string>{111,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>facial_proud.png</string>
            <key>size</key>
            <string>{953,115}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4b02d716a8674504826bd3bf0c98de6:274a18a3a57f8af4caa2d696ea4b6363:df142f2579cba239a84aba099ad103f7$</string>
            <key>textureFileName</key>
            <string>facial_proud.png</string>
        </dict>
    </dict>
</plist>
