<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guandan_label_bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,259},{274,182}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,19},{274,182}}</string>
                <key>sourceSize</key>
                <string>{300,204}</string>
            </dict>
            <key>guandan_label_flush.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,136},{203,121}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{203,121}}</string>
                <key>sourceSize</key>
                <string>{225,129}</string>
            </dict>
            <key>guandan_label_jokerbomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{269,166}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,21},{269,166}}</string>
                <key>sourceSize</key>
                <string>{285,198}</string>
            </dict>
            <key>guandan_label_pair.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{249,147}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,19},{249,147}}</string>
                <key>sourceSize</key>
                <string>{281,173}</string>
            </dict>
            <key>guandan_label_straflush.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{291,136}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{291,136}}</string>
                <key>sourceSize</key>
                <string>{315,150}</string>
            </dict>
            <key>guandan_label_threetwo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,138}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{300,138}}</string>
                <key>sourceSize</key>
                <string>{324,156}</string>
            </dict>
            <key>guandan_label_triple.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{206,132}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{206,132}}</string>
                <key>sourceSize</key>
                <string>{216,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guandan_label.png</string>
            <key>size</key>
            <string>{512,597}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73fab9c1db994e92893f96a9aa47ddf5$</string>
            <key>textureFileName</key>
            <string>guandan_label.png</string>
        </dict>
    </dict>
</plist>
