<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anycard_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{1185,976},{160,203}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,203}}</string>
                <key>sourceSize</key>
                <string>{160,205}</string>
            </dict>
            <key>anycard_crack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,953},{44,96}}</string>
                <key>offset</key>
                <string>{-93,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{44,96}}</string>
                <key>sourceSize</key>
                <string>{230,132}</string>
            </dict>
            <key>anycard_crack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1243},{88,96}}</string>
                <key>offset</key>
                <string>{-71,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{88,96}}</string>
                <key>sourceSize</key>
                <string>{230,132}</string>
            </dict>
            <key>anycard_crack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,1248},{88,104}}</string>
                <key>offset</key>
                <string>{-71,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,25},{88,104}}</string>
                <key>sourceSize</key>
                <string>{230,132}</string>
            </dict>
            <key>anycard_crack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1225,1248},{142,108}}</string>
                <key>offset</key>
                <string>{-44,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{142,108}}</string>
                <key>sourceSize</key>
                <string>{230,132}</string>
            </dict>
            <key>anycard_crack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1067},{174,108}}</string>
                <key>offset</key>
                <string>{-28,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{174,108}}</string>
                <key>sourceSize</key>
                <string>{230,132}</string>
            </dict>
            <key>anycard_crack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1225,1138},{184,108}}</string>
                <key>offset</key>
                <string>{-23,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{184,108}}</string>
                <key>sourceSize</key>
                <string>{230,132}</string>
            </dict>
            <key>anycard_crack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,842},{216,132}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,132}}</string>
                <key>sourceSize</key>
                <string>{230,132}</string>
            </dict>
            <key>anycard_crack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,507},{230,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,132}}</string>
                <key>sourceSize</key>
                <string>{230,132}</string>
            </dict>
            <key>anycard_egg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1195,202},{234,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,303}}</string>
                <key>sourceSize</key>
                <string>{234,303}</string>
            </dict>
            <key>anycard_egg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1195,1},{235,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,199}}</string>
                <key>sourceSize</key>
                <string>{235,199}</string>
            </dict>
            <key>anycard_egg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,641},{219,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,199}}</string>
                <key>sourceSize</key>
                <string>{219,199}</string>
            </dict>
            <key>anycard_egg04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,1138},{199,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,84}}</string>
                <key>sourceSize</key>
                <string>{199,84}</string>
            </dict>
            <key>anycard_light0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,1421},{517,430}}</string>
                <key>offset</key>
                <string>{-23,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,166},{517,430}}</string>
                <key>sourceSize</key>
                <string>{751,710}</string>
            </dict>
            <key>anycard_light0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{611,508}}</string>
                <key>offset</key>
                <string>{-24,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,125},{611,508}}</string>
                <key>sourceSize</key>
                <string>{751,710}</string>
            </dict>
            <key>anycard_light0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1421},{523,516}}</string>
                <key>offset</key>
                <string>{-11,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,136},{523,516}}</string>
                <key>sourceSize</key>
                <string>{751,710}</string>
            </dict>
            <key>anycard_light0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,511},{569,554}}</string>
                <key>offset</key>
                <string>{-12,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,118},{569,554}}</string>
                <key>sourceSize</key>
                <string>{751,710}</string>
            </dict>
            <key>anycard_light0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1},{579,468}}</string>
                <key>offset</key>
                <string>{-9,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,108},{579,468}}</string>
                <key>sourceSize</key>
                <string>{751,710}</string>
            </dict>
            <key>anycard_light0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,953},{565,466}}</string>
                <key>offset</key>
                <string>{6,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,103},{565,466}}</string>
                <key>sourceSize</key>
                <string>{751,710}</string>
            </dict>
            <key>anycard_light0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,471},{573,480}}</string>
                <key>offset</key>
                <string>{6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,100},{573,480}}</string>
                <key>sourceSize</key>
                <string>{751,710}</string>
            </dict>
            <key>anycard_light0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,1421},{489,488}}</string>
                <key>offset</key>
                <string>{-40,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,97},{489,488}}</string>
                <key>sourceSize</key>
                <string>{751,710}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guandan_anycard_1.png</string>
            <key>size</key>
            <string>{1440,1945}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5df9d063ee95789e524b7b63e365a42:3e9bb872c336e0d6ed6bca550cd234b7:abe5a7cb6d3298f1967495f15aeaf0ee$</string>
            <key>textureFileName</key>
            <string>guandan_anycard_1.png</string>
        </dict>
    </dict>
</plist>
