<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guandan_jokbb10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,2},{497,415}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,31},{497,415}}</string>
                <key>sourceSize</key>
                <string>{587,479}</string>
            </dict>
            <key>guandan_jokbb10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,2},{513,423}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,31},{513,423}}</string>
                <key>sourceSize</key>
                <string>{587,479}</string>
            </dict>
            <key>guandan_jokbb10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,345},{527,455}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,7},{527,455}}</string>
                <key>sourceSize</key>
                <string>{587,479}</string>
            </dict>
            <key>guandan_jokbb10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,2},{543,443}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,8},{543,443}}</string>
                <key>sourceSize</key>
                <string>{587,479}</string>
            </dict>
            <key>guandan_jokbb10011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{557,341}}</string>
                <key>offset</key>
                <string>{0,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,118},{557,341}}</string>
                <key>sourceSize</key>
                <string>{587,479}</string>
            </dict>
            <key>guandan_jokbb10012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,427},{479,329}}</string>
                <key>offset</key>
                <string>{19,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,118},{479,329}}</string>
                <key>sourceSize</key>
                <string>{587,479}</string>
            </dict>
            <key>guandan_jokbb10013.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,447},{375,325}}</string>
                <key>offset</key>
                <string>{6,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,114},{375,325}}</string>
                <key>sourceSize</key>
                <string>{587,479}</string>
            </dict>
            <key>guandan_jokbb10014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1587,501},{375,325}}</string>
                <key>offset</key>
                <string>{6,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,114},{375,325}}</string>
                <key>sourceSize</key>
                <string>{587,479}</string>
            </dict>
            <key>guandan_jokbb10015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,758},{353,305}}</string>
                <key>offset</key>
                <string>{-1,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,133},{353,305}}</string>
                <key>sourceSize</key>
                <string>{587,479}</string>
            </dict>
            <key>guandan_jokbb10016.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,774},{319,305}}</string>
                <key>offset</key>
                <string>{-3,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,133},{319,305}}</string>
                <key>sourceSize</key>
                <string>{587,479}</string>
            </dict>
            <key>guandan_jokbb10017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,828},{301,297}}</string>
                <key>offset</key>
                <string>{-6,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,135},{301,297}}</string>
                <key>sourceSize</key>
                <string>{587,479}</string>
            </dict>
            <key>guandan_jokbb10018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{301,297}}</string>
                <key>offset</key>
                <string>{-6,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,135},{301,297}}</string>
                <key>sourceSize</key>
                <string>{587,479}</string>
            </dict>
            <key>guandan_jokbb10019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1153,1065},{291,299}}</string>
                <key>offset</key>
                <string>{-4,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,130},{291,299}}</string>
                <key>sourceSize</key>
                <string>{587,479}</string>
            </dict>
            <key>guandan_jokbb10020.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,1065},{291,299}}</string>
                <key>offset</key>
                <string>{-4,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,130},{291,299}}</string>
                <key>sourceSize</key>
                <string>{587,479}</string>
            </dict>
            <key>guandan_jokbb10021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1751,1113},{283,293}}</string>
                <key>offset</key>
                <string>{-5,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,133},{283,293}}</string>
                <key>sourceSize</key>
                <string>{587,479}</string>
            </dict>
            <key>guandan_jokbb10022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1751,828},{283,293}}</string>
                <key>offset</key>
                <string>{-5,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,133},{283,293}}</string>
                <key>sourceSize</key>
                <string>{587,479}</string>
            </dict>
            <key>guandan_jokbb10023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1733,1398},{273,285}}</string>
                <key>offset</key>
                <string>{-6,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,139},{273,285}}</string>
                <key>sourceSize</key>
                <string>{587,479}</string>
            </dict>
            <key>guandan_jokbb10024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,1127},{273,285}}</string>
                <key>offset</key>
                <string>{-6,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,139},{273,285}}</string>
                <key>sourceSize</key>
                <string>{587,479}</string>
            </dict>
            <key>guandan_jokbb10025.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,608},{155,183}}</string>
                <key>offset</key>
                <string>{10,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,213},{155,183}}</string>
                <key>sourceSize</key>
                <string>{587,479}</string>
            </dict>
            <key>guandan_jokbb10026.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,447},{159,187}}</string>
                <key>offset</key>
                <string>{10,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,210},{159,187}}</string>
                <key>sourceSize</key>
                <string>{587,479}</string>
            </dict>
            <key>guandan_jokbb10027.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,765},{159,177}}</string>
                <key>offset</key>
                <string>{10,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,221},{159,177}}</string>
                <key>sourceSize</key>
                <string>{587,479}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guandan_jokbb2.png</string>
            <key>size</key>
            <string>{2046,1673}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f702fb920d77ee2d98eada9b13eed8fb$</string>
            <key>textureFileName</key>
            <string>guandan_jokbb2.png</string>
        </dict>
    </dict>
</plist>
