<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guandan_straflush_chicken0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{299,366}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,0},{299,366}}</string>
                <key>sourceSize</key>
                <string>{379,366}</string>
            </dict>
            <key>guandan_straflush_chicken0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,303},{359,364}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,364}}</string>
                <key>sourceSize</key>
                <string>{379,366}</string>
            </dict>
            <key>guandan_straflush_chicken0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{379,364}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,364}}</string>
                <key>sourceSize</key>
                <string>{379,366}</string>
            </dict>
            <key>guandan_straflush_egg0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,414},{110,136}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,12},{110,136}}</string>
                <key>sourceSize</key>
                <string>{140,148}</string>
            </dict>
            <key>guandan_straflush_egg0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,298},{110,136}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{110,136}}</string>
                <key>sourceSize</key>
                <string>{140,148}</string>
            </dict>
            <key>guandan_straflush_egg0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,152},{110,144}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{110,144}}</string>
                <key>sourceSize</key>
                <string>{140,148}</string>
            </dict>
            <key>guandan_straflush_egg0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,2},{112,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{112,148}}</string>
                <key>sourceSize</key>
                <string>{140,148}</string>
            </dict>
            <key>guandan_straflush_egg0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,2},{140,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,148}}</string>
                <key>sourceSize</key>
                <string>{140,148}</string>
            </dict>
            <key>guandan_straflush_egg0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,144},{138,148}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{138,148}}</string>
                <key>sourceSize</key>
                <string>{140,148}</string>
            </dict>
            <key>guandan_straflush_egg0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,284},{128,146}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{128,146}}</string>
                <key>sourceSize</key>
                <string>{140,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guandan_straflush.png</string>
            <key>size</key>
            <string>{1015,664}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d1c2ce57075a761ff8ee35b2e436243$</string>
            <key>textureFileName</key>
            <string>guandan_straflush.png</string>
        </dict>
    </dict>
</plist>
