<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anycard_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,383},{410,205}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,8},{410,205}}</string>
                <key>sourceSize</key>
                <string>{454,225}</string>
            </dict>
            <key>anycard_shell0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,1329},{192,66}}</string>
                <key>offset</key>
                <string>{-18,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,155},{192,66}}</string>
                <key>sourceSize</key>
                <string>{398,364}</string>
            </dict>
            <key>anycard_shell0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,1177},{306,90}}</string>
                <key>offset</key>
                <string>{7,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,96},{306,90}}</string>
                <key>sourceSize</key>
                <string>{398,364}</string>
            </dict>
            <key>anycard_shell0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,1177},{344,150}}</string>
                <key>offset</key>
                <string>{6,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,66},{344,150}}</string>
                <key>sourceSize</key>
                <string>{398,364}</string>
            </dict>
            <key>anycard_shell0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,1},{380,212}}</string>
                <key>offset</key>
                <string>{-6,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,47},{380,212}}</string>
                <key>sourceSize</key>
                <string>{398,364}</string>
            </dict>
            <key>anycard_shell0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,795},{380,312}}</string>
                <key>offset</key>
                <string>{-6,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{380,312}}</string>
                <key>sourceSize</key>
                <string>{398,364}</string>
            </dict>
            <key>anycard_shell0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,383},{356,72}}</string>
                <key>offset</key>
                <string>{-18,113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,33},{356,72}}</string>
                <key>sourceSize</key>
                <string>{398,364}</string>
            </dict>
            <key>anycard_smog0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1171},{548,230}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,20},{548,230}}</string>
                <key>sourceSize</key>
                <string>{742,268}</string>
            </dict>
            <key>anycard_smog0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,949},{606,220}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,29},{606,220}}</string>
                <key>sourceSize</key>
                <string>{742,268}</string>
            </dict>
            <key>anycard_smog0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,711},{656,236}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,12},{656,236}}</string>
                <key>sourceSize</key>
                <string>{742,268}</string>
            </dict>
            <key>anycard_smog0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,235},{692,238}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,10},{692,238}}</string>
                <key>sourceSize</key>
                <string>{742,268}</string>
            </dict>
            <key>anycard_smog0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,475},{690,234}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,7},{690,234}}</string>
                <key>sourceSize</key>
                <string>{742,268}</string>
            </dict>
            <key>anycard_smog0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{710,232}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{710,232}}</string>
                <key>sourceSize</key>
                <string>{742,268}</string>
            </dict>
            <key>anycard_smog0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1403},{740,92}}</string>
                <key>offset</key>
                <string>{-1,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{740,92}}</string>
                <key>sourceSize</key>
                <string>{742,268}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guandan_anycard_2.png</string>
            <key>size</key>
            <string>{988,1496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e816b69ee5f5272cd995e14852e31a32:efcec3be39f5c04eb6c3639d1206b17a:636a04a2160178f24277d159f48f1fd9$</string>
            <key>textureFileName</key>
            <string>guandan_anycard_2.png</string>
        </dict>
    </dict>
</plist>
