<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gangban_collision_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,1},{392,707}}</string>
                <key>offset</key>
                <string>{-2,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,106},{392,707}}</string>
                <key>sourceSize</key>
                <string>{812,829}</string>
            </dict>
            <key>gangban_collision_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,805},{474,593}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,125},{474,593}}</string>
                <key>sourceSize</key>
                <string>{812,829}</string>
            </dict>
            <key>gangban_collision_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,805},{580,571}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,128},{580,571}}</string>
                <key>sourceSize</key>
                <string>{812,829}</string>
            </dict>
            <key>gangban_collision_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,650},{566,631}}</string>
                <key>offset</key>
                <string>{-2,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,49},{566,631}}</string>
                <key>sourceSize</key>
                <string>{812,829}</string>
            </dict>
            <key>gangban_collision_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{688,647}}</string>
                <key>offset</key>
                <string>{-2,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,13},{688,647}}</string>
                <key>sourceSize</key>
                <string>{812,829}</string>
            </dict>
            <key>gangban_collision_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,1},{752,427}}</string>
                <key>offset</key>
                <string>{-2,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,145},{752,427}}</string>
                <key>sourceSize</key>
                <string>{812,829}</string>
            </dict>
            <key>gangban_collision_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,430},{752,373}}</string>
                <key>offset</key>
                <string>{-2,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,129},{752,373}}</string>
                <key>sourceSize</key>
                <string>{812,829}</string>
            </dict>
            <key>gangban_collision_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,1378},{752,175}}</string>
                <key>offset</key>
                <string>{-2,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,226},{752,175}}</string>
                <key>sourceSize</key>
                <string>{812,829}</string>
            </dict>
            <key>gangban_collision_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1283},{754,189}}</string>
                <key>offset</key>
                <string>{-2,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,206},{754,189}}</string>
                <key>sourceSize</key>
                <string>{812,829}</string>
            </dict>
            <key>gangban_collision_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1474},{806,33}}</string>
                <key>offset</key>
                <string>{-2,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,358},{806,33}}</string>
                <key>sourceSize</key>
                <string>{812,829}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guandan_gangban_1.png</string>
            <key>size</key>
            <string>{1838,1554}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a007ec81c56301bb53225c71b628b53:31b3f07f8c23265eb6baeae297bfe7a2:058a54ece5522c003791e84f5f13beff$</string>
            <key>textureFileName</key>
            <string>guandan_gangban_1.png</string>
        </dict>
    </dict>
</plist>
