<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guandan_light10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,2},{324,76}}</string>
                <key>offset</key>
                <string>{10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,76},{324,76}}</string>
                <key>sourceSize</key>
                <string>{560,204}</string>
            </dict>
            <key>guandan_light10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,80},{306,86}}</string>
                <key>offset</key>
                <string>{9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,71},{306,86}}</string>
                <key>sourceSize</key>
                <string>{560,204}</string>
            </dict>
            <key>guandan_light10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,728},{360,96}}</string>
                <key>offset</key>
                <string>{14,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,68},{360,96}}</string>
                <key>sourceSize</key>
                <string>{560,204}</string>
            </dict>
            <key>guandan_light10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,728},{442,118}}</string>
                <key>offset</key>
                <string>{15,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,57},{442,118}}</string>
                <key>sourceSize</key>
                <string>{560,204}</string>
            </dict>
            <key>guandan_light10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,586},{524,140}}</string>
                <key>offset</key>
                <string>{17,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,45},{524,140}}</string>
                <key>sourceSize</key>
                <string>{560,204}</string>
            </dict>
            <key>guandan_light10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,418},{536,166}}</string>
                <key>offset</key>
                <string>{12,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,34},{536,166}}</string>
                <key>sourceSize</key>
                <string>{560,204}</string>
            </dict>
            <key>guandan_light10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{546,166}}</string>
                <key>offset</key>
                <string>{7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{546,166}}</string>
                <key>sourceSize</key>
                <string>{560,204}</string>
            </dict>
            <key>guandan_light10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{558,166}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,33},{558,166}}</string>
                <key>sourceSize</key>
                <string>{560,204}</string>
            </dict>
            <key>guandan_light10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,232},{560,172}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{560,172}}</string>
                <key>sourceSize</key>
                <string>{560,204}</string>
            </dict>
            <key>guandan_light10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,228},{560,188}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{560,188}}</string>
                <key>sourceSize</key>
                <string>{560,204}</string>
            </dict>
            <key>guandan_light10011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1232},{374,196}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,8},{374,196}}</string>
                <key>sourceSize</key>
                <string>{560,204}</string>
            </dict>
            <key>guandan_light10012.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,1038},{384,196}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,8},{384,196}}</string>
                <key>sourceSize</key>
                <string>{560,204}</string>
            </dict>
            <key>guandan_light10013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,1040},{392,204}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,0},{392,204}}</string>
                <key>sourceSize</key>
                <string>{560,204}</string>
            </dict>
            <key>guandan_light10014.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,840},{392,196}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,8},{392,196}}</string>
                <key>sourceSize</key>
                <string>{560,204}</string>
            </dict>
            <key>guandan_light10015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,836},{396,202}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,2},{396,202}}</string>
                <key>sourceSize</key>
                <string>{560,204}</string>
            </dict>
            <key>guandan_light10016.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,840},{374,158}}</string>
                <key>offset</key>
                <string>{11,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,37},{374,158}}</string>
                <key>sourceSize</key>
                <string>{560,204}</string>
            </dict>
            <key>guandan_light20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{539,236}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{539,236}}</string>
                <key>sourceSize</key>
                <string>{569,238}</string>
            </dict>
            <key>guandan_light20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{569,230}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{569,230}}</string>
                <key>sourceSize</key>
                <string>{569,238}</string>
            </dict>
            <key>guandan_light20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,2},{569,228}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{569,228}}</string>
                <key>sourceSize</key>
                <string>{569,238}</string>
            </dict>
            <key>guandan_light20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,2},{565,224}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{565,224}}</string>
                <key>sourceSize</key>
                <string>{569,238}</string>
            </dict>
            <key>guandan_light20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,406},{541,218}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{541,218}}</string>
                <key>sourceSize</key>
                <string>{569,238}</string>
            </dict>
            <key>guandan_light20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,626},{503,212}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,16},{503,212}}</string>
                <key>sourceSize</key>
                <string>{569,238}</string>
            </dict>
            <key>guandan_light20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,808},{463,210}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,18},{463,210}}</string>
                <key>sourceSize</key>
                <string>{569,238}</string>
            </dict>
            <key>guandan_light20008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1619,624},{427,210}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,17},{427,210}}</string>
                <key>sourceSize</key>
                <string>{569,238}</string>
            </dict>
            <key>guandan_light20009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1020},{387,210}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,16},{387,210}}</string>
                <key>sourceSize</key>
                <string>{569,238}</string>
            </dict>
            <key>guandan_light20010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,848},{343,224}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,6},{343,224}}</string>
                <key>sourceSize</key>
                <string>{569,238}</string>
            </dict>
            <key>guandan_light20011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,168},{289,226}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,5},{289,226}}</string>
                <key>sourceSize</key>
                <string>{569,238}</string>
            </dict>
            <key>guandan_light20012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,396},{255,226}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,6},{255,226}}</string>
                <key>sourceSize</key>
                <string>{569,238}</string>
            </dict>
            <key>guandan_light20013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,1090},{253,226}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,7},{253,226}}</string>
                <key>sourceSize</key>
                <string>{569,238}</string>
            </dict>
            <key>guandan_light20014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,1074},{253,228}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,6},{253,228}}</string>
                <key>sourceSize</key>
                <string>{569,238}</string>
            </dict>
            <key>guandan_light20015.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1236},{229,224}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,8},{229,224}}</string>
                <key>sourceSize</key>
                <string>{569,238}</string>
            </dict>
            <key>guandan_light20016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,1304},{231,222}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,9},{231,222}}</string>
                <key>sourceSize</key>
                <string>{569,238}</string>
            </dict>
            <key>guandan_light20017.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,1216},{235,220}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,10},{235,220}}</string>
                <key>sourceSize</key>
                <string>{569,238}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guandan_light.png</string>
            <key>size</key>
            <string>{2048,1528}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c04968c6b28fc1654002f703f3f02872$</string>
            <key>textureFileName</key>
            <string>guandan_light.png</string>
        </dict>
    </dict>
</plist>
