<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guandan_bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,835},{88,97}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{88,97}}</string>
                <key>sourceSize</key>
                <string>{88,101}</string>
            </dict>
            <key>guandan_bomb0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1561,1},{393,366}}</string>
                <key>offset</key>
                <string>{-2,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,105},{393,366}}</string>
                <key>sourceSize</key>
                <string>{611,516}</string>
            </dict>
            <key>guandan_bomb0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,412},{393,374}}</string>
                <key>offset</key>
                <string>{-2,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,105},{393,374}}</string>
                <key>sourceSize</key>
                <string>{611,516}</string>
            </dict>
            <key>guandan_bomb0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,424},{409,396}}</string>
                <key>offset</key>
                <string>{-2,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,84},{409,396}}</string>
                <key>sourceSize</key>
                <string>{611,516}</string>
            </dict>
            <key>guandan_bomb0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,1},{409,396}}</string>
                <key>offset</key>
                <string>{-2,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,84},{409,396}}</string>
                <key>sourceSize</key>
                <string>{611,516}</string>
            </dict>
            <key>guandan_bomb0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,1},{421,410}}</string>
                <key>offset</key>
                <string>{-2,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,75},{421,410}}</string>
                <key>sourceSize</key>
                <string>{611,516}</string>
            </dict>
            <key>guandan_bomb0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,501},{421,418}}</string>
                <key>offset</key>
                <string>{-2,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,76},{421,418}}</string>
                <key>sourceSize</key>
                <string>{611,516}</string>
            </dict>
            <key>guandan_bomb0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,509},{357,466}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,33},{357,466}}</string>
                <key>sourceSize</key>
                <string>{611,516}</string>
            </dict>
            <key>guandan_bomb0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,501},{357,474}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,34},{357,474}}</string>
                <key>sourceSize</key>
                <string>{611,516}</string>
            </dict>
            <key>guandan_bomb0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{357,506}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,6},{357,506}}</string>
                <key>sourceSize</key>
                <string>{611,516}</string>
            </dict>
            <key>guandan_bomb0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1},{389,498}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,7},{389,498}}</string>
                <key>sourceSize</key>
                <string>{611,516}</string>
            </dict>
            <key>guandan_bomb_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,424},{187,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,60}}</string>
                <key>sourceSize</key>
                <string>{189,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guandan_bombs_1.png</string>
            <key>size</key>
            <string>{1928,976}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88bd9440a819082ce8d242da435ebf4b:b8361417ae64e51d3b6dac8616c412ed:88c687a89e35961ca6bf3aaeb52b64e0$</string>
            <key>textureFileName</key>
            <string>guandan_bombs_1.png</string>
        </dict>
    </dict>
</plist>
