<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guandan_pair_chicken_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,336},{165,227}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,28},{165,227}}</string>
                <key>sourceSize</key>
                <string>{237,285}</string>
            </dict>
            <key>guandan_pair_chicken_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,173},{161,235}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,21},{161,235}}</string>
                <key>sourceSize</key>
                <string>{237,285}</string>
            </dict>
            <key>guandan_pair_chicken_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{169,235}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,21},{169,235}}</string>
                <key>sourceSize</key>
                <string>{237,285}</string>
            </dict>
            <key>guandan_pair_smog_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,449},{206,89}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,38},{206,89}}</string>
                <key>sourceSize</key>
                <string>{480,175}</string>
            </dict>
            <key>guandan_pair_smog_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{356,137}}</string>
                <key>offset</key>
                <string>{-8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,29},{356,137}}</string>
                <key>sourceSize</key>
                <string>{480,175}</string>
            </dict>
            <key>guandan_pair_smog_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{370,143}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,17},{370,143}}</string>
                <key>sourceSize</key>
                <string>{480,175}</string>
            </dict>
            <key>guandan_pair_smog_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{370,161}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,1},{370,161}}</string>
                <key>sourceSize</key>
                <string>{480,175}</string>
            </dict>
            <key>guandan_pair_smog_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,302},{368,149}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,10},{368,149}}</string>
                <key>sourceSize</key>
                <string>{480,175}</string>
            </dict>
            <key>guandan_pair_smog_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{370,151}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,5},{370,151}}</string>
                <key>sourceSize</key>
                <string>{480,175}</string>
            </dict>
            <key>guandan_pair_smog_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,155},{370,145}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,6},{370,145}}</string>
                <key>sourceSize</key>
                <string>{480,175}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guandan_pair.png</string>
            <key>size</key>
            <string>{983,540}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d607ab294f0786e79386d4dbfadfee6$</string>
            <key>textureFileName</key>
            <string>guandan_pair.png</string>
        </dict>
    </dict>
</plist>
