<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>refusetri_joker.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,2},{158,203}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{158,203}}</string>
                <key>sourceSize</key>
                <string>{160,205}</string>
            </dict>
            <key>refusetri_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,207},{208,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,123}}</string>
                <key>sourceSize</key>
                <string>{208,123}</string>
            </dict>
            <key>refusetri_light0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1194},{1292,514}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,51},{1292,514}}</string>
                <key>sourceSize</key>
                <string>{1326,602}</string>
            </dict>
            <key>refusetri_light0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,2},{1286,564}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,26},{1286,564}}</string>
                <key>sourceSize</key>
                <string>{1326,602}</string>
            </dict>
            <key>refusetri_light0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1306,454}}</string>
                <key>offset</key>
                <string>{-2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,50},{1306,454}}</string>
                <key>sourceSize</key>
                <string>{1326,602}</string>
            </dict>
            <key>refusetri_light0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{1294,436}}</string>
                <key>offset</key>
                <string>{-2,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,45},{1294,436}}</string>
                <key>sourceSize</key>
                <string>{1326,602}</string>
            </dict>
            <key>refusetri_light0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{1296,296}}</string>
                <key>offset</key>
                <string>{-2,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,115},{1296,296}}</string>
                <key>sourceSize</key>
                <string>{1326,602}</string>
            </dict>
            <key>refusetri_light0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1710},{830,286}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,140},{830,286}}</string>
                <key>sourceSize</key>
                <string>{1326,602}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guandan_refusetri.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61d301f85667c7610c92fc4308912a1d$</string>
            <key>textureFileName</key>
            <string>guandan_refusetri.png</string>
        </dict>
    </dict>
</plist>
