<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guandan_bomb0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,1},{517,384}}</string>
                <key>offset</key>
                <string>{34,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,130},{517,384}}</string>
                <key>sourceSize</key>
                <string>{611,516}</string>
            </dict>
            <key>guandan_bomb0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{539,370}}</string>
                <key>offset</key>
                <string>{23,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,130},{539,370}}</string>
                <key>sourceSize</key>
                <string>{611,516}</string>
            </dict>
            <key>guandan_bomb0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1061,1},{299,350}}</string>
                <key>offset</key>
                <string>{-6,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,127},{299,350}}</string>
                <key>sourceSize</key>
                <string>{611,516}</string>
            </dict>
            <key>guandan_bomb0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,1},{299,310}}</string>
                <key>offset</key>
                <string>{-6,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,127},{299,310}}</string>
                <key>sourceSize</key>
                <string>{611,516}</string>
            </dict>
            <key>guandan_bomb0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,387},{175,184}}</string>
                <key>offset</key>
                <string>{14,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,253},{175,184}}</string>
                <key>sourceSize</key>
                <string>{611,516}</string>
            </dict>
            <key>guandan_bomb0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,373},{159,190}}</string>
                <key>offset</key>
                <string>{5,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,248},{159,190}}</string>
                <key>sourceSize</key>
                <string>{611,516}</string>
            </dict>
            <key>guandan_bomb0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,373},{165,190}}</string>
                <key>offset</key>
                <string>{7,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,248},{165,190}}</string>
                <key>sourceSize</key>
                <string>{611,516}</string>
            </dict>
            <key>guandan_bomb0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,313},{169,194}}</string>
                <key>offset</key>
                <string>{9,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,245},{169,194}}</string>
                <key>sourceSize</key>
                <string>{611,516}</string>
            </dict>
            <key>guandan_bomb0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,387},{169,200}}</string>
                <key>offset</key>
                <string>{11,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,241},{169,200}}</string>
                <key>sourceSize</key>
                <string>{611,516}</string>
            </dict>
            <key>guandan_bomb0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,387},{173,202}}</string>
                <key>offset</key>
                <string>{12,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,240},{173,202}}</string>
                <key>sourceSize</key>
                <string>{611,516}</string>
            </dict>
            <key>guandan_bomb0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,373},{177,208}}</string>
                <key>offset</key>
                <string>{12,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,236},{177,208}}</string>
                <key>sourceSize</key>
                <string>{611,516}</string>
            </dict>
            <key>guandan_bomb0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,353},{181,212}}</string>
                <key>offset</key>
                <string>{12,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,233},{181,212}}</string>
                <key>sourceSize</key>
                <string>{611,516}</string>
            </dict>
            <key>guandan_bomb0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,313},{179,200}}</string>
                <key>offset</key>
                <string>{13,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,246},{179,200}}</string>
                <key>sourceSize</key>
                <string>{611,516}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guandan_bombs_2.png</string>
            <key>size</key>
            <string>{1734,564}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efba3a6414eaa12653efe94fe96bcfb2:77288852b1cdabc42ff3994ba3e8c58a:4667beeadd036217e28bdece21ed9ff4$</string>
            <key>textureFileName</key>
            <string>guandan_bombs_2.png</string>
        </dict>
    </dict>
</plist>
