<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gangban_chicken1.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,317},{196,175}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,175}}</string>
                <key>sourceSize</key>
                <string>{210,175}</string>
            </dict>
            <key>gangban_chicken2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,317},{204,175}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{204,175}}</string>
                <key>sourceSize</key>
                <string>{210,175}</string>
            </dict>
            <key>gangban_door.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{262,314}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,314}}</string>
                <key>sourceSize</key>
                <string>{264,316}</string>
            </dict>
            <key>gangban_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,1},{285,162}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{285,162}}</string>
                <key>sourceSize</key>
                <string>{295,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guandan_gangban.png</string>
            <key>size</key>
            <string>{428,493}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:322f1dd690e41e6e13ee845efa275282:e54c9c0b0646f49bb4b8bad3fdac38f1:921041c6403c437b8f9e20c4c90a114b$</string>
            <key>textureFileName</key>
            <string>guandan_gangban.png</string>
        </dict>
    </dict>
</plist>
