<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gd_person_book_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,1021},{241,568}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,568}}</string>
                <key>sourceSize</key>
                <string>{241,568}</string>
            </dict>
            <key>gd_person_book_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1021},{318,661}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,661}}</string>
                <key>sourceSize</key>
                <string>{318,661}</string>
            </dict>
            <key>gd_person_flower.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,119},{107,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,114}}</string>
                <key>sourceSize</key>
                <string>{107,114}</string>
            </dict>
            <key>gd_person_ink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1021},{884,730}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{884,730}}</string>
                <key>sourceSize</key>
                <string>{884,730}</string>
            </dict>
            <key>gd_person_lightbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1902,1017}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1902,1017}}</string>
                <key>sourceSize</key>
                <string>{1902,1017}</string>
            </dict>
            <key>gd_person_mastericon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,603},{71,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,42}}</string>
                <key>sourceSize</key>
                <string>{71,42}</string>
            </dict>
            <key>gd_person_settletext.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,1684},{204,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,308}}</string>
                <key>sourceSize</key>
                <string>{204,308}</string>
            </dict>
            <key>gd_person_wintag.png</key>
            <dict>
                <key>frame</key>
                <string>{{1979,603},{65,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,64}}</string>
                <key>sourceSize</key>
                <string>{65,64}</string>
            </dict>
            <key>kuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1684},{334,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,151}}</string>
                <key>sourceSize</key>
                <string>{334,151}</string>
            </dict>
            <key>kuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,1591},{191,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,255}}</string>
                <key>sourceSize</key>
                <string>{191,255}</string>
            </dict>
            <key>leave.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,2},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>personRoomId.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,228},{373,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{373,113}}</string>
                <key>sourceSize</key>
                <string>{373,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>personal.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8cda118a834706fe2d864482636a020b$</string>
            <key>textureFileName</key>
            <string>personal.png</string>
        </dict>
    </dict>
</plist>
