<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>niu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1},{244,134}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,14},{244,134}}</string>
                <key>sourceSize</key>
                <string>{310,168}</string>
            </dict>
            <key>niu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,141},{250,140}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,14},{250,140}}</string>
                <key>sourceSize</key>
                <string>{310,168}</string>
            </dict>
            <key>niu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,1},{298,138}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,20},{298,138}}</string>
                <key>sourceSize</key>
                <string>{310,168}</string>
            </dict>
            <key>niu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,425},{286,152}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,1},{286,152}}</string>
                <key>sourceSize</key>
                <string>{310,168}</string>
            </dict>
            <key>niu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,567},{390,156}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{390,156}}</string>
                <key>sourceSize</key>
                <string>{428,168}</string>
            </dict>
            <key>niu_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,567},{390,156}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{390,156}}</string>
                <key>sourceSize</key>
                <string>{428,168}</string>
            </dict>
            <key>niu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,141},{254,140}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,14},{254,140}}</string>
                <key>sourceSize</key>
                <string>{310,168}</string>
            </dict>
            <key>niu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,271},{254,140}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,14},{254,140}}</string>
                <key>sourceSize</key>
                <string>{310,168}</string>
            </dict>
            <key>niu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,283},{254,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,14},{254,140}}</string>
                <key>sourceSize</key>
                <string>{310,168}</string>
            </dict>
            <key>niu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,283},{252,140}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,14},{252,140}}</string>
                <key>sourceSize</key>
                <string>{310,168}</string>
            </dict>
            <key>niu_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,283},{254,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,14},{254,140}}</string>
                <key>sourceSize</key>
                <string>{310,168}</string>
            </dict>
            <key>niu_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,425},{260,140}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,14},{260,140}}</string>
                <key>sourceSize</key>
                <string>{310,168}</string>
            </dict>
            <key>niu_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,425},{260,140}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,14},{260,140}}</string>
                <key>sourceSize</key>
                <string>{310,168}</string>
            </dict>
            <key>niu_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,425},{260,140}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,14},{260,140}}</string>
                <key>sourceSize</key>
                <string>{310,168}</string>
            </dict>
            <key>niu_shu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{396,130}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,130}}</string>
                <key>sourceSize</key>
                <string>{396,136}</string>
            </dict>
            <key>niu_ying.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,133},{396,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,136}}</string>
                <key>sourceSize</key>
                <string>{396,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>niu.png</string>
            <key>size</key>
            <string>{1022,724}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a59a06b50507640dc566a2e23d84bc4:be2ddb8c26ae3d4dcaec4f91120d581f:1cf054b138497af11bfd3718db16dd66$</string>
            <key>textureFileName</key>
            <string>niu.png</string>
        </dict>
    </dict>
</plist>
