<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CalculationDi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,202},{674,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{674,135}}</string>
                <key>sourceSize</key>
                <string>{674,135}</string>
            </dict>
            <key>CalculationKuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1353,509},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>banker.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,448},{86,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,83}}</string>
                <key>sourceSize</key>
                <string>{86,83}</string>
            </dict>
            <key>bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,509},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>btnChange.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,417},{259,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,82}}</string>
                <key>sourceSize</key>
                <string>{259,82}</string>
            </dict>
            <key>btnShop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,501},{256,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,82}}</string>
                <key>sourceSize</key>
                <string>{256,82}</string>
            </dict>
            <key>btnbuy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1835,464},{74,75}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{74,75}}</string>
                <key>sourceSize</key>
                <string>{88,83}</string>
            </dict>
            <key>btnchat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1517,282},{202,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,81}}</string>
                <key>sourceSize</key>
                <string>{202,81}</string>
            </dict>
            <key>btnchat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1517,365},{202,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,81}}</string>
                <key>sourceSize</key>
                <string>{202,81}</string>
            </dict>
            <key>btngreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,413},{251,113}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,113}}</string>
                <key>sourceSize</key>
                <string>{251,117}</string>
            </dict>
            <key>btnorange.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,528},{251,113}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,113}}</string>
                <key>sourceSize</key>
                <string>{251,117}</string>
            </dict>
            <key>bullfight_btn_orange1.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,390},{251,113}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,113}}</string>
                <key>sourceSize</key>
                <string>{251,117}</string>
            </dict>
            <key>buttomkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1920,96}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{1920,96}}</string>
                <key>sourceSize</key>
                <string>{1920,102}</string>
            </dict>
            <key>choosebei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,99},{366,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,72}}</string>
                <key>sourceSize</key>
                <string>{366,72}</string>
            </dict>
            <key>countdownback.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,388},{119,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,120}}</string>
                <key>sourceSize</key>
                <string>{119,120}</string>
            </dict>
            <key>countdownup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1403,274},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1835,541},{73,74}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{73,74}}</string>
                <key>sourceSize</key>
                <string>{81,82}</string>
            </dict>
            <key>exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,286},{64,99}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,7},{64,99}}</string>
                <key>sourceSize</key>
                <string>{106,117}</string>
            </dict>
            <key>goldtiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1123,359},{268,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,56}}</string>
                <key>sourceSize</key>
                <string>{268,56}</string>
            </dict>
            <key>goldtiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,405},{166,57}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{166,57}}</string>
                <key>sourceSize</key>
                <string>{166,59}</string>
            </dict>
            <key>guandan_dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,202},{18,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{18,27}}</string>
                <key>sourceSize</key>
                <string>{18,75}</string>
            </dict>
            <key>have_niu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,464},{111,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,58}}</string>
                <key>sourceSize</key>
                <string>{111,58}</string>
            </dict>
            <key>headheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,249},{321,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,139}}</string>
                <key>sourceSize</key>
                <string>{321,139}</string>
            </dict>
            <key>headhengkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,413},{324,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,140}}</string>
                <key>sourceSize</key>
                <string>{324,140}</string>
            </dict>
            <key>headshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,390},{178,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,244}}</string>
                <key>sourceSize</key>
                <string>{178,244}</string>
            </dict>
            <key>headshukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,390},{179,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,246}}</string>
                <key>sourceSize</key>
                <string>{179,246}</string>
            </dict>
            <key>light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,536},{97,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,105}}</string>
                <key>sourceSize</key>
                <string>{97,105}</string>
            </dict>
            <key>littlekuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1123,274},{278,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,83}}</string>
                <key>sourceSize</key>
                <string>{278,83}</string>
            </dict>
            <key>match_waitting.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,99},{725,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{725,75}}</string>
                <key>sourceSize</key>
                <string>{725,75}</string>
            </dict>
            <key>menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1735,524},{98,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{98,117}}</string>
                <key>sourceSize</key>
                <string>{106,117}</string>
            </dict>
            <key>menutiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1153,176},{96,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{96,362}}</string>
                <key>sourceSize</key>
                <string>{96,368}</string>
            </dict>
            <key>newgame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,555},{363,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,72}}</string>
                <key>sourceSize</key>
                <string>{363,72}</string>
            </dict>
            <key>no_niu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,173},{111,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,57}}</string>
                <key>sourceSize</key>
                <string>{111,57}</string>
            </dict>
            <key>otherkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,249},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>ourkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,282},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>over.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,99},{784,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{784,101}}</string>
                <key>sourceSize</key>
                <string>{784,101}</string>
            </dict>
            <key>rabot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1515,448},{119,119}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{119,119}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>reset.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,339},{72,99}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,7},{72,99}}</string>
                <key>sourceSize</key>
                <string>{106,117}</string>
            </dict>
            <key>sidelines.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,585},{112,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,39}}</string>
                <key>sourceSize</key>
                <string>{112,39}</string>
            </dict>
            <key>tipsPao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1517,173},{333,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,107}}</string>
                <key>sourceSize</key>
                <string>{333,107}</string>
            </dict>
            <key>waitothers.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,176},{364,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,71}}</string>
                <key>sourceSize</key>
                <string>{364,71}</string>
            </dict>
            <key>waitotherthink.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,339},{483,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{483,72}}</string>
                <key>sourceSize</key>
                <string>{483,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>others.png</string>
            <key>size</key>
            <string>{1922,642}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69319caf533c674f6faaa0e89bba1bc3:88fbad8a4244e59e75dfbedb69a37e2a:ddbf81f48aabe37f7be37472eca089e2$</string>
            <key>textureFileName</key>
            <string>others.png</string>
        </dict>
    </dict>
</plist>
