<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_fistCharge_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1158},{756,509}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{756,509}}</string>
                <key>sourceSize</key>
                <string>{764,517}</string>
            </dict>
            <key>hall_fistCharge_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{131,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,131}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>hall_fistCharge_mm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,580},{491,576}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,576}}</string>
                <key>sourceSize</key>
                <string>{491,576}</string>
            </dict>
            <key>hall_fistCharge_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1},{577,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{577,282}}</string>
                <key>sourceSize</key>
                <string>{577,282}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>firstCharge_plist.png</string>
            <key>size</key>
            <string>{511,1915}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0abae90cdc3081cb82b29cf791e03f7:8f1fb8f8da6e5c770e4982ca488a2ad7:58aef77856f7efde4fcdac4c95459fa1$</string>
            <key>textureFileName</key>
            <string>firstCharge_plist.png</string>
        </dict>
    </dict>
</plist>
