<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_ad_default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,399}</string>
                <key>spriteSourceSize</key>
                <string>{231,399}</string>
                <key>textureRect</key>
                <string>{{1,1},{231,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_notice_horn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,47}</string>
                <key>spriteSourceSize</key>
                <string>{49,47}</string>
                <key>textureRect</key>
                <string>{{274,453},{49,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hall_room_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,251}</string>
                <key>spriteSourceSize</key>
                <string>{252,251}</string>
                <key>textureRect</key>
                <string>{{1465,1},{252,251}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hall_room_high.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,383}</string>
                <key>spriteSourceSize</key>
                <string>{292,383}</string>
                <key>textureRect</key>
                <string>{{234,1},{292,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_room_high_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,251}</string>
                <key>spriteSourceSize</key>
                <string>{251,251}</string>
                <key>textureRect</key>
                <string>{{1465,255},{251,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_room_high_lady.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,6}</string>
                <key>spriteSize</key>
                <string>{309,307}</string>
                <key>spriteSourceSize</key>
                <string>{363,319}</string>
                <key>textureRect</key>
                <string>{{1156,1},{309,307}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hall_room_high_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,65}</string>
                <key>spriteSourceSize</key>
                <string>{189,65}</string>
                <key>textureRect</key>
                <string>{{274,386},{189,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_room_high_titlebg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{271,70}</string>
                <key>spriteSourceSize</key>
                <string>{363,74}</string>
                <key>textureRect</key>
                <string>{{1,402},{271,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_room_high_trophy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,154}</string>
                <key>spriteSourceSize</key>
                <string>{201,154}</string>
                <key>textureRect</key>
                <string>{{528,328},{201,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_room_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,31}</string>
                <key>spriteSourceSize</key>
                <string>{154,31}</string>
                <key>textureRect</key>
                <string>{{1,474},{154,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_room_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{325,317}</string>
                <key>spriteSourceSize</key>
                <string>{325,317}</string>
                <key>textureRect</key>
                <string>{{528,1},{325,317}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hall_room_personal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,319}</string>
                <key>spriteSourceSize</key>
                <string>{307,319}</string>
                <key>textureRect</key>
                <string>{{847,1},{307,319}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hallcontent.png</string>
            <key>size</key>
            <string>{1717,507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb44ee37b703a8783fec487632744aaa:fc2b75b66b08e97e4852c2aacc48164f:68c8136c8b2e2f808526f3da1db1ff0d$</string>
            <key>textureFileName</key>
            <string>hallcontent.png</string>
        </dict>
    </dict>
</plist>
