<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>store_btn_buy_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,1},{213,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,76}}</string>
                <key>sourceSize</key>
                <string>{213,76}</string>
            </dict>
            <key>store_btn_buy_prop.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,206},{177,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,63}}</string>
                <key>sourceSize</key>
                <string>{177,63}</string>
            </dict>
            <key>store_btn_switch.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,413},{75,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,32}}</string>
                <key>sourceSize</key>
                <string>{75,32}</string>
            </dict>
            <key>store_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,358},{97,81}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{97,81}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>store_diamond_module.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,430},{54,42}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{54,42}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>store_diamond_onbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,441},{33,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{33,27}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>store_diamond_way.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,360},{76,58}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,23},{76,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>store_img_switch.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,428},{224,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,43}}</string>
                <key>sourceSize</key>
                <string>{224,43}</string>
            </dict>
            <key>store_lock_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,436},{312,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,38}}</string>
                <key>sourceSize</key>
                <string>{312,38}</string>
            </dict>
            <key>store_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,225},{675,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{675,47}}</string>
                <key>sourceSize</key>
                <string>{675,47}</string>
            </dict>
            <key>store_pay_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,428},{46,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{46,54}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>store_pay_gold_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,271},{99,85}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{99,85}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>store_pay_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{663,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{663,119}}</string>
                <key>sourceSize</key>
                <string>{663,119}</string>
            </dict>
            <key>store_pay_style_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,291},{293,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,135}}</string>
                <key>sourceSize</key>
                <string>{293,135}</string>
            </dict>
            <key>store_pay_style_choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,291},{309,143}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{309,143}}</string>
                <key>sourceSize</key>
                <string>{319,147}</string>
            </dict>
            <key>store_pay_style_titlebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,122},{640,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,101}}</string>
                <key>sourceSize</key>
                <string>{640,101}</string>
            </dict>
            <key>store_pay_type_alipay.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,280},{78,78}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{78,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>store_pay_type_apple.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,362},{56,66}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,17},{56,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>store_pay_type_msg.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,280},{78,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,21},{78,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>store_pay_type_text_alipay.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,438},{123,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,29}}</string>
                <key>sourceSize</key>
                <string>{123,29}</string>
            </dict>
            <key>store_pay_type_text_apple.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,241},{117,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{117,29}}</string>
                <key>sourceSize</key>
                <string>{123,29}</string>
            </dict>
            <key>store_pay_type_text_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,241},{119,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{119,25}}</string>
                <key>sourceSize</key>
                <string>{123,29}</string>
            </dict>
            <key>store_pay_type_text_msg.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,1},{117,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{117,23}}</string>
                <key>sourceSize</key>
                <string>{123,29}</string>
            </dict>
            <key>store_pay_type_text_unionpay.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,120},{117,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{117,23}}</string>
                <key>sourceSize</key>
                <string>{123,29}</string>
            </dict>
            <key>store_pay_type_text_weixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,447},{117,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{117,27}}</string>
                <key>sourceSize</key>
                <string>{123,29}</string>
            </dict>
            <key>store_pay_type_unionpay.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,216},{94,62}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,19},{94,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>store_pay_type_weixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,360},{76,76}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{76,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>store_prop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,291},{114,120}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{114,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>store_prop_desc_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1},{181,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,31}}</string>
                <key>sourceSize</key>
                <string>{181,31}</string>
            </dict>
            <key>store_prop_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,1},{203,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,220}}</string>
                <key>sourceSize</key>
                <string>{203,220}</string>
            </dict>
            <key>store_seg_line_content.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,274},{657,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{657,15}}</string>
                <key>sourceSize</key>
                <string>{657,15}</string>
            </dict>
            <key>store_text_buy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,184},{55,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,31}}</string>
                <key>sourceSize</key>
                <string>{55,31}</string>
            </dict>
            <key>store_text_buy_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,441},{45,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,23}}</string>
                <key>sourceSize</key>
                <string>{45,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>store_plist.png</string>
            <key>size</key>
            <string>{1023,475}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d444403d8291ba6e31d51df5c89f076f:a12c5188de25e35ba55c1f54c53074c0:3bd59396b61863dcedd5a3f24095285d$</string>
            <key>textureFileName</key>
            <string>store_plist.png</string>
        </dict>
    </dict>
</plist>
