<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>match_desc_alarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,318},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>match_desc_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1},{262,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,75}}</string>
                <key>sourceSize</key>
                <string>{262,75}</string>
            </dict>
            <key>match_desc_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,1},{315,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,47}}</string>
                <key>sourceSize</key>
                <string>{315,47}</string>
            </dict>
            <key>match_desc_btn_rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,318},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>match_desc_person.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,363},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>match_desc_prize1.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1294},{115,109}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,18},{115,109}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>match_desc_rankbg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1128},{304,351}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,351}}</string>
                <key>sourceSize</key>
                <string>{304,351}</string>
            </dict>
            <key>match_desc_rankbg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,659},{200,247}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{200,247}}</string>
                <key>sourceSize</key>
                <string>{200,253}</string>
            </dict>
            <key>match_desc_rankbg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,408},{200,249}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{200,249}}</string>
                <key>sourceSize</key>
                <string>{200,253}</string>
            </dict>
            <key>match_desc_ranklight1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{349,349}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,349}}</string>
                <key>sourceSize</key>
                <string>{349,349}</string>
            </dict>
            <key>match_desc_ranklight2.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,908},{220,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{220,218}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>match_desc_ranklight3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,762},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>match_desc_ranklightdot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,984},{137,142}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,23},{137,142}}</string>
                <key>sourceSize</key>
                <string>{183,186}</string>
            </dict>
            <key>match_rm_item_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,352},{295,408}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,408}}</string>
                <key>sourceSize</key>
                <string>{295,408}</string>
            </dict>
            <key>match_rm_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1128},{164,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,113}}</string>
                <key>sourceSize</key>
                <string>{164,113}</string>
            </dict>
            <key>match_rm_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,265},{141,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,51}}</string>
                <key>sourceSize</key>
                <string>{141,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hall_match_plist1.png</string>
            <key>size</key>
            <string>{500,1433}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84a8e348be1675f6995984e41e516a5d:e69c812e355c8b5cd9f7aab91d185717:37d2419dd417dd4cc6add00f9a0bbdad$</string>
            <key>textureFileName</key>
            <string>hall_match_plist1.png</string>
        </dict>
    </dict>
</plist>
