<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cp_addfriend_edit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,829},{615,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,86}}</string>
                <key>sourceSize</key>
                <string>{615,86}</string>
            </dict>
            <key>cp_addfriend_search_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{995,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{995,213}}</string>
                <key>sourceSize</key>
                <string>{995,213}</string>
            </dict>
            <key>cp_chat_btn_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,917},{183,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,96}}</string>
                <key>sourceSize</key>
                <string>{183,96}</string>
            </dict>
            <key>cp_chat_btn_voice.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,741},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cp_chat_input_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,216},{987,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{987,181}}</string>
                <key>sourceSize</key>
                <string>{987,181}</string>
            </dict>
            <key>cp_chat_input_edit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,741},{616,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{616,86}}</string>
                <key>sourceSize</key>
                <string>{616,86}</string>
            </dict>
            <key>cp_chat_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,917},{144,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,92}}</string>
                <key>sourceSize</key>
                <string>{144,92}</string>
            </dict>
            <key>cp_chat_tag_voice1.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,913},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>cp_chat_tag_voice2.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,983},{28,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,39}}</string>
                <key>sourceSize</key>
                <string>{28,39}</string>
            </dict>
            <key>cp_chat_time_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,917},{169,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,50}}</string>
                <key>sourceSize</key>
                <string>{169,50}</string>
            </dict>
            <key>cp_friend_head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,863},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cp_friend_online_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,913},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>cp_friend_online_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,972},{47,47}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{47,47}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>cp_friend_tag_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,917},{83,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,76}}</string>
                <key>sourceSize</key>
                <string>{83,76}</string>
            </dict>
            <key>cp_frind_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,571},{1000,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,168}}</string>
                <key>sourceSize</key>
                <string>{1000,168}</string>
            </dict>
            <key>cp_session_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,399},{1004,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1004,170}}</string>
                <key>sourceSize</key>
                <string>{1004,170}</string>
            </dict>
            <key>cp_session_btn_agree.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,917},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>cp_session_btn_delete.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,741},{262,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,170}}</string>
                <key>sourceSize</key>
                <string>{262,170}</string>
            </dict>
            <key>cp_session_btn_refuse.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,913},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>cp_session_tag_unread.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,980},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>cp_session_time_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,969},{168,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,51}}</string>
                <key>sourceSize</key>
                <string>{168,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cardpartner_plist.png</string>
            <key>size</key>
            <string>{1006,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:871060c01769187c19179474b0eaa9ec:1bb7a625380898cfb9a3650531e91fa8:6ae46f0bddd6ee253a74096b0a79220f$</string>
            <key>textureFileName</key>
            <string>cardpartner_plist.png</string>
        </dict>
    </dict>
</plist>
