<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>exchg_bottom_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{985,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,69}}</string>
                <key>sourceSize</key>
                <string>{985,69}</string>
            </dict>
            <key>exchg_btn_history.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{242,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,64}}</string>
                <key>sourceSize</key>
                <string>{242,64}</string>
            </dict>
            <key>exchg_error_hint_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1124},{774,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{774,112}}</string>
                <key>sourceSize</key>
                <string>{774,112}</string>
            </dict>
            <key>exchg_flag_discount.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1435},{154,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{154,110}}</string>
                <key>sourceSize</key>
                <string>{160,112}</string>
            </dict>
            <key>exchg_flag_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,1892},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>exchg_flag_hot.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1321},{160,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,112}}</string>
                <key>sourceSize</key>
                <string>{160,112}</string>
            </dict>
            <key>exchg_flag_lack.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,989},{178,133}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{178,133}}</string>
                <key>sourceSize</key>
                <string>{180,133}</string>
            </dict>
            <key>exchg_flag_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1547},{154,108}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{154,108}}</string>
                <key>sourceSize</key>
                <string>{160,112}</string>
            </dict>
            <key>exchg_hint.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1892},{61,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,59}}</string>
                <key>sourceSize</key>
                <string>{61,59}</string>
            </dict>
            <key>exchg_hint_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1321},{538,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,139}}</string>
                <key>sourceSize</key>
                <string>{538,139}</string>
            </dict>
            <key>exchg_history_top_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,2},{985,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,71}}</string>
                <key>sourceSize</key>
                <string>{985,71}</string>
            </dict>
            <key>exchg_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,989},{304,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,330}}</string>
                <key>sourceSize</key>
                <string>{304,330}</string>
            </dict>
            <key>exchg_item_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{908,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{908,245}}</string>
                <key>sourceSize</key>
                <string>{908,245}</string>
            </dict>
            <key>exchg_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,2},{665,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{665,21}}</string>
                <key>sourceSize</key>
                <string>{665,21}</string>
            </dict>
            <key>exchg_list_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,2},{985,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,82}}</string>
                <key>sourceSize</key>
                <string>{985,82}</string>
            </dict>
            <key>exchg_name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1972},{271,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,47}}</string>
                <key>sourceSize</key>
                <string>{271,47}</string>
            </dict>
            <key>exchg_no_history.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,1657},{313,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,55}}</string>
                <key>sourceSize</key>
                <string>{313,55}</string>
            </dict>
            <key>exchg_no_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1657},{266,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,70}}</string>
                <key>sourceSize</key>
                <string>{266,70}</string>
            </dict>
            <key>exchg_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1124},{920,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{920,68}}</string>
                <key>sourceSize</key>
                <string>{920,68}</string>
            </dict>
            <key>exchg_txt_history.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1861},{120,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,29}}</string>
                <key>sourceSize</key>
                <string>{120,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>exchange.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a560ca6468561110189a420ceae0fece$</string>
            <key>textureFileName</key>
            <string>exchange.png</string>
        </dict>
    </dict>
</plist>
