<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>roomchat_char_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,174},{616,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{616,86}}</string>
                <key>sourceSize</key>
                <string>{616,86}</string>
            </dict>
            <key>roomchat_char_inputbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,2},{987,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{987,181}}</string>
                <key>sourceSize</key>
                <string>{987,181}</string>
            </dict>
            <key>roomchat_char_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{827,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{827,5}}</string>
                <key>sourceSize</key>
                <string>{827,5}</string>
            </dict>
            <key>roomchat_char_textbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,893},{139,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,102}}</string>
                <key>sourceSize</key>
                <string>{139,102}</string>
            </dict>
            <key>roomchat_expre_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,2},{171,170}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{171,170}}</string>
                <key>sourceSize</key>
                <string>{189,178}</string>
            </dict>
            <key>roomchat_expre_line1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{999,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{999,1}}</string>
                <key>sourceSize</key>
                <string>{999,1}</string>
            </dict>
            <key>roomchat_expre_line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{1,889}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,889}}</string>
                <key>sourceSize</key>
                <string>{1,889}</string>
            </dict>
            <key>roomchat_expre_tagbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,831},{152,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,44}}</string>
                <key>sourceSize</key>
                <string>{152,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>roomchat_plist.png</string>
            <key>size</key>
            <string>{509,1003}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a80a233a41cfac42fc8fb2733b8e947a$</string>
            <key>textureFileName</key>
            <string>roomchat_plist.png</string>
        </dict>
    </dict>
</plist>
