<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guandan_pair_chicken_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{112,154}</string>
                <key>spriteSourceSize</key>
                <string>{158,190}</string>
                <key>textureRect</key>
                <string>{{234,315},{112,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_pair_chicken_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{112,160}</string>
                <key>spriteSourceSize</key>
                <string>{158,190}</string>
                <key>textureRect</key>
                <string>{{120,311},{112,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_pair_chicken_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,3}</string>
                <key>spriteSize</key>
                <string>{116,160}</string>
                <key>spriteSourceSize</key>
                <string>{158,190}</string>
                <key>textureRect</key>
                <string>{{2,311},{116,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_pair_smog_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,4}</string>
                <key>spriteSize</key>
                <string>{140,63}</string>
                <key>spriteSourceSize</key>
                <string>{320,117}</string>
                <key>textureRect</key>
                <string>{{348,315},{140,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_pair_smog_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-7}</string>
                <key>spriteSize</key>
                <string>{240,93}</string>
                <key>spriteSourceSize</key>
                <string>{320,117}</string>
                <key>textureRect</key>
                <string>{{2,216},{240,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_pair_smog_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{250,99}</string>
                <key>spriteSourceSize</key>
                <string>{320,117}</string>
                <key>textureRect</key>
                <string>{{2,115},{250,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_pair_smog_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{250,111}</string>
                <key>spriteSourceSize</key>
                <string>{320,117}</string>
                <key>textureRect</key>
                <string>{{2,2},{250,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_pair_smog_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{248,103}</string>
                <key>spriteSourceSize</key>
                <string>{320,117}</string>
                <key>textureRect</key>
                <string>{{254,109},{248,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_pair_smog_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,5}</string>
                <key>spriteSize</key>
                <string>{250,105}</string>
                <key>spriteSourceSize</key>
                <string>{320,117}</string>
                <key>textureRect</key>
                <string>{{254,2},{250,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_pair_smog_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,6}</string>
                <key>spriteSize</key>
                <string>{250,99}</string>
                <key>spriteSourceSize</key>
                <string>{320,117}</string>
                <key>textureRect</key>
                <string>{{254,214},{250,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guandan_pair.png</string>
            <key>size</key>
            <string>{506,473}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a34bfd37ab2088a00746ea2a44674694:4345dd9218f8dfff79138274afcfe1ba:9b8fb858474d90b079f567609400c525$</string>
            <key>textureFileName</key>
            <string>guandan_pair.png</string>
        </dict>
    </dict>
</plist>
