<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guandan_jokbb10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{334,280}</string>
                <key>spriteSourceSize</key>
                <string>{392,320}</string>
                <key>textureRect</key>
                <string>{{347,309},{334,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_jokbb10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{344,284}</string>
                <key>spriteSourceSize</key>
                <string>{392,320}</string>
                <key>textureRect</key>
                <string>{{1,301},{344,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_jokbb10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{354,306}</string>
                <key>spriteSourceSize</key>
                <string>{392,320}</string>
                <key>textureRect</key>
                <string>{{367,1},{354,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_jokbb10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{364,298}</string>
                <key>spriteSourceSize</key>
                <string>{392,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{364,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_jokbb10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-32}</string>
                <key>spriteSize</key>
                <string>{374,230}</string>
                <key>spriteSourceSize</key>
                <string>{392,320}</string>
                <key>textureRect</key>
                <string>{{723,1},{374,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guandan_jokbb10012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-28}</string>
                <key>spriteSize</key>
                <string>{322,222}</string>
                <key>spriteSourceSize</key>
                <string>{392,320}</string>
                <key>textureRect</key>
                <string>{{1,587},{322,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_jokbb10013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-25}</string>
                <key>spriteSize</key>
                <string>{252,218}</string>
                <key>spriteSourceSize</key>
                <string>{392,320}</string>
                <key>textureRect</key>
                <string>{{683,377},{252,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_jokbb10014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-25}</string>
                <key>spriteSize</key>
                <string>{252,218}</string>
                <key>spriteSourceSize</key>
                <string>{392,320}</string>
                <key>textureRect</key>
                <string>{{325,591},{252,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_jokbb10015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-30}</string>
                <key>spriteSize</key>
                <string>{238,208}</string>
                <key>spriteSourceSize</key>
                <string>{392,320}</string>
                <key>textureRect</key>
                <string>{{579,597},{238,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_jokbb10016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-30}</string>
                <key>spriteSize</key>
                <string>{216,208}</string>
                <key>spriteSourceSize</key>
                <string>{392,320}</string>
                <key>textureRect</key>
                <string>{{579,807},{216,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_jokbb10017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-29}</string>
                <key>spriteSize</key>
                <string>{204,202}</string>
                <key>spriteSourceSize</key>
                <string>{392,320}</string>
                <key>textureRect</key>
                <string>{{1,811},{204,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guandan_jokbb10018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-29}</string>
                <key>spriteSize</key>
                <string>{204,202}</string>
                <key>spriteSourceSize</key>
                <string>{392,320}</string>
                <key>textureRect</key>
                <string>{{205,811},{204,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guandan_jokbb10019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-27}</string>
                <key>spriteSize</key>
                <string>{198,202}</string>
                <key>spriteSourceSize</key>
                <string>{392,320}</string>
                <key>textureRect</key>
                <string>{{1,1017},{198,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guandan_jokbb10020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-27}</string>
                <key>spriteSize</key>
                <string>{198,202}</string>
                <key>spriteSourceSize</key>
                <string>{392,320}</string>
                <key>textureRect</key>
                <string>{{205,1017},{198,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guandan_jokbb10021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-27}</string>
                <key>spriteSize</key>
                <string>{192,198}</string>
                <key>spriteSourceSize</key>
                <string>{392,320}</string>
                <key>textureRect</key>
                <string>{{409,1017},{192,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_jokbb10022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-27}</string>
                <key>spriteSize</key>
                <string>{192,198}</string>
                <key>spriteSourceSize</key>
                <string>{392,320}</string>
                <key>textureRect</key>
                <string>{{603,1017},{192,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_jokbb10023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-28}</string>
                <key>spriteSize</key>
                <string>{186,194}</string>
                <key>spriteSourceSize</key>
                <string>{392,320}</string>
                <key>textureRect</key>
                <string>{{797,815},{186,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_jokbb10024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-28}</string>
                <key>spriteSize</key>
                <string>{186,194}</string>
                <key>spriteSourceSize</key>
                <string>{392,320}</string>
                <key>textureRect</key>
                <string>{{797,1011},{186,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_jokbb10025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-43}</string>
                <key>spriteSize</key>
                <string>{106,124}</string>
                <key>spriteSourceSize</key>
                <string>{392,320}</string>
                <key>textureRect</key>
                <string>{{819,707},{106,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guandan_jokbb10026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-42}</string>
                <key>spriteSize</key>
                <string>{108,128}</string>
                <key>spriteSourceSize</key>
                <string>{392,320}</string>
                <key>textureRect</key>
                <string>{{819,597},{108,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guandan_jokbb10027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-46}</string>
                <key>spriteSize</key>
                <string>{108,120}</string>
                <key>spriteSourceSize</key>
                <string>{392,320}</string>
                <key>textureRect</key>
                <string>{{409,811},{108,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guandan_jokbb2.png</string>
            <key>size</key>
            <string>{984,1216}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71ea53867a6aed645124de7b9cdda3a5:65e7445f6a3019b536988f6ee98e639a:ac2772d19444bad2489be94b9aeb8fd9$</string>
            <key>textureFileName</key>
            <string>guandan_jokbb2.png</string>
        </dict>
    </dict>
</plist>
