<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guandan_light10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-8}</string>
                <key>spriteSize</key>
                <string>{218,54}</string>
                <key>spriteSourceSize</key>
                <string>{374,136}</string>
                <key>textureRect</key>
                <string>{{725,685},{218,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_light10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-8}</string>
                <key>spriteSize</key>
                <string>{206,60}</string>
                <key>spriteSourceSize</key>
                <string>{374,136}</string>
                <key>textureRect</key>
                <string>{{735,468},{206,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_light10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-9}</string>
                <key>spriteSize</key>
                <string>{242,66}</string>
                <key>spriteSourceSize</key>
                <string>{374,136}</string>
                <key>textureRect</key>
                <string>{{615,833},{242,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guandan_light10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-9}</string>
                <key>spriteSize</key>
                <string>{298,82}</string>
                <key>spriteSourceSize</key>
                <string>{374,136}</string>
                <key>textureRect</key>
                <string>{{315,833},{298,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_light10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-9}</string>
                <key>spriteSize</key>
                <string>{352,96}</string>
                <key>spriteSourceSize</key>
                <string>{374,136}</string>
                <key>textureRect</key>
                <string>{{1,679},{352,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_light10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-10}</string>
                <key>spriteSize</key>
                <string>{358,112}</string>
                <key>spriteSourceSize</key>
                <string>{374,136}</string>
                <key>textureRect</key>
                <string>{{365,574},{358,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_light10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-9}</string>
                <key>spriteSize</key>
                <string>{366,112}</string>
                <key>spriteSourceSize</key>
                <string>{374,136}</string>
                <key>textureRect</key>
                <string>{{1,404},{366,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_light10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{374,114}</string>
                <key>spriteSourceSize</key>
                <string>{374,136}</string>
                <key>textureRect</key>
                <string>{{377,309},{374,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_light10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{374,116}</string>
                <key>spriteSourceSize</key>
                <string>{374,136}</string>
                <key>textureRect</key>
                <string>{{1,286},{374,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_light10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{374,126}</string>
                <key>spriteSourceSize</key>
                <string>{374,136}</string>
                <key>textureRect</key>
                <string>{{1,158},{374,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_light10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-2}</string>
                <key>spriteSize</key>
                <string>{252,132}</string>
                <key>spriteSourceSize</key>
                <string>{374,136}</string>
                <key>textureRect</key>
                <string>{{695,741},{252,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_light10012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-2}</string>
                <key>spriteSize</key>
                <string>{260,132}</string>
                <key>spriteSourceSize</key>
                <string>{374,136}</string>
                <key>textureRect</key>
                <string>{{1,1077},{260,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guandan_light10013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{262,136}</string>
                <key>spriteSourceSize</key>
                <string>{374,136}</string>
                <key>textureRect</key>
                <string>{{683,1009},{262,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_light10014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-2}</string>
                <key>spriteSize</key>
                <string>{264,132}</string>
                <key>spriteSourceSize</key>
                <string>{374,136}</string>
                <key>textureRect</key>
                <string>{{683,875},{264,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_light10015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{266,136}</string>
                <key>spriteSourceSize</key>
                <string>{374,136}</string>
                <key>textureRect</key>
                <string>{{390,1062},{266,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guandan_light10016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-9}</string>
                <key>spriteSize</key>
                <string>{252,108}</string>
                <key>spriteSourceSize</key>
                <string>{374,136}</string>
                <key>textureRect</key>
                <string>{{280,1077},{252,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guandan_light20001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{362,159}</string>
                <key>spriteSourceSize</key>
                <string>{380,159}</string>
                <key>textureRect</key>
                <string>{{1,518},{362,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_light20002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{380,155}</string>
                <key>spriteSourceSize</key>
                <string>{380,159}</string>
                <key>textureRect</key>
                <string>{{1,1},{380,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_light20003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{380,153}</string>
                <key>spriteSourceSize</key>
                <string>{380,159}</string>
                <key>textureRect</key>
                <string>{{383,1},{380,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_light20004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{380,151}</string>
                <key>spriteSourceSize</key>
                <string>{380,159}</string>
                <key>textureRect</key>
                <string>{{383,156},{380,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_light20005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{364,147}</string>
                <key>spriteSourceSize</key>
                <string>{380,159}</string>
                <key>textureRect</key>
                <string>{{369,425},{364,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_light20006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{338,143}</string>
                <key>spriteSourceSize</key>
                <string>{380,159}</string>
                <key>textureRect</key>
                <string>{{355,688},{338,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_light20007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{312,141}</string>
                <key>spriteSourceSize</key>
                <string>{380,159}</string>
                <key>textureRect</key>
                <string>{{1,777},{312,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_light20008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{286,143}</string>
                <key>spriteSourceSize</key>
                <string>{380,159}</string>
                <key>textureRect</key>
                <string>{{315,917},{286,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_light20009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{258,143}</string>
                <key>spriteSourceSize</key>
                <string>{380,159}</string>
                <key>textureRect</key>
                <string>{{135,1077},{258,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guandan_light20010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{230,153}</string>
                <key>spriteSourceSize</key>
                <string>{380,159}</string>
                <key>textureRect</key>
                <string>{{528,1077},{230,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guandan_light20011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{196,153}</string>
                <key>spriteSourceSize</key>
                <string>{380,159}</string>
                <key>textureRect</key>
                <string>{{735,530},{196,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_light20012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{172,153}</string>
                <key>spriteSourceSize</key>
                <string>{380,159}</string>
                <key>textureRect</key>
                <string>{{765,158},{172,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_light20013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{172,155}</string>
                <key>spriteSourceSize</key>
                <string>{380,159}</string>
                <key>textureRect</key>
                <string>{{765,1},{172,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_light20014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-1}</string>
                <key>spriteSize</key>
                <string>{172,153}</string>
                <key>spriteSourceSize</key>
                <string>{380,159}</string>
                <key>textureRect</key>
                <string>{{753,313},{172,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_light20015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{154,153}</string>
                <key>spriteSourceSize</key>
                <string>{380,159}</string>
                <key>textureRect</key>
                <string>{{1,920},{154,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guandan_light20016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{154,149}</string>
                <key>spriteSourceSize</key>
                <string>{380,159}</string>
                <key>textureRect</key>
                <string>{{156,920},{154,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guandan_light20017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-1}</string>
                <key>spriteSize</key>
                <string>{156,147}</string>
                <key>spriteSourceSize</key>
                <string>{380,159}</string>
                <key>textureRect</key>
                <string>{{683,1147},{156,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guandan_light.png</string>
            <key>size</key>
            <string>{948,1338}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51e25691544194f4ef963d38b13db7dd:5327a18203cdfbbeb12e0f1c5bd39d75:155535c4120dae4c51c7f383c2c772d2$</string>
            <key>textureFileName</key>
            <string>guandan_light.png</string>
        </dict>
    </dict>
</plist>
