<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anycard_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,655},{107,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,137}}</string>
                <key>sourceSize</key>
                <string>{107,137}</string>
            </dict>
            <key>anycard_crack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,637},{31,66}}</string>
                <key>offset</key>
                <string>{-61,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{31,66}}</string>
                <key>sourceSize</key>
                <string>{153,88}</string>
            </dict>
            <key>anycard_crack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,838},{59,66}}</string>
                <key>offset</key>
                <string>{-47,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{59,66}}</string>
                <key>sourceSize</key>
                <string>{153,88}</string>
            </dict>
            <key>anycard_crack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,836},{59,72}}</string>
                <key>offset</key>
                <string>{-47,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{59,72}}</string>
                <key>sourceSize</key>
                <string>{153,88}</string>
            </dict>
            <key>anycard_crack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,838},{95,72}}</string>
                <key>offset</key>
                <string>{-29,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{95,72}}</string>
                <key>sourceSize</key>
                <string>{153,88}</string>
            </dict>
            <key>anycard_crack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,717},{117,72}}</string>
                <key>offset</key>
                <string>{-18,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{117,72}}</string>
                <key>sourceSize</key>
                <string>{153,88}</string>
            </dict>
            <key>anycard_crack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,764},{123,72}}</string>
                <key>offset</key>
                <string>{-15,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{123,72}}</string>
                <key>sourceSize</key>
                <string>{153,88}</string>
            </dict>
            <key>anycard_crack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,565},{145,88}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,88}}</string>
                <key>sourceSize</key>
                <string>{153,88}</string>
            </dict>
            <key>anycard_crack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,340},{153,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,88}}</string>
                <key>sourceSize</key>
                <string>{153,88}</string>
            </dict>
            <key>anycard_egg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,136},{156,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,202}}</string>
                <key>sourceSize</key>
                <string>{156,202}</string>
            </dict>
            <key>anycard_egg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,1},{157,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,133}}</string>
                <key>sourceSize</key>
                <string>{157,133}</string>
            </dict>
            <key>anycard_egg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,430},{146,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,133}}</string>
                <key>sourceSize</key>
                <string>{146,133}</string>
            </dict>
            <key>anycard_egg04.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,764},{133,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,56}}</string>
                <key>sourceSize</key>
                <string>{133,56}</string>
            </dict>
            <key>anycard_light0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,948},{347,289}}</string>
                <key>offset</key>
                <string>{-16,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,109},{347,289}}</string>
                <key>sourceSize</key>
                <string>{501,473}</string>
            </dict>
            <key>anycard_light0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{409,341}}</string>
                <key>offset</key>
                <string>{-16,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,82},{409,341}}</string>
                <key>sourceSize</key>
                <string>{501,473}</string>
            </dict>
            <key>anycard_light0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,948},{349,343}}</string>
                <key>offset</key>
                <string>{-8,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,92},{349,343}}</string>
                <key>sourceSize</key>
                <string>{501,473}</string>
            </dict>
            <key>anycard_light0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,344},{379,371}}</string>
                <key>offset</key>
                <string>{-8,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,78},{379,371}}</string>
                <key>sourceSize</key>
                <string>{501,473}</string>
            </dict>
            <key>anycard_light0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1},{385,313}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,72},{385,313}}</string>
                <key>sourceSize</key>
                <string>{501,473}</string>
            </dict>
            <key>anycard_light0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,637},{377,309}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,70},{377,309}}</string>
                <key>sourceSize</key>
                <string>{501,473}</string>
            </dict>
            <key>anycard_light0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,316},{381,319}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,67},{381,319}}</string>
                <key>sourceSize</key>
                <string>{501,473}</string>
            </dict>
            <key>anycard_light0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,948},{325,323}}</string>
                <key>offset</key>
                <string>{-27,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,66},{325,323}}</string>
                <key>sourceSize</key>
                <string>{501,473}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guandan_anycard_1.png</string>
            <key>size</key>
            <string>{961,1298}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3525a9df62d3c5d8a3b8ab686e0e35c8:7d370819ae970dd232b73b18af815997:abe5a7cb6d3298f1967495f15aeaf0ee$</string>
            <key>textureFileName</key>
            <string>guandan_anycard_1.png</string>
        </dict>
    </dict>
</plist>
