<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guandan_straflush_chicken0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,0}</string>
                <key>spriteSize</key>
                <string>{203,244}</string>
                <key>spriteSourceSize</key>
                <string>{253,244}</string>
                <key>textureRect</key>
                <string>{{499,1},{203,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_straflush_chicken0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{241,244}</string>
                <key>spriteSourceSize</key>
                <string>{253,244}</string>
                <key>textureRect</key>
                <string>{{256,1},{241,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_straflush_chicken0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,244}</string>
                <key>spriteSourceSize</key>
                <string>{253,244}</string>
                <key>textureRect</key>
                <string>{{1,1},{253,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_straflush_egg0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{77,93}</string>
                <key>spriteSourceSize</key>
                <string>{93,99}</string>
                <key>textureRect</key>
                <string>{{799,169},{77,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guandan_straflush_egg0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{77,93}</string>
                <key>spriteSourceSize</key>
                <string>{93,99}</string>
                <key>textureRect</key>
                <string>{{900,102},{77,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_straflush_egg0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,99}</string>
                <key>spriteSourceSize</key>
                <string>{93,99}</string>
                <key>textureRect</key>
                <string>{{900,1},{77,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_straflush_egg0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,99}</string>
                <key>spriteSourceSize</key>
                <string>{93,99}</string>
                <key>textureRect</key>
                <string>{{799,90},{77,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guandan_straflush_egg0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,99}</string>
                <key>spriteSourceSize</key>
                <string>{93,99}</string>
                <key>textureRect</key>
                <string>{{704,1},{93,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_straflush_egg0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,99}</string>
                <key>spriteSourceSize</key>
                <string>{93,99}</string>
                <key>textureRect</key>
                <string>{{704,102},{93,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guandan_straflush_egg0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{87,99}</string>
                <key>spriteSourceSize</key>
                <string>{93,99}</string>
                <key>textureRect</key>
                <string>{{799,1},{87,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guandan_straflush.png</string>
            <key>size</key>
            <string>{978,247}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53d8b6700c03fd896495c54fdf6aea8a:f85d8c4892665efbcc8d8d73372ceb20:c1b2948fc41c26889661cfa9f727d1b4$</string>
            <key>textureFileName</key>
            <string>guandan_straflush.png</string>
        </dict>
    </dict>
</plist>
