<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gangban_collision_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,808},{263,473}}</string>
                <key>offset</key>
                <string>{-1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,70},{263,473}}</string>
                <key>sourceSize</key>
                <string>{541,553}</string>
            </dict>
            <key>gangban_collision_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,815},{315,397}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,83},{315,397}}</string>
                <key>sourceSize</key>
                <string>{541,553}</string>
            </dict>
            <key>gangban_collision_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,815},{387,381}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,85},{387,381}}</string>
                <key>sourceSize</key>
                <string>{541,553}</string>
            </dict>
            <key>gangban_collision_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1},{379,421}}</string>
                <key>offset</key>
                <string>{-1,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,33},{379,421}}</string>
                <key>sourceSize</key>
                <string>{541,553}</string>
            </dict>
            <key>gangban_collision_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,382},{459,431}}</string>
                <key>offset</key>
                <string>{-1,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,10},{459,431}}</string>
                <key>sourceSize</key>
                <string>{541,553}</string>
            </dict>
            <key>gangban_collision_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,24},{503,287}}</string>
                <key>offset</key>
                <string>{-1,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,95},{503,287}}</string>
                <key>sourceSize</key>
                <string>{541,553}</string>
            </dict>
            <key>gangban_collision_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,313},{499,249}}</string>
                <key>offset</key>
                <string>{-1,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,85},{499,249}}</string>
                <key>sourceSize</key>
                <string>{541,553}</string>
            </dict>
            <key>gangban_collision_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,691},{499,115}}</string>
                <key>offset</key>
                <string>{-1,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,152},{499,115}}</string>
                <key>sourceSize</key>
                <string>{541,553}</string>
            </dict>
            <key>gangban_collision_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,564},{499,125}}</string>
                <key>offset</key>
                <string>{-1,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,138},{499,125}}</string>
                <key>sourceSize</key>
                <string>{541,553}</string>
            </dict>
            <key>gangban_collision_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{533,21}}</string>
                <key>offset</key>
                <string>{-1,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,239},{533,21}}</string>
                <key>sourceSize</key>
                <string>{541,553}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guandan_gangban_1.png</string>
            <key>size</key>
            <string>{965,1282}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13a4a2c32c74d6ae20c49f646c14b4d3:a1ad301f06ee01c76e907d667b9d68f0:058a54ece5522c003791e84f5f13beff$</string>
            <key>textureFileName</key>
            <string>guandan_gangban_1.png</string>
        </dict>
    </dict>
</plist>
