<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guandan_bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,835},{59,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{59,66}}</string>
                <key>sourceSize</key>
                <string>{59,68}</string>
            </dict>
            <key>guandan_bomb0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,277},{264,244}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,70},{264,244}}</string>
                <key>sourceSize</key>
                <string>{408,344}</string>
            </dict>
            <key>guandan_bomb0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,657},{264,250}}</string>
                <key>offset</key>
                <string>{-2,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,70},{264,250}}</string>
                <key>sourceSize</key>
                <string>{408,344}</string>
            </dict>
            <key>guandan_bomb0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,283},{274,264}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,56},{274,264}}</string>
                <key>sourceSize</key>
                <string>{408,344}</string>
            </dict>
            <key>guandan_bomb0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,559},{274,266}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,55},{274,266}}</string>
                <key>sourceSize</key>
                <string>{408,344}</string>
            </dict>
            <key>guandan_bomb0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,1},{282,274}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,50},{282,274}}</string>
                <key>sourceSize</key>
                <string>{408,344}</string>
            </dict>
            <key>guandan_bomb0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,1},{282,280}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,50},{282,280}}</string>
                <key>sourceSize</key>
                <string>{408,344}</string>
            </dict>
            <key>guandan_bomb0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,677},{238,312}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,21},{238,312}}</string>
                <key>sourceSize</key>
                <string>{408,344}</string>
            </dict>
            <key>guandan_bomb0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,337},{238,318}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,21},{238,318}}</string>
                <key>sourceSize</key>
                <string>{408,344}</string>
            </dict>
            <key>guandan_bomb0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,337},{240,338}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,3},{240,338}}</string>
                <key>sourceSize</key>
                <string>{408,344}</string>
            </dict>
            <key>guandan_bomb0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{262,334}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,3},{262,334}}</string>
                <key>sourceSize</key>
                <string>{408,344}</string>
            </dict>
            <key>guandan_bomb_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,283},{126,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,40}}</string>
                <key>sourceSize</key>
                <string>{126,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guandan_bombs_1.png</string>
            <key>size</key>
            <string>{994,916}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3e283d925aaf27c3f4980bad76a6b97:b39db97411c9c120db749c7c78db501c:88c687a89e35961ca6bf3aaeb52b64e0$</string>
            <key>textureFileName</key>
            <string>guandan_bombs_1.png</string>
        </dict>
    </dict>
</plist>
