<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gd_person_book_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,681},{161,379}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,379}}</string>
                <key>sourceSize</key>
                <string>{161,379}</string>
            </dict>
            <key>gd_person_book_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,592},{212,441}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,441}}</string>
                <key>sourceSize</key>
                <string>{212,441}</string>
            </dict>
            <key>gd_person_flower.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,758},{71,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,76}}</string>
                <key>sourceSize</key>
                <string>{71,76}</string>
            </dict>
            <key>gd_person_ink.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,1},{589,487}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{589,487}}</string>
                <key>sourceSize</key>
                <string>{589,487}</string>
            </dict>
            <key>gd_person_lightbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1268,678}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1268,678}}</string>
                <key>sourceSize</key>
                <string>{1268,678}</string>
            </dict>
            <key>gd_person_mastericon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,592},{47,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,28}}</string>
                <key>sourceSize</key>
                <string>{47,28}</string>
            </dict>
            <key>gd_person_settletext.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,681},{136,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,205}}</string>
                <key>sourceSize</key>
                <string>{136,205}</string>
            </dict>
            <key>gd_person_wintag.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,641},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>kuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,681},{223,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,101}}</string>
                <key>sourceSize</key>
                <string>{223,101}</string>
            </dict>
            <key>kuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,681},{127,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,170}}</string>
                <key>sourceSize</key>
                <string>{127,170}</string>
            </dict>
            <key>leave.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,758},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>personRoomId.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,681},{249,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,75}}</string>
                <key>sourceSize</key>
                <string>{249,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>personal.png</string>
            <key>size</key>
            <string>{1759,843}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3cc906d91ff67f364a7e3b0b92a1765:c53b8d7e1c02b7761ab40295ea846c87:8863fed96b147010ef34e825190e51cc$</string>
            <key>textureFileName</key>
            <string>personal.png</string>
        </dict>
    </dict>
</plist>
