<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common_bankrupt_img_bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,95}</string>
                <key>spriteSourceSize</key>
                <string>{271,95}</string>
                <key>textureRect</key>
                <string>{{625,103},{271,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_bankrupt_img_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,95}</string>
                <key>spriteSourceSize</key>
                <string>{285,95}</string>
                <key>textureRect</key>
                <string>{{338,103},{285,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_bankrupt_img_egg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,199}</string>
                <key>spriteSourceSize</key>
                <string>{187,199}</string>
                <key>textureRect</key>
                <string>{{1124,2},{187,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_bankrupt_img_go.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,30}</string>
                <key>spriteSourceSize</key>
                <string>{44,30}</string>
                <key>textureRect</key>
                <string>{{898,136},{44,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common_bankrupt_img_scroll.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{784,99}</string>
                <key>spriteSourceSize</key>
                <string>{784,99}</string>
                <key>textureRect</key>
                <string>{{338,2},{784,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_bankrupt_img_time.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{930,136},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_bankrupt_img_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{334,238}</string>
                <key>spriteSourceSize</key>
                <string>{334,238}</string>
                <key>textureRect</key>
                <string>{{2,2},{334,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_bankrupt_img_title1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,31}</string>
                <key>spriteSourceSize</key>
                <string>{375,31}</string>
                <key>textureRect</key>
                <string>{{338,203},{375,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_bankrupt_img_title2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,31}</string>
                <key>spriteSourceSize</key>
                <string>{224,31}</string>
                <key>textureRect</key>
                <string>{{898,103},{224,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_bankrupt_img_wu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{52,50}</string>
                <key>textureRect</key>
                <string>{{1508,189},{52,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_bankrupt_title_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,99}</string>
                <key>spriteSourceSize</key>
                <string>{236,99}</string>
                <key>textureRect</key>
                <string>{{1313,2},{236,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_bankrupt_title_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,84}</string>
                <key>spriteSourceSize</key>
                <string>{252,84}</string>
                <key>textureRect</key>
                <string>{{1313,103},{252,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_bankrupt_yanlei0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,51}</string>
                <key>spriteSourceSize</key>
                <string>{187,51}</string>
                <key>textureRect</key>
                <string>{{715,203},{187,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_bankrupt_yanlei0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,49}</string>
                <key>spriteSourceSize</key>
                <string>{192,49}</string>
                <key>textureRect</key>
                <string>{{1102,203},{192,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_bankrupt_yanlei0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,48}</string>
                <key>spriteSourceSize</key>
                <string>{196,48}</string>
                <key>textureRect</key>
                <string>{{904,203},{196,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_bankrupt_yanlei0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,59}</string>
                <key>spriteSourceSize</key>
                <string>{193,59}</string>
                <key>textureRect</key>
                <string>{{1313,189},{193,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bankrupt_plist.png</string>
            <key>size</key>
            <string>{1567,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:edae42392af21da103884fa21dea9791:e2d3667482d7f8c8273193e7ebe208db:fb144c33ac52393f98cf59de66893dca$</string>
            <key>textureFileName</key>
            <string>bankrupt_plist.png</string>
        </dict>
    </dict>
</plist>
