<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guang20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1157},{188,206}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,26},{188,206}}</string>
                <key>sourceSize</key>
                <string>{256,240}</string>
            </dict>
            <key>guang20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,945},{206,224}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{206,224}}</string>
                <key>sourceSize</key>
                <string>{256,240}</string>
            </dict>
            <key>guang20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,719},{222,240}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{222,240}}</string>
                <key>sourceSize</key>
                <string>{256,240}</string>
            </dict>
            <key>guang20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,485},{232,240}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,240}}</string>
                <key>sourceSize</key>
                <string>{256,240}</string>
            </dict>
            <key>guang20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,477},{240,240}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,240}}</string>
                <key>sourceSize</key>
                <string>{256,240}</string>
            </dict>
            <key>guang20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,243},{246,240}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,240}}</string>
                <key>sourceSize</key>
                <string>{256,240}</string>
            </dict>
            <key>guang20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{250,240}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{250,240}}</string>
                <key>sourceSize</key>
                <string>{256,240}</string>
            </dict>
            <key>guang20008.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1},{250,240}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{250,240}}</string>
                <key>sourceSize</key>
                <string>{256,240}</string>
            </dict>
            <key>guang20009.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,243},{250,232}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{250,232}}</string>
                <key>sourceSize</key>
                <string>{256,240}</string>
            </dict>
            <key>guang20010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,719},{246,224}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{246,224}}</string>
                <key>sourceSize</key>
                <string>{256,240}</string>
            </dict>
            <key>guang20011.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,943},{244,212}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{244,212}}</string>
                <key>sourceSize</key>
                <string>{256,240}</string>
            </dict>
            <key>guang20012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1153},{224,184}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,28},{224,184}}</string>
                <key>sourceSize</key>
                <string>{256,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>headTravelAni.png</string>
            <key>size</key>
            <string>{504,1346}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74b5fb7551eeaaad6f7ba4c31a855f20:ae7a74ab31b713fad695c84a83c56d14:2aad475caa8c0e3753d76c2da12bc5f9$</string>
            <key>textureFileName</key>
            <string>headTravelAni.png</string>
        </dict>
    </dict>
</plist>
