<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>solitaire1.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,128},{143,143}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,37},{143,143}}</string>
                <key>sourceSize</key>
                <string>{211,211}</string>
            </dict>
            <key>solitaire2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,128},{145,139}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,34},{145,139}}</string>
                <key>sourceSize</key>
                <string>{211,211}</string>
            </dict>
            <key>solitaire3.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,144},{143,137}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,36},{143,137}}</string>
                <key>sourceSize</key>
                <string>{211,211}</string>
            </dict>
            <key>solitaire4.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1},{147,141}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,34},{147,141}}</string>
                <key>sourceSize</key>
                <string>{211,211}</string>
            </dict>
            <key>solitaire5.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,1},{145,125}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,33},{145,125}}</string>
                <key>sourceSize</key>
                <string>{211,211}</string>
            </dict>
            <key>solitaire6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{149,125}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,33},{149,125}}</string>
                <key>sourceSize</key>
                <string>{211,211}</string>
            </dict>
            <key>solitaire7.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,283},{123,117}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,46},{123,117}}</string>
                <key>sourceSize</key>
                <string>{211,211}</string>
            </dict>
            <key>solitaire8.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,273},{129,125}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,42},{129,125}}</string>
                <key>sourceSize</key>
                <string>{211,211}</string>
            </dict>
            <key>solitaire9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,269},{135,131}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,39},{135,131}}</string>
                <key>sourceSize</key>
                <string>{211,211}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>solitaire.png</string>
            <key>size</key>
            <string>{447,401}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:635f2e9fa985d032d7d7c6f25a410a28:622d279ddf5fc495124d5a1ddcc78c12:c17027ed772c4bbad87d8932094b4676$</string>
            <key>textureFileName</key>
            <string>solitaire.png</string>
        </dict>
    </dict>
</plist>
