<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>circle_anim_big1.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,328},{170,190}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,13},{170,190}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>circle_anim_big2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{352,296}}</string>
                <key>offset</key>
                <string>{-13,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{352,296}}</string>
                <key>sourceSize</key>
                <string>{390,390}</string>
            </dict>
            <key>circle_anim_small1.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{134,150}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,6},{134,150}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>circle_anim_small2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{244,292}}</string>
                <key>offset</key>
                <string>{34,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,39},{244,292}}</string>
                <key>sourceSize</key>
                <string>{390,390}</string>
            </dict>
            <key>first_buy_img_eff.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,500},{164,125}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{164,125}}</string>
                <key>sourceSize</key>
                <string>{196,147}</string>
            </dict>
            <key>star_img_eff.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,627},{86,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,72}}</string>
                <key>sourceSize</key>
                <string>{86,72}</string>
            </dict>
            <key>title_light_img_eff.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,138},{188,134}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{188,134}}</string>
                <key>sourceSize</key>
                <string>{190,134}</string>
            </dict>
            <key>title_shade_img_eff.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{309,124}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{309,124}}</string>
                <key>sourceSize</key>
                <string>{333,156}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_plist1.png</string>
            <key>size</key>
            <string>{508,701}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:203c1593e11a1da766321d725f6eb744$</string>
            <key>textureFileName</key>
            <string>hall_plist1.png</string>
        </dict>
    </dict>
</plist>
