<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>title_shade_guandan.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,92},{224,127}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{224,127}}</string>
                <key>sourceSize</key>
                <string>{238,139}</string>
            </dict>
            <key>title_shade_niuniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,92},{223,124}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{223,124}}</string>
                <key>sourceSize</key>
                <string>{239,136}</string>
            </dict>
            <key>title_shade_privicy.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,1},{250,89}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{250,89}}</string>
                <key>sourceSize</key>
                <string>{260,99}</string>
            </dict>
            <key>title_shade_prize.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{212,86}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{212,86}}</string>
                <key>sourceSize</key>
                <string>{222,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hall_plist2.png</string>
            <key>size</key>
            <string>{466,220}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74a194fac20e7a26047519ce544f8416:7e5fd7a497f11d061adc345ccdab7ec4:39be60bb976ab662844e6030cf8cb02c$</string>
            <key>textureFileName</key>
            <string>hall_plist2.png</string>
        </dict>
    </dict>
</plist>
