<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sign_item_anim_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{96,83}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{96,83}}</string>
                <key>sourceSize</key>
                <string>{112,99}</string>
            </dict>
            <key>sign_item_anim_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{96,83}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{96,83}}</string>
                <key>sourceSize</key>
                <string>{112,99}</string>
            </dict>
            <key>sign_item_anim_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,83}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{96,83}}</string>
                <key>sourceSize</key>
                <string>{112,99}</string>
            </dict>
            <key>sign_item_anim_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,283},{94,83}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{94,83}}</string>
                <key>sourceSize</key>
                <string>{112,99}</string>
            </dict>
            <key>sign_item_anim_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,419},{90,83}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{90,83}}</string>
                <key>sourceSize</key>
                <string>{112,99}</string>
            </dict>
            <key>sign_item_anim_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,375},{92,83}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{92,83}}</string>
                <key>sourceSize</key>
                <string>{112,99}</string>
            </dict>
            <key>sign_item_anim_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,87},{92,83}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{92,83}}</string>
                <key>sourceSize</key>
                <string>{112,99}</string>
            </dict>
            <key>sign_item_anim_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,181},{92,83}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{92,83}}</string>
                <key>sourceSize</key>
                <string>{112,99}</string>
            </dict>
            <key>sign_item_anim_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,281},{92,83}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{92,83}}</string>
                <key>sourceSize</key>
                <string>{112,99}</string>
            </dict>
            <key>sign_item_anim_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,379},{92,83}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{92,83}}</string>
                <key>sourceSize</key>
                <string>{112,99}</string>
            </dict>
            <key>sign_item_anim_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,87},{92,83}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{92,83}}</string>
                <key>sourceSize</key>
                <string>{112,99}</string>
            </dict>
            <key>sign_item_anim_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,336},{92,81}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{92,81}}</string>
                <key>sourceSize</key>
                <string>{112,99}</string>
            </dict>
            <key>sign_item_anim_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,336},{92,81}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{92,81}}</string>
                <key>sourceSize</key>
                <string>{112,99}</string>
            </dict>
            <key>sign_item_anim_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,253},{92,81}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{92,81}}</string>
                <key>sourceSize</key>
                <string>{112,99}</string>
            </dict>
            <key>sign_item_anim_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,170},{92,81}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{92,81}}</string>
                <key>sourceSize</key>
                <string>{112,99}</string>
            </dict>
            <key>sign_item_anim_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,87},{92,81}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{92,81}}</string>
                <key>sourceSize</key>
                <string>{112,99}</string>
            </dict>
            <key>sign_item_anim_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,419},{90,81}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{90,81}}</string>
                <key>sourceSize</key>
                <string>{112,99}</string>
            </dict>
            <key>sign_item_anim_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,185},{94,81}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{94,81}}</string>
                <key>sourceSize</key>
                <string>{112,99}</string>
            </dict>
            <key>sign_item_anim_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,87},{96,81}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{96,81}}</string>
                <key>sourceSize</key>
                <string>{112,99}</string>
            </dict>
            <key>sign_item_anim_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,185},{96,81}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{96,81}}</string>
                <key>sourceSize</key>
                <string>{112,99}</string>
            </dict>
            <key>sign_item_anim_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,381},{96,81}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{96,81}}</string>
                <key>sourceSize</key>
                <string>{112,99}</string>
            </dict>
            <key>sign_item_anim_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,283},{96,81}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{96,81}}</string>
                <key>sourceSize</key>
                <string>{112,99}</string>
            </dict>
            <key>sign_item_anim_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{96,81}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{96,81}}</string>
                <key>sourceSize</key>
                <string>{112,99}</string>
            </dict>
            <key>sign_item_anim_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{96,83}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{96,83}}</string>
                <key>sourceSize</key>
                <string>{112,99}</string>
            </dict>
            <key>sign_item_anim_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{96,83}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{96,83}}</string>
                <key>sourceSize</key>
                <string>{112,99}</string>
            </dict>
            <key>sign_item_anim_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{96,83}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{96,83}}</string>
                <key>sourceSize</key>
                <string>{112,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sign_item_anim.png</string>
            <key>size</key>
            <string>{506,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3af2c9ba58080290971c8c0c6d121807$</string>
            <key>textureFileName</key>
            <string>sign_item_anim.png</string>
        </dict>
    </dict>
</plist>
