<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{107,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,137}}</string>
                <key>sourceSize</key>
                <string>{107,137}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,1},{107,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,137}}</string>
                <key>sourceSize</key>
                <string>{107,137}</string>
            </dict>
            <key>b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,231},{21,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{21,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>b_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,228},{25,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{25,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>b_10_hua.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,110},{83,95}}</string>
                <key>offset</key>
                <string>{9,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,38},{83,95}}</string>
                <key>sourceSize</key>
                <string>{107,137}</string>
            </dict>
            <key>b_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,201},{25,28}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{25,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>b_11_hua.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1},{73,91}}</string>
                <key>offset</key>
                <string>{14,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,42},{73,91}}</string>
                <key>sourceSize</key>
                <string>{107,137}</string>
            </dict>
            <key>b_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,193},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>b_12_hua.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,110},{91,91}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,42},{91,91}}</string>
                <key>sourceSize</key>
                <string>{107,137}</string>
            </dict>
            <key>b_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,195},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,140},{23,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{23,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>b_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,203},{23,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{23,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>b_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,231},{21,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{21,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>b_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,226},{23,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{23,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>b_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,232},{21,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{21,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>b_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,203},{23,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{23,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>b_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,203},{23,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{23,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>b_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,110},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1},{107,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,137}}</string>
                <key>sourceSize</key>
                <string>{107,137}</string>
            </dict>
            <key>face.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1},{107,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,137}}</string>
                <key>sourceSize</key>
                <string>{107,137}</string>
            </dict>
            <key>fangkuai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,195},{59,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{59,58}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
            <key>heitao.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,193},{59,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,60}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
            <key>hongtao.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,140},{59,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,60}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
            <key>laizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,187},{59,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{59,58}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
            <key>meihua.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,140},{59,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,60}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
            <key>r_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,228},{21,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{21,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>r_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,187},{25,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{25,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>r_10_hua.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,110},{81,95}}</string>
                <key>offset</key>
                <string>{10,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,38},{81,95}}</string>
                <key>sourceSize</key>
                <string>{107,137}</string>
            </dict>
            <key>r_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,217},{25,28}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{25,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>r_11_hua.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,94},{73,91}}</string>
                <key>offset</key>
                <string>{14,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,42},{73,91}}</string>
                <key>sourceSize</key>
                <string>{107,137}</string>
            </dict>
            <key>r_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,201},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>r_12_hua.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,110},{89,91}}</string>
                <key>offset</key>
                <string>{6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,42},{89,91}}</string>
                <key>sourceSize</key>
                <string>{107,137}</string>
            </dict>
            <key>r_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,202},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>r_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,203},{23,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{23,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>r_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,203},{23,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{23,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>r_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,228},{21,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{21,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>r_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,203},{23,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{23,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>r_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,228},{21,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{21,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>r_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,228},{23,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{23,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>r_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,228},{23,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{23,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>r_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,202},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>poker.png</string>
            <key>size</key>
            <string>{601,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:539ac61afed8d9579c65c38e91a1ce5b:500a0626b5d9ebe76486ec48a52b9fa3:7091b912c8b6d40e279854fb79f668a3$</string>
            <key>textureFileName</key>
            <string>poker.png</string>
        </dict>
    </dict>
</plist>
