<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guandan_wenzi_buchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{83,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{83,50}}</string>
                <key>sourceSize</key>
                <string>{89,50}</string>
            </dict>
            <key>guandan_wenzi_cardNoRule.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,1},{282,50}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{282,50}}</string>
                <key>sourceSize</key>
                <string>{292,50}</string>
            </dict>
            <key>guandan_wenzi_da.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,53},{153,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,58}}</string>
                <key>sourceSize</key>
                <string>{153,58}</string>
            </dict>
            <key>guandan_wenzi_donotLeaveme.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1},{366,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{366,50}}</string>
                <key>sourceSize</key>
                <string>{374,50}</string>
            </dict>
            <key>guandan_wenzi_friendCards.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,1},{165,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{165,50}}</string>
                <key>sourceSize</key>
                <string>{171,50}</string>
            </dict>
            <key>guandan_wenzi_haveNoFlushBob.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,1},{206,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{206,50}}</string>
                <key>sourceSize</key>
                <string>{212,50}</string>
            </dict>
            <key>guandan_wenzi_mustChooseaCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,1},{247,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{247,50}}</string>
                <key>sourceSize</key>
                <string>{249,50}</string>
            </dict>
            <key>guandan_wenzi_noCardPass.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,1},{286,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{286,50}}</string>
                <key>sourceSize</key>
                <string>{292,50}</string>
            </dict>
            <key>guandan_wenzi_paytribut.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,53},{125,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{125,50}}</string>
                <key>sourceSize</key>
                <string>{127,50}</string>
            </dict>
            <key>guandan_wenzi_plyerLeave.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,53},{466,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,60}}</string>
                <key>sourceSize</key>
                <string>{466,60}</string>
            </dict>
            <key>guandan_wenzi_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,53},{123,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{123,50}}</string>
                <key>sourceSize</key>
                <string>{129,50}</string>
            </dict>
            <key>guandan_wenzi_retTribute.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,53},{125,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{125,50}}</string>
                <key>sourceSize</key>
                <string>{127,50}</string>
            </dict>
            <key>guandan_wenzi_solitaire.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,53},{87,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{87,50}}</string>
                <key>sourceSize</key>
                <string>{89,50}</string>
            </dict>
            <key>guandan_wenzi_trusteeShip.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,53},{404,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{404,50}}</string>
                <key>sourceSize</key>
                <string>{410,50}</string>
            </dict>
            <key>guandan_wenzi_wait.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,53},{127,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,50}}</string>
                <key>sourceSize</key>
                <string>{127,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wenzi.png</string>
            <key>size</key>
            <string>{1649,114}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:132ebc43149d12610dd2ebded07a8204:fb6762e630b483c4986bbef69cf6b26e:148efa7d444af47228f9952c26ee8415$</string>
            <key>textureFileName</key>
            <string>wenzi.png</string>
        </dict>
    </dict>
</plist>
