<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>niu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,395},{165,90}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,9},{165,90}}</string>
                <key>sourceSize</key>
                <string>{207,112}</string>
            </dict>
            <key>niu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,585},{169,94}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{169,94}}</string>
                <key>sourceSize</key>
                <string>{207,112}</string>
            </dict>
            <key>niu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,489},{201,94}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{201,94}}</string>
                <key>sourceSize</key>
                <string>{207,112}</string>
            </dict>
            <key>niu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,1},{193,102}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{193,102}}</string>
                <key>sourceSize</key>
                <string>{207,112}</string>
            </dict>
            <key>niu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,289},{263,104}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{263,104}}</string>
                <key>sourceSize</key>
                <string>{285,112}</string>
            </dict>
            <key>niu_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,181},{263,106}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{263,106}}</string>
                <key>sourceSize</key>
                <string>{285,112}</string>
            </dict>
            <key>niu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,393},{171,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{171,94}}</string>
                <key>sourceSize</key>
                <string>{207,112}</string>
            </dict>
            <key>niu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,395},{171,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{171,94}}</string>
                <key>sourceSize</key>
                <string>{207,112}</string>
            </dict>
            <key>niu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,568},{171,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{171,94}}</string>
                <key>sourceSize</key>
                <string>{207,112}</string>
            </dict>
            <key>niu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,568},{171,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{171,94}}</string>
                <key>sourceSize</key>
                <string>{207,112}</string>
            </dict>
            <key>niu_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,489},{171,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{171,94}}</string>
                <key>sourceSize</key>
                <string>{207,112}</string>
            </dict>
            <key>niu_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,105},{175,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{175,94}}</string>
                <key>sourceSize</key>
                <string>{207,112}</string>
            </dict>
            <key>niu_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,201},{175,94}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{175,94}}</string>
                <key>sourceSize</key>
                <string>{207,112}</string>
            </dict>
            <key>niu_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,297},{175,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{175,94}}</string>
                <key>sourceSize</key>
                <string>{207,112}</string>
            </dict>
            <key>niu_shu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,94},{264,85}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,85}}</string>
                <key>sourceSize</key>
                <string>{264,91}</string>
            </dict>
            <key>niu_ying.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{264,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,91}}</string>
                <key>sourceSize</key>
                <string>{264,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>niu.png</string>
            <key>size</key>
            <string>{461,740}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9c48a57e7843538b2ddb744f38d7ddf:cc143e7131c6180101738acfa00d96fb:1cf054b138497af11bfd3718db16dd66$</string>
            <key>textureFileName</key>
            <string>niu.png</string>
        </dict>
    </dict>
</plist>
