<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_room_cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,135},{107,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,47}}</string>
                <key>sourceSize</key>
                <string>{107,47}</string>
            </dict>
            <key>hall_room_guandan_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,1},{234,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,164}}</string>
                <key>sourceSize</key>
                <string>{234,164}</string>
            </dict>
            <key>hall_room_guandan_cloth.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,538},{215,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,75}}</string>
                <key>sourceSize</key>
                <string>{215,75}</string>
            </dict>
            <key>hall_room_guandan_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,233},{218,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,265}}</string>
                <key>sourceSize</key>
                <string>{218,265}</string>
            </dict>
            <key>hall_room_guandan_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,615},{47,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,51}}</string>
                <key>sourceSize</key>
                <string>{47,51}</string>
            </dict>
            <key>hall_room_guandan_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,695},{133,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,67}}</string>
                <key>sourceSize</key>
                <string>{133,67}</string>
            </dict>
            <key>hall_room_icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,453},{253,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,253}}</string>
                <key>sourceSize</key>
                <string>{253,253}</string>
            </dict>
            <key>hall_room_niuniu_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,615},{78,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,155}}</string>
                <key>sourceSize</key>
                <string>{78,155}</string>
            </dict>
            <key>hall_room_niuniu_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,309},{228,227}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,22},{228,227}}</string>
                <key>sourceSize</key>
                <string>{234,249}</string>
            </dict>
            <key>hall_room_niuniu_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,695},{134,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,66}}</string>
                <key>sourceSize</key>
                <string>{134,66}</string>
            </dict>
            <key>hall_room_privicy_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{288,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,115}}</string>
                <key>sourceSize</key>
                <string>{288,115}</string>
            </dict>
            <key>hall_room_privicy_key.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,708},{107,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,125}}</string>
                <key>sourceSize</key>
                <string>{107,125}</string>
            </dict>
            <key>hall_room_privicy_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,668},{157,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,50}}</string>
                <key>sourceSize</key>
                <string>{157,50}</string>
            </dict>
            <key>hall_room_prize_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,118},{286,113}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{286,113}}</string>
                <key>sourceSize</key>
                <string>{288,115}</string>
            </dict>
            <key>hall_room_prize_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,1},{132,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,47}}</string>
                <key>sourceSize</key>
                <string>{132,47}</string>
            </dict>
            <key>hall_room_prize_trophy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,708},{153,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,123}}</string>
                <key>sourceSize</key>
                <string>{153,123}</string>
            </dict>
            <key>hall_room_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,244},{234,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,63}}</string>
                <key>sourceSize</key>
                <string>{234,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hallcontent2.png</string>
            <key>size</key>
            <string>{505,832}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:832aa900c8705a14e69767bf0e3fc075:f5d0020df16cb18976b4a60d65fd1c91:3e99d0a20412c033a2fc9c091d08eb7d$</string>
            <key>textureFileName</key>
            <string>hallcontent2.png</string>
        </dict>
    </dict>
</plist>
