<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>match_desc_alarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,527},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>match_desc_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,616},{393,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,113}}</string>
                <key>sourceSize</key>
                <string>{393,113}</string>
            </dict>
            <key>match_desc_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1055},{473,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,70}}</string>
                <key>sourceSize</key>
                <string>{473,70}</string>
            </dict>
            <key>match_desc_btn_rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1530},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>match_desc_person.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,593},{62,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>match_desc_prize1.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1715},{172,158}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,30},{172,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>match_desc_rankbg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,527},{456,526}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,526}}</string>
                <key>sourceSize</key>
                <string>{456,526}</string>
            </dict>
            <key>match_desc_rankbg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,916},{298,366}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{298,366}}</string>
                <key>sourceSize</key>
                <string>{300,380}</string>
            </dict>
            <key>match_desc_rankbg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,616},{298,368}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{298,368}}</string>
                <key>sourceSize</key>
                <string>{300,380}</string>
            </dict>
            <key>match_desc_ranklight1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{523,523}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{523,523}}</string>
                <key>sourceSize</key>
                <string>{523,523}</string>
            </dict>
            <key>match_desc_ranklight2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1387},{326,326}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{326,326}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>match_desc_ranklight3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1055},{330,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,330}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>match_desc_ranklightdot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1715},{204,207}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,38},{204,207}}</string>
                <key>sourceSize</key>
                <string>{274,279}</string>
            </dict>
            <key>match_rm_item_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,2},{442,612}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,612}}</string>
                <key>sourceSize</key>
                <string>{442,612}</string>
            </dict>
            <key>match_rm_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,1011},{246,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,169}}</string>
                <key>sourceSize</key>
                <string>{246,169}</string>
            </dict>
            <key>match_rm_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1924},{211,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,77}}</string>
                <key>sourceSize</key>
                <string>{211,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_match_plist1.png</string>
            <key>size</key>
            <string>{1009,2003}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e29fae5e7b8cb5309007bd0625330712$</string>
            <key>textureFileName</key>
            <string>hall_match_plist1.png</string>
        </dict>
    </dict>
</plist>
