<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>match_mate_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1014,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1014,74}}</string>
                <key>sourceSize</key>
                <string>{1014,74}</string>
            </dict>
            <key>match_mate_bg_desc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{1013,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1013,253}}</string>
                <key>sourceSize</key>
                <string>{1013,253}</string>
            </dict>
            <key>match_mate_bg_f2f.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{995,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{995,145}}</string>
                <key>sourceSize</key>
                <string>{995,145}</string>
            </dict>
            <key>match_mate_bg_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,627},{995,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{995,130}}</string>
                <key>sourceSize</key>
                <string>{995,130}</string>
            </dict>
            <key>match_mate_bg_header.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,1276},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>match_mate_bg_header2.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,970},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>match_mate_bg_wexin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,333},{995,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{995,145}}</string>
                <key>sourceSize</key>
                <string>{995,145}</string>
            </dict>
            <key>match_mate_btn_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1137},{393,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,113}}</string>
                <key>sourceSize</key>
                <string>{393,113}</string>
            </dict>
            <key>match_mate_btn_pink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1022},{393,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,113}}</string>
                <key>sourceSize</key>
                <string>{393,113}</string>
            </dict>
            <key>match_mate_btn_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,1092},{393,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,113}}</string>
                <key>sourceSize</key>
                <string>{393,113}</string>
            </dict>
            <key>match_mate_btn_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,1174},{238,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,100}}</string>
                <key>sourceSize</key>
                <string>{238,100}</string>
            </dict>
            <key>match_mate_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1276},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>match_mate_friendtag.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,1093},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>match_mate_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1834},{178,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,198}}</string>
                <key>sourceSize</key>
                <string>{178,198}</string>
            </dict>
            <key>match_mate_icon_addfriend.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1624},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>match_mate_icon_wexin.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,1016},{44,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,37}}</string>
                <key>sourceSize</key>
                <string>{44,37}</string>
            </dict>
            <key>match_mate_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,759},{209,153}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{209,153}}</string>
                <key>sourceSize</key>
                <string>{215,153}</string>
            </dict>
            <key>match_mate_mm.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,805},{318,367}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,367}}</string>
                <key>sourceSize</key>
                <string>{318,367}</string>
            </dict>
            <key>match_mate_onlinedot.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,970},{44,44}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{44,44}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>match_mate_radar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1252},{370,370}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,370}}</string>
                <key>sourceSize</key>
                <string>{370,370}</string>
            </dict>
            <key>match_mate_radardot.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,1055},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>match_mate_text_addfriend.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,979},{484,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,41}}</string>
                <key>sourceSize</key>
                <string>{484,41}</string>
            </dict>
            <key>match_mate_text_addfriend2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,921},{505,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{505,56}}</string>
                <key>sourceSize</key>
                <string>{505,56}</string>
            </dict>
            <key>match_mate_text_enternumber.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,759},{860,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{860,44}}</string>
                <key>sourceSize</key>
                <string>{860,44}</string>
            </dict>
            <key>match_mate_text_matching.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,979},{469,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{469,42}}</string>
                <key>sourceSize</key>
                <string>{469,42}</string>
            </dict>
            <key>match_mate_text_nofriend.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,805},{529,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{529,114}}</string>
                <key>sourceSize</key>
                <string>{529,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_match_plist2.png</string>
            <key>size</key>
            <string>{1021,2034}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1bdcaa828cf8770f56c8ba202ad43c9$</string>
            <key>textureFileName</key>
            <string>hall_match_plist2.png</string>
        </dict>
    </dict>
</plist>
