<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>reward_hint.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,598},{413,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{413,75}}</string>
                <key>sourceSize</key>
                <string>{413,75}</string>
            </dict>
            <key>shadow_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{693,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{693,295}}</string>
                <key>sourceSize</key>
                <string>{693,295}</string>
            </dict>
            <key>userinfo_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,972},{195,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,55}}</string>
                <key>sourceSize</key>
                <string>{195,55}</string>
            </dict>
            <key>userinfo_btn_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1},{123,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,51}}</string>
                <key>sourceSize</key>
                <string>{123,51}</string>
            </dict>
            <key>userinfo_img_arrow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,598},{20,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,34}}</string>
                <key>sourceSize</key>
                <string>{20,34}</string>
            </dict>
            <key>userinfo_img_arrow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,972},{20,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,34}}</string>
                <key>sourceSize</key>
                <string>{20,34}</string>
            </dict>
            <key>userinfo_img_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,770},{663,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{663,162}}</string>
                <key>sourceSize</key>
                <string>{663,162}</string>
            </dict>
            <key>userinfo_img_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,300},{296,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,109}}</string>
                <key>sourceSize</key>
                <string>{296,109}</string>
            </dict>
            <key>userinfo_img_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,547},{659,221}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{659,221}}</string>
                <key>sourceSize</key>
                <string>{663,221}</string>
            </dict>
            <key>userinfo_img_bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,1},{297,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,109}}</string>
                <key>sourceSize</key>
                <string>{297,109}</string>
            </dict>
            <key>userinfo_img_check_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,611},{48,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{48,48}}</string>
                <key>sourceSize</key>
                <string>{70,52}</string>
            </dict>
            <key>userinfo_img_check_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,567},{60,42}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{60,42}}</string>
                <key>sourceSize</key>
                <string>{70,52}</string>
            </dict>
            <key>userinfo_img_clear.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,1013},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>userinfo_img_crystal.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,126},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{49,49}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>userinfo_img_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,230},{51,41}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{51,41}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>userinfo_img_edit.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,1013},{84,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,28}}</string>
                <key>sourceSize</key>
                <string>{84,28}</string>
            </dict>
            <key>userinfo_img_female.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,837},{24,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>userinfo_img_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,177},{43,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{43,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>userinfo_img_headicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,666},{167,169}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{167,169}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>userinfo_img_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1024},{17,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,20}}</string>
                <key>sourceSize</key>
                <string>{17,20}</string>
            </dict>
            <key>userinfo_img_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,837},{133,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,133}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>userinfo_img_itembg_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,934},{663,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{663,83}}</string>
                <key>sourceSize</key>
                <string>{663,83}</string>
            </dict>
            <key>userinfo_img_itembg_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,298},{663,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{663,83}}</string>
                <key>sourceSize</key>
                <string>{663,83}</string>
            </dict>
            <key>userinfo_img_itembg_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,1},{663,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{663,83}}</string>
                <key>sourceSize</key>
                <string>{663,83}</string>
            </dict>
            <key>userinfo_img_link.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,230},{10,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,47}}</string>
                <key>sourceSize</key>
                <string>{10,47}</string>
            </dict>
            <key>userinfo_img_location.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,634},{24,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{24,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>userinfo_img_male.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,889},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>userinfo_img_nickname.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,921},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>userinfo_img_nickname_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,298},{663,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{663,247}}</string>
                <key>sourceSize</key>
                <string>{663,247}</string>
            </dict>
            <key>userinfo_img_segline.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1019},{157,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,3}}</string>
                <key>sourceSize</key>
                <string>{157,3}</string>
            </dict>
            <key>userinfo_img_sex.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,953},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>userinfo_img_sex_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,863},{24,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>userinfo_img_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,1},{564,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{564,37}}</string>
                <key>sourceSize</key>
                <string>{564,37}</string>
            </dict>
            <key>userinfo_img_title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,1},{564,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{564,37}}</string>
                <key>sourceSize</key>
                <string>{564,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>userinfo_plist.png</string>
            <key>size</key>
            <string>{1024,1042}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:630aa33fd3fa89a2a9e0254055e167f2:27a2a55c752aca9b851efbfb2a90a81e:9f7d2f9138e4a0714dc96535e6a29b5b$</string>
            <key>textureFileName</key>
            <string>userinfo_plist.png</string>
        </dict>
    </dict>
</plist>
