<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>14day.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,856},{183,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,112}}</string>
                <key>sourceSize</key>
                <string>{183,112}</string>
            </dict>
            <key>21day.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,856},{183,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,112}}</string>
                <key>sourceSize</key>
                <string>{183,112}</string>
            </dict>
            <key>7day.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,856},{183,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,112}}</string>
                <key>sourceSize</key>
                <string>{183,112}</string>
            </dict>
            <key>bottom2.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,683},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>bottom3.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1},{680,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{680,265}}</string>
                <key>sourceSize</key>
                <string>{680,265}</string>
            </dict>
            <key>bottom4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,813},{657,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{657,41}}</string>
                <key>sourceSize</key>
                <string>{657,41}</string>
            </dict>
            <key>bottomKuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{693,713}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{693,713}}</string>
                <key>sourceSize</key>
                <string>{693,713}</string>
            </dict>
            <key>day1.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,856},{91,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,78}}</string>
                <key>sourceSize</key>
                <string>{91,78}</string>
            </dict>
            <key>day2.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,811},{91,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,78}}</string>
                <key>sourceSize</key>
                <string>{91,78}</string>
            </dict>
            <key>day3.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,860},{91,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,78}}</string>
                <key>sourceSize</key>
                <string>{91,78}</string>
            </dict>
            <key>digt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,752},{57,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,63}}</string>
                <key>sourceSize</key>
                <string>{57,63}</string>
            </dict>
            <key>gift1.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,860},{56,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,58}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
            <key>off2.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,683},{185,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,117}}</string>
                <key>sourceSize</key>
                <string>{185,117}</string>
            </dict>
            <key>replenish btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,802},{169,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,56}}</string>
                <key>sourceSize</key>
                <string>{169,56}</string>
            </dict>
            <key>replenish sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,860},{71,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,69}}</string>
                <key>sourceSize</key>
                <string>{71,69}</string>
            </dict>
            <key>signed.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,904},{57,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,49}}</string>
                <key>sourceSize</key>
                <string>{57,49}</string>
            </dict>
            <key>top.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,716},{703,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{703,95}}</string>
                <key>sourceSize</key>
                <string>{703,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sign.png</string>
            <key>size</key>
            <string>{962,969}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d698e1ab504b04582a45fc026ab5fc69:b9b3bb7372ea5fabfbec7aa30637b755:38d604299945f777ad2a2799fdf85711$</string>
            <key>textureFileName</key>
            <string>sign.png</string>
        </dict>
    </dict>
</plist>
