<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>match_mate_keybg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,442},{109,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{109,69}}</string>
                <key>sourceSize</key>
                <string>{117,77}</string>
            </dict>
            <key>match_mate_keybg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,323},{117,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,77}}</string>
                <key>sourceSize</key>
                <string>{117,77}</string>
            </dict>
            <key>match_mate_number_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,323},{59,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,2}}</string>
                <key>sourceSize</key>
                <string>{59,2}</string>
            </dict>
            <key>setting_about_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,455},{77,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,79}}</string>
                <key>sourceSize</key>
                <string>{77,81}</string>
            </dict>
            <key>setting_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{693,713}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{693,713}}</string>
                <key>sourceSize</key>
                <string>{693,713}</string>
            </dict>
            <key>setting_mask_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,534},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>setting_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,716},{703,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{703,95}}</string>
                <key>sourceSize</key>
                <string>{703,95}</string>
            </dict>
            <key>store_choose_tag1.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,323},{183,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,110}}</string>
                <key>sourceSize</key>
                <string>{183,110}</string>
            </dict>
            <key>store_choose_tag2.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,435},{115,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,18}}</string>
                <key>sourceSize</key>
                <string>{115,18}</string>
            </dict>
            <key>store_mm.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1},{320,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,273}}</string>
                <key>sourceSize</key>
                <string>{320,273}</string>
            </dict>
            <key>store_seg_line_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,323},{1,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,46}}</string>
                <key>sourceSize</key>
                <string>{1,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hall_common.png</string>
            <key>size</key>
            <string>{970,812}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ff0adc21b4b138784cec726f49a970e:249920d256e900478f89f71959f842c8:a80d78561e6373e00474102250d4a533$</string>
            <key>textureFileName</key>
            <string>hall_common.png</string>
        </dict>
    </dict>
</plist>
