<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CalculationDi.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,69},{449,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,90}}</string>
                <key>sourceSize</key>
                <string>{449,90}</string>
            </dict>
            <key>CalculationKuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,221},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>banker.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,283},{57,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,55}}</string>
                <key>sourceSize</key>
                <string>{57,55}</string>
            </dict>
            <key>bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,218},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>btnChange.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,161},{173,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,55}}</string>
                <key>sourceSize</key>
                <string>{173,55}</string>
            </dict>
            <key>btnShop.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,161},{171,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,55}}</string>
                <key>sourceSize</key>
                <string>{171,55}</string>
            </dict>
            <key>btnbuy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1629,283},{49,49}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{49,49}}</string>
                <key>sourceSize</key>
                <string>{59,55}</string>
            </dict>
            <key>btnchat.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,69},{135,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,54}}</string>
                <key>sourceSize</key>
                <string>{135,54}</string>
            </dict>
            <key>btnchat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,206},{135,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,54}}</string>
                <key>sourceSize</key>
                <string>{135,54}</string>
            </dict>
            <key>btngreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,69},{167,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,76}}</string>
                <key>sourceSize</key>
                <string>{167,78}</string>
            </dict>
            <key>btnorange.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,221},{167,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,76}}</string>
                <key>sourceSize</key>
                <string>{167,78}</string>
            </dict>
            <key>bullfight_btn_orange1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,221},{167,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,76}}</string>
                <key>sourceSize</key>
                <string>{167,78}</string>
            </dict>
            <key>buttomkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,1},{1280,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{1280,66}}</string>
                <key>sourceSize</key>
                <string>{1280,68}</string>
            </dict>
            <key>choosebei.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,1},{244,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,48}}</string>
                <key>sourceSize</key>
                <string>{244,48}</string>
            </dict>
            <key>countdownback.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,69},{79,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,80}}</string>
                <key>sourceSize</key>
                <string>{79,80}</string>
            </dict>
            <key>countdownup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1613,69},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,288},{50,51}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{50,51}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,293},{45,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,5},{45,66}}</string>
                <key>sourceSize</key>
                <string>{71,78}</string>
            </dict>
            <key>goldtiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,161},{179,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,37}}</string>
                <key>sourceSize</key>
                <string>{179,37}</string>
            </dict>
            <key>goldtiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,225},{111,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,39}}</string>
                <key>sourceSize</key>
                <string>{111,39}</string>
            </dict>
            <key>guandan_dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,325},{12,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{12,20}}</string>
                <key>sourceSize</key>
                <string>{12,50}</string>
            </dict>
            <key>have_niu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,299},{74,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,39}}</string>
                <key>sourceSize</key>
                <string>{74,39}</string>
            </dict>
            <key>headheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,1},{214,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,93}}</string>
                <key>sourceSize</key>
                <string>{214,93}</string>
            </dict>
            <key>headhengkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,247},{217,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,94}}</string>
                <key>sourceSize</key>
                <string>{217,94}</string>
            </dict>
            <key>headshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,69},{119,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,163}}</string>
                <key>sourceSize</key>
                <string>{119,163}</string>
            </dict>
            <key>headshukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,217},{119,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,164}}</string>
                <key>sourceSize</key>
                <string>{119,164}</string>
            </dict>
            <key>light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,221},{65,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,70}}</string>
                <key>sourceSize</key>
                <string>{65,70}</string>
            </dict>
            <key>littlekuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1},{185,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,55}}</string>
                <key>sourceSize</key>
                <string>{185,55}</string>
            </dict>
            <key>match_waitting.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,288},{483,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{483,50}}</string>
                <key>sourceSize</key>
                <string>{483,50}</string>
            </dict>
            <key>menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,218},{67,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{67,78}}</string>
                <key>sourceSize</key>
                <string>{71,78}</string>
            </dict>
            <key>menutiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,190},{96,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{96,362}}</string>
                <key>sourceSize</key>
                <string>{96,368}</string>
            </dict>
            <key>newgame.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1},{242,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,48}}</string>
                <key>sourceSize</key>
                <string>{242,48}</string>
            </dict>
            <key>no_niu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,299},{74,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,38}}</string>
                <key>sourceSize</key>
                <string>{74,38}</string>
            </dict>
            <key>otherkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,69},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>ourkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,69},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>over.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,152},{523,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{523,67}}</string>
                <key>sourceSize</key>
                <string>{523,67}</string>
            </dict>
            <key>rabot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,69},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>reset.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,218},{49,68}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{49,68}}</string>
                <key>sourceSize</key>
                <string>{71,78}</string>
            </dict>
            <key>sidelines.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,188},{75,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,26}}</string>
                <key>sourceSize</key>
                <string>{75,26}</string>
            </dict>
            <key>tipsPao.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1},{222,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,71}}</string>
                <key>sourceSize</key>
                <string>{222,71}</string>
            </dict>
            <key>waitothers.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,1},{243,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,47}}</string>
                <key>sourceSize</key>
                <string>{243,47}</string>
            </dict>
            <key>waitotherthink.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{322,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,48}}</string>
                <key>sourceSize</key>
                <string>{322,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>others.png</string>
            <key>size</key>
            <string>{1706,342}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:060ba03e203e2fe710a47a6e0a532fa2:e802a40b0d3e22d35c79a69143553c2f:ddbf81f48aabe37f7be37472eca089e2$</string>
            <key>textureFileName</key>
            <string>others.png</string>
        </dict>
    </dict>
</plist>
