<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>exchg_bottom_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,2},{657,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{657,46}}</string>
                <key>sourceSize</key>
                <string>{657,46}</string>
            </dict>
            <key>exchg_btn_history.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,609},{161,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,43}}</string>
                <key>sourceSize</key>
                <string>{161,43}</string>
            </dict>
            <key>exchg_error_hint_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{516,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,75}}</string>
                <key>sourceSize</key>
                <string>{516,75}</string>
            </dict>
            <key>exchg_flag_discount.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,595},{103,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{103,73}}</string>
                <key>sourceSize</key>
                <string>{107,75}</string>
            </dict>
            <key>exchg_flag_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,213},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>exchg_flag_hot.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,752},{107,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,75}}</string>
                <key>sourceSize</key>
                <string>{107,75}</string>
            </dict>
            <key>exchg_flag_lack.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,661},{118,89}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{118,89}}</string>
                <key>sourceSize</key>
                <string>{120,89}</string>
            </dict>
            <key>exchg_flag_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,520},{103,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{103,73}}</string>
                <key>sourceSize</key>
                <string>{107,75}</string>
            </dict>
            <key>exchg_hint.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,613},{41,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,39}}</string>
                <key>sourceSize</key>
                <string>{41,39}</string>
            </dict>
            <key>exchg_hint_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,883},{359,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,93}}</string>
                <key>sourceSize</key>
                <string>{359,93}</string>
            </dict>
            <key>exchg_history_top_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{657,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{657,47}}</string>
                <key>sourceSize</key>
                <string>{657,47}</string>
            </dict>
            <key>exchg_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,661},{203,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,220}}</string>
                <key>sourceSize</key>
                <string>{203,220}</string>
            </dict>
            <key>exchg_item_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{605,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{605,163}}</string>
                <key>sourceSize</key>
                <string>{605,163}</string>
            </dict>
            <key>exchg_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,2},{443,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{443,14}}</string>
                <key>sourceSize</key>
                <string>{443,14}</string>
            </dict>
            <key>exchg_list_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{657,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{657,55}}</string>
                <key>sourceSize</key>
                <string>{657,55}</string>
            </dict>
            <key>exchg_name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,978},{181,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,31}}</string>
                <key>sourceSize</key>
                <string>{181,31}</string>
            </dict>
            <key>exchg_no_history.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,2},{209,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,37}}</string>
                <key>sourceSize</key>
                <string>{209,37}</string>
            </dict>
            <key>exchg_no_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,829},{177,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,47}}</string>
                <key>sourceSize</key>
                <string>{177,47}</string>
            </dict>
            <key>exchg_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,2},{609,45}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{609,45}}</string>
                <key>sourceSize</key>
                <string>{613,45}</string>
            </dict>
            <key>exchg_txt_history.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,978},{80,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,19}}</string>
                <key>sourceSize</key>
                <string>{80,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>exchange.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1bae4e62e4ef1bb66176e9b5c37ab410$</string>
            <key>textureFileName</key>
            <string>exchange.png</string>
        </dict>
    </dict>
</plist>
