<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>head_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,899},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>match_mate_keybg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,795},{162,102}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{162,102}}</string>
                <key>sourceSize</key>
                <string>{176,116}</string>
            </dict>
            <key>match_mate_keybg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,648},{176,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,116}}</string>
                <key>sourceSize</key>
                <string>{176,116}</string>
            </dict>
            <key>match_mate_number_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1221,648},{89,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,3}}</string>
                <key>sourceSize</key>
                <string>{89,3}</string>
            </dict>
            <key>setting_about_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,1061},{116,118}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{116,118}}</string>
                <key>sourceSize</key>
                <string>{116,122}</string>
            </dict>
            <key>setting_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1040,1070}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1040,1070}}</string>
                <key>sourceSize</key>
                <string>{1040,1070}</string>
            </dict>
            <key>setting_mask_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,1061},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>setting_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1073},{1055,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1055,142}}</string>
                <key>sourceSize</key>
                <string>{1055,142}</string>
            </dict>
            <key>store_choose_tag1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,483},{274,163}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,163}}</string>
                <key>sourceSize</key>
                <string>{274,165}</string>
            </dict>
            <key>store_choose_tag2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,766},{173,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,27}}</string>
                <key>sourceSize</key>
                <string>{173,27}</string>
            </dict>
            <key>store_mm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,1},{480,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,409}}</string>
                <key>sourceSize</key>
                <string>{480,409}</string>
            </dict>
            <key>store_seg_line_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1221,653},{2,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,69}}</string>
                <key>sourceSize</key>
                <string>{2,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hall_common.png</string>
            <key>size</key>
            <string>{1453,1216}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aba438a37b2c21e16617a4c7d586ab0d:287858a3551fe0a22105a9273e53471c:a80d78561e6373e00474102250d4a533$</string>
            <key>textureFileName</key>
            <string>hall_common.png</string>
        </dict>
    </dict>
</plist>
