<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guang20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,723},{280,308}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,40},{280,308}}</string>
                <key>sourceSize</key>
                <string>{384,360}</string>
            </dict>
            <key>guang20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,697},{308,334}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,14},{308,334}}</string>
                <key>sourceSize</key>
                <string>{384,360}</string>
            </dict>
            <key>guang20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,363},{332,358}}</string>
                <key>offset</key>
                <string>{-21,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{332,358}}</string>
                <key>sourceSize</key>
                <string>{384,360}</string>
            </dict>
            <key>guang20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,1},{346,360}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{346,360}}</string>
                <key>sourceSize</key>
                <string>{384,360}</string>
            </dict>
            <key>guang20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,363},{358,360}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,360}}</string>
                <key>sourceSize</key>
                <string>{384,360}</string>
            </dict>
            <key>guang20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,1},{368,360}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,360}}</string>
                <key>sourceSize</key>
                <string>{384,360}</string>
            </dict>
            <key>guang20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{372,360}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{372,360}}</string>
                <key>sourceSize</key>
                <string>{384,360}</string>
            </dict>
            <key>guang20008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,363},{372,358}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{372,358}}</string>
                <key>sourceSize</key>
                <string>{384,360}</string>
            </dict>
            <key>guang20009.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,1},{374,346}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{374,346}}</string>
                <key>sourceSize</key>
                <string>{384,360}</string>
            </dict>
            <key>guang20010.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,349},{366,336}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{366,336}}</string>
                <key>sourceSize</key>
                <string>{384,360}</string>
            </dict>
            <key>guang20011.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,687},{366,320}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,21},{366,320}}</string>
                <key>sourceSize</key>
                <string>{384,360}</string>
            </dict>
            <key>guang20012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,723},{332,274}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,43},{332,274}}</string>
                <key>sourceSize</key>
                <string>{384,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>headTravelAni.png</string>
            <key>size</key>
            <string>{1472,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d2b82bfca63c3f0bd2ddd6e6549d477:39d20b5ba2b74c1bd02ed833840578e2:2aad475caa8c0e3753d76c2da12bc5f9$</string>
            <key>textureFileName</key>
            <string>headTravelAni.png</string>
        </dict>
    </dict>
</plist>
