<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>solitaire1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{218,214}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,56},{218,214}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>solitaire2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,1},{216,210}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,50},{216,210}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>solitaire3.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,1},{218,210}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,51},{218,210}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>solitaire4.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,1},{226,210}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,51},{226,210}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>solitaire5.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,1},{222,212}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,50},{222,212}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>solitaire6.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,1},{220,212}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,50},{220,212}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>solitaire7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1723,1},{188,174}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,69},{188,174}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>solitaire8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1531,1},{198,190}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,62},{198,190}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>solitaire9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1333,1},{206,196}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,60},{206,196}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>solitaire.png</string>
            <key>size</key>
            <string>{1898,216}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba8e0e84ac0ca27099375c0347fbb036:d816d9adc193d1404594bc1fde4aab40:c17027ed772c4bbad87d8932094b4676$</string>
            <key>textureFileName</key>
            <string>solitaire.png</string>
        </dict>
    </dict>
</plist>
