<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>reward_hint.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,254},{619,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{619,113}}</string>
                <key>sourceSize</key>
                <string>{619,113}</string>
            </dict>
            <key>shadow_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1040,442}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1040,442}}</string>
                <key>sourceSize</key>
                <string>{1040,442}</string>
            </dict>
            <key>userinfo_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,254},{293,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,83}}</string>
                <key>sourceSize</key>
                <string>{293,83}</string>
            </dict>
            <key>userinfo_btn_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,1},{184,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,77}}</string>
                <key>sourceSize</key>
                <string>{184,77}</string>
            </dict>
            <key>userinfo_img_arrow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,1442},{30,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,51}}</string>
                <key>sourceSize</key>
                <string>{30,51}</string>
            </dict>
            <key>userinfo_img_arrow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,311},{30,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,51}}</string>
                <key>sourceSize</key>
                <string>{30,51}</string>
            </dict>
            <key>userinfo_img_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1151},{995,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{995,243}}</string>
                <key>sourceSize</key>
                <string>{995,243}</string>
            </dict>
            <key>userinfo_img_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,998},{444,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,164}}</string>
                <key>sourceSize</key>
                <string>{444,164}</string>
            </dict>
            <key>userinfo_img_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,817},{985,332}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{985,332}}</string>
                <key>sourceSize</key>
                <string>{995,332}</string>
            </dict>
            <key>userinfo_img_bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,875},{445,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,164}}</string>
                <key>sourceSize</key>
                <string>{445,164}</string>
            </dict>
            <key>userinfo_img_check_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,623},{69,70}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,3},{69,70}}</string>
                <key>sourceSize</key>
                <string>{105,78}</string>
            </dict>
            <key>userinfo_img_check_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,1442},{89,62}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{89,62}}</string>
                <key>sourceSize</key>
                <string>{105,78}</string>
            </dict>
            <key>userinfo_img_clear.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,694},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>userinfo_img_crystal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,549},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{70,72}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>userinfo_img_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{1551,549},{74,60}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,13},{74,60}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>userinfo_img_edit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,254},{126,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,42}}</string>
                <key>sourceSize</key>
                <string>{126,42}</string>
            </dict>
            <key>userinfo_img_female.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,428},{34,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>userinfo_img_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,187},{66,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{66,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>userinfo_img_headicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,1},{247,251}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{247,251}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>userinfo_img_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,738},{26,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{26,30}</string>
            </dict>
            <key>userinfo_img_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,1322},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>userinfo_img_itembg_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1396},{995,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{995,124}}</string>
                <key>sourceSize</key>
                <string>{995,124}</string>
            </dict>
            <key>userinfo_img_itembg_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,445},{995,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{995,124}}</string>
                <key>sourceSize</key>
                <string>{995,124}</string>
            </dict>
            <key>userinfo_img_itembg_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,1},{995,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{995,124}}</string>
                <key>sourceSize</key>
                <string>{995,124}</string>
            </dict>
            <key>userinfo_img_link.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,849},{15,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,70}}</string>
                <key>sourceSize</key>
                <string>{15,70}</string>
            </dict>
            <key>userinfo_img_location.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,866},{34,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{34,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>userinfo_img_male.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,382},{42,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{42,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>userinfo_img_nickname.png</key>
            <dict>
                <key>frame</key>
                <string>{{1551,625},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{42,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>userinfo_img_nickname_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,445},{995,370}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{995,370}}</string>
                <key>sourceSize</key>
                <string>{995,370}</string>
            </dict>
            <key>userinfo_img_segline.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,817},{236,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,4}}</string>
                <key>sourceSize</key>
                <string>{236,4}</string>
            </dict>
            <key>userinfo_img_sex.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,265},{42,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{42,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>userinfo_img_sex_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,428},{34,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>userinfo_img_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,1},{846,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{846,55}}</string>
                <key>sourceSize</key>
                <string>{846,55}</string>
            </dict>
            <key>userinfo_img_title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,1},{846,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{846,55}}</string>
                <key>sourceSize</key>
                <string>{846,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>userinfo_plist.png</string>
            <key>size</key>
            <string>{1612,1523}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7368a1259c90b889c80cfca3d7f0d48:5762433a5ff9dafabcb282fdc00ace46:9f7d2f9138e4a0714dc96535e6a29b5b$</string>
            <key>textureFileName</key>
            <string>userinfo_plist.png</string>
        </dict>
    </dict>
</plist>
