<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>acquire_anim_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,1},{183,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,55}}</string>
                <key>sourceSize</key>
                <string>{183,55}</string>
            </dict>
            <key>buy_anim_aperture.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{319,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,319}}</string>
                <key>sourceSize</key>
                <string>{319,319}</string>
            </dict>
            <key>buy_anim_star0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,127},{59,57}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{59,57}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>buy_anim_star0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1},{61,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{61,59}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>buy_anim_star0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,64},{61,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,59}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>buy_anim_star0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,440},{59,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>buy_anim_star0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,379},{57,55}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{57,55}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>buy_anim_star0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,501},{59,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>buy_anim_star0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,318},{61,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,59}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>buy_anim_star0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,379},{61,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{61,59}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>buy_anim_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1},{363,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,49}}</string>
                <key>sourceSize</key>
                <string>{363,49}</string>
            </dict>
            <key>click_aperture1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,322},{277,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,277}}</string>
                <key>sourceSize</key>
                <string>{277,277}</string>
            </dict>
            <key>click_aperture2.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,501},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>click_finger0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,186},{93,130}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{93,130}}</string>
                <key>sourceSize</key>
                <string>{105,136}</string>
            </dict>
            <key>click_finger0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,366},{89,124}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{89,124}}</string>
                <key>sourceSize</key>
                <string>{105,136}</string>
            </dict>
            <key>first_charget_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,492},{113,86}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{113,86}}</string>
                <key>sourceSize</key>
                <string>{131,98}</string>
            </dict>
            <key>first_charget_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,440},{57,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,48}}</string>
                <key>sourceSize</key>
                <string>{57,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>animation_plist.png</string>
            <key>size</key>
            <string>{490,600}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e2a10b8248824fb6e7cd1054275c750:8cc51b817a9b2e40d6506ff98b88a628:acb31cad690069f080e16a5e7588d6da$</string>
            <key>textureFileName</key>
            <string>animation_plist.png</string>
        </dict>
    </dict>
</plist>
