<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>title_shade_guandan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{149,87}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{149,87}}</string>
                <key>sourceSize</key>
                <string>{159,93}</string>
            </dict>
            <key>title_shade_niuniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,90},{149,85}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{149,85}}</string>
                <key>sourceSize</key>
                <string>{159,91}</string>
            </dict>
            <key>title_shade_privicy.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1},{167,60}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{167,60}}</string>
                <key>sourceSize</key>
                <string>{173,66}</string>
            </dict>
            <key>title_shade_prize.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,177},{142,57}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{142,57}}</string>
                <key>sourceSize</key>
                <string>{148,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hall_plist2.png</string>
            <key>size</key>
            <string>{213,235}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60d2297eac5f8f96f99a89d13da036ef:630a0a6f7feb5de3ae6ef6989ace5d82:39be60bb976ab662844e6030cf8cb02c$</string>
            <key>textureFileName</key>
            <string>hall_plist2.png</string>
        </dict>
    </dict>
</plist>
