<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sign_icon_tag1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>sign_icon_tag2.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>sign_icon_tag3.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,1},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>sign_icon_tag4.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,1},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sign_1.png</string>
            <key>size</key>
            <string>{107,28}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:961f52da50b79e005436419be1016157:87383faccb6d69e34803543d775bbf4c:3dc1fc09f08c4187fdbc84c122ccff2b$</string>
            <key>textureFileName</key>
            <string>sign_1.png</string>
        </dict>
    </dict>
</plist>
