<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cp_addfriend_edit.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,1},{410,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,57}}</string>
                <key>sourceSize</key>
                <string>{410,57}</string>
            </dict>
            <key>cp_addfriend_search_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,230},{663,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{663,142}}</string>
                <key>sourceSize</key>
                <string>{663,142}</string>
            </dict>
            <key>cp_chat_btn_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,249},{122,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,64}}</string>
                <key>sourceSize</key>
                <string>{122,64}</string>
            </dict>
            <key>cp_chat_btn_voice.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,414},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>cp_chat_input_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,374},{658,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{658,121}}</string>
                <key>sourceSize</key>
                <string>{658,121}</string>
            </dict>
            <key>cp_chat_input_edit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{411,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,57}}</string>
                <key>sourceSize</key>
                <string>{411,57}</string>
            </dict>
            <key>cp_chat_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,413},{96,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,61}}</string>
                <key>sourceSize</key>
                <string>{96,61}</string>
            </dict>
            <key>cp_chat_tag_voice1.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,372},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>cp_chat_tag_voice2.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,1},{19,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,26}}</string>
                <key>sourceSize</key>
                <string>{19,26}</string>
            </dict>
            <key>cp_chat_time_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,178},{113,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,33}}</string>
                <key>sourceSize</key>
                <string>{113,33}</string>
            </dict>
            <key>cp_friend_head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,417},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>cp_friend_online_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,409},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>cp_friend_online_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,374},{32,32}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{32,32}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>cp_friend_tag_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,315},{55,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,51}}</string>
                <key>sourceSize</key>
                <string>{55,51}</string>
            </dict>
            <key>cp_frind_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,116},{667,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,112}}</string>
                <key>sourceSize</key>
                <string>{667,112}</string>
            </dict>
            <key>cp_session_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1},{669,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{669,113}}</string>
                <key>sourceSize</key>
                <string>{669,113}</string>
            </dict>
            <key>cp_session_btn_agree.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,315},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>cp_session_btn_delete.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,1},{175,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,113}}</string>
                <key>sourceSize</key>
                <string>{175,113}</string>
            </dict>
            <key>cp_session_btn_refuse.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,362},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>cp_session_tag_unread.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,449},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>cp_session_time_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,213},{112,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,34}}</string>
                <key>sourceSize</key>
                <string>{112,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cardpartner_plist.png</string>
            <key>size</key>
            <string>{934,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff8399b64c8ab2caeb6e5617114e5169:3015c549532a3c1992252a1ee4da93f9:6ae46f0bddd6ee253a74096b0a79220f$</string>
            <key>textureFileName</key>
            <string>cardpartner_plist.png</string>
        </dict>
    </dict>
</plist>
