<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_room_cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,592},{161,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,70}}</string>
                <key>sourceSize</key>
                <string>{161,70}</string>
            </dict>
            <key>hall_room_guandan_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1},{351,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,246}}</string>
                <key>sourceSize</key>
                <string>{351,246}</string>
            </dict>
            <key>hall_room_guandan_cloth.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,343},{323,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,112}}</string>
                <key>sourceSize</key>
                <string>{323,112}</string>
            </dict>
            <key>hall_room_guandan_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,383},{325,397}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,397}}</string>
                <key>sourceSize</key>
                <string>{327,397}</string>
            </dict>
            <key>hall_room_guandan_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,588},{71,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,76}}</string>
                <key>sourceSize</key>
                <string>{71,76}</string>
            </dict>
            <key>hall_room_guandan_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,668},{200,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,101}}</string>
                <key>sourceSize</key>
                <string>{200,101}</string>
            </dict>
            <key>hall_room_icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{378,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{378,380}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>hall_room_niuniu_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,354},{117,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,232}}</string>
                <key>sourceSize</key>
                <string>{117,232}</string>
            </dict>
            <key>hall_room_niuniu_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,1},{341,340}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,34},{341,340}}</string>
                <key>sourceSize</key>
                <string>{351,374}</string>
            </dict>
            <key>hall_room_niuniu_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,664},{201,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,99}}</string>
                <key>sourceSize</key>
                <string>{201,99}</string>
            </dict>
            <key>hall_room_privicy_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,782},{432,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,173}}</string>
                <key>sourceSize</key>
                <string>{432,173}</string>
            </dict>
            <key>hall_room_privicy_key.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,771},{157,184}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{157,184}}</string>
                <key>sourceSize</key>
                <string>{161,188}</string>
            </dict>
            <key>hall_room_privicy_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,354},{236,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,75}}</string>
                <key>sourceSize</key>
                <string>{236,75}</string>
            </dict>
            <key>hall_room_prize_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,343},{428,167}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{428,167}}</string>
                <key>sourceSize</key>
                <string>{432,173}</string>
            </dict>
            <key>hall_room_prize_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,354},{198,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,70}}</string>
                <key>sourceSize</key>
                <string>{198,70}</string>
            </dict>
            <key>hall_room_prize_trophy.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,773},{228,184}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{228,184}}</string>
                <key>sourceSize</key>
                <string>{230,184}</string>
            </dict>
            <key>hall_room_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,383},{351,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,94}}</string>
                <key>sourceSize</key>
                <string>{351,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hallcontent2.png</string>
            <key>size</key>
            <string>{974,958}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9da29d8936d395aebc2d4f125d82dc7:687bb5b0a03dea3445ae9480ef503e82:3e99d0a20412c033a2fc9c091d08eb7d$</string>
            <key>textureFileName</key>
            <string>hallcontent2.png</string>
        </dict>
    </dict>
</plist>
