<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_notice_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,361},{1199,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1199,50}}</string>
                <key>sourceSize</key>
                <string>{1199,50}</string>
            </dict>
            <key>hall_notice_horn.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,288},{73,71}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{73,71}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>hall_room_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{378,376}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,376}}</string>
                <key>sourceSize</key>
                <string>{378,376}</string>
            </dict>
            <key>hall_room_buillfight.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,461},{379,416}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,37},{379,416}}</string>
                <key>sourceSize</key>
                <string>{417,476}</string>
            </dict>
            <key>hall_room_high_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1562},{376,377}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,377}}</string>
                <key>sourceSize</key>
                <string>{376,377}</string>
            </dict>
            <key>hall_room_high_lady.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{457,457}}</string>
                <key>offset</key>
                <string>{31,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,2},{457,457}}</string>
                <key>sourceSize</key>
                <string>{545,479}</string>
            </dict>
            <key>hall_room_high_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,2},{284,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,97}}</string>
                <key>sourceSize</key>
                <string>{284,97}</string>
            </dict>
            <key>hall_room_high_titlebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,585},{403,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,103}}</string>
                <key>sourceSize</key>
                <string>{403,103}</string>
            </dict>
            <key>hall_room_high_trophy.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1562},{301,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,231}}</string>
                <key>sourceSize</key>
                <string>{301,231}</string>
            </dict>
            <key>hall_room_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,461},{231,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,47}}</string>
                <key>sourceSize</key>
                <string>{231,47}</string>
            </dict>
            <key>hall_room_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{393,462}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{393,462}}</string>
                <key>sourceSize</key>
                <string>{417,476}</string>
            </dict>
            <key>hall_room_personal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,397},{444,186}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{444,186}}</string>
                <key>sourceSize</key>
                <string>{476,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hallcontent.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c03ed2dbd9facff018b97d7c0908dfe1$</string>
            <key>textureFileName</key>
            <string>hallcontent.png</string>
        </dict>
    </dict>
</plist>
