<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>setting_feedback_msg_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,224},{640,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,399}}</string>
                <key>sourceSize</key>
                <string>{640,399}</string>
            </dict>
            <key>setting_top_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{648,221}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{648,221}}</string>
                <key>sourceSize</key>
                <string>{650,221}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>setting_plist2.png</string>
            <key>size</key>
            <string>{650,624}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c21a61cfd0b9c5ca09d50c7ad3402084:aef8f17ac72d18f157e0132cd99e5fd5:f1e769c856f8f806246462168b661c53$</string>
            <key>textureFileName</key>
            <string>setting_plist2.png</string>
        </dict>
    </dict>
</plist>
