<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sign_item_anim_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{65,56}</string>
                <key>spriteSourceSize</key>
                <string>{75,66}</string>
                <key>textureRect</key>
                <string>{{1,57},{65,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sign_item_anim_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{65,56}</string>
                <key>spriteSourceSize</key>
                <string>{75,66}</string>
                <key>textureRect</key>
                <string>{{68,57},{65,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sign_item_anim_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{65,56}</string>
                <key>spriteSourceSize</key>
                <string>{75,66}</string>
                <key>textureRect</key>
                <string>{{1,115},{65,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sign_item_anim_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{65,56}</string>
                <key>spriteSourceSize</key>
                <string>{75,66}</string>
                <key>textureRect</key>
                <string>{{68,115},{65,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sign_item_anim_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{63,56}</string>
                <key>spriteSourceSize</key>
                <string>{75,66}</string>
                <key>textureRect</key>
                <string>{{135,57},{63,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sign_item_anim_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{63,56}</string>
                <key>spriteSourceSize</key>
                <string>{75,66}</string>
                <key>textureRect</key>
                <string>{{193,68},{63,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sign_item_anim_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{63,56}</string>
                <key>spriteSourceSize</key>
                <string>{75,66}</string>
                <key>textureRect</key>
                <string>{{135,122},{63,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sign_item_anim_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{63,56}</string>
                <key>spriteSourceSize</key>
                <string>{75,66}</string>
                <key>textureRect</key>
                <string>{{193,133},{63,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sign_item_anim_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{63,56}</string>
                <key>spriteSourceSize</key>
                <string>{75,66}</string>
                <key>textureRect</key>
                <string>{{1,173},{63,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sign_item_anim_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{63,56}</string>
                <key>spriteSourceSize</key>
                <string>{75,66}</string>
                <key>textureRect</key>
                <string>{{66,173},{63,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sign_item_anim_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{63,56}</string>
                <key>spriteSourceSize</key>
                <string>{75,66}</string>
                <key>textureRect</key>
                <string>{{131,187},{63,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sign_item_anim_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{63,54}</string>
                <key>spriteSourceSize</key>
                <string>{75,66}</string>
                <key>textureRect</key>
                <string>{{1,1},{63,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sign_item_anim_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{63,54}</string>
                <key>spriteSourceSize</key>
                <string>{75,66}</string>
                <key>textureRect</key>
                <string>{{66,1},{63,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sign_item_anim_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{63,56}</string>
                <key>spriteSourceSize</key>
                <string>{75,66}</string>
                <key>textureRect</key>
                <string>{{189,198},{63,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sign_item_anim_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{63,56}</string>
                <key>spriteSourceSize</key>
                <string>{75,66}</string>
                <key>textureRect</key>
                <string>{{1,231},{63,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sign_item_anim_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{63,56}</string>
                <key>spriteSourceSize</key>
                <string>{75,66}</string>
                <key>textureRect</key>
                <string>{{66,231},{63,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sign_item_anim_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{63,56}</string>
                <key>spriteSourceSize</key>
                <string>{75,66}</string>
                <key>textureRect</key>
                <string>{{131,256},{63,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sign_item_anim_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{67,56}</string>
                <key>spriteSourceSize</key>
                <string>{75,66}</string>
                <key>textureRect</key>
                <string>{{1,289},{67,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sign_item_anim_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{65,56}</string>
                <key>spriteSourceSize</key>
                <string>{75,66}</string>
                <key>textureRect</key>
                <string>{{196,256},{65,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sign_item_anim_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{65,56}</string>
                <key>spriteSourceSize</key>
                <string>{75,66}</string>
                <key>textureRect</key>
                <string>{{70,289},{65,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sign_item_anim_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{65,56}</string>
                <key>spriteSourceSize</key>
                <string>{75,66}</string>
                <key>textureRect</key>
                <string>{{128,314},{65,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sign_item_anim_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{65,54}</string>
                <key>spriteSourceSize</key>
                <string>{75,66}</string>
                <key>textureRect</key>
                <string>{{131,1},{65,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sign_item_anim_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{65,54}</string>
                <key>spriteSourceSize</key>
                <string>{75,66}</string>
                <key>textureRect</key>
                <string>{{198,1},{65,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sign_item_anim_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{65,56}</string>
                <key>spriteSourceSize</key>
                <string>{75,66}</string>
                <key>textureRect</key>
                <string>{{195,323},{65,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sign_item_anim_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{65,56}</string>
                <key>spriteSourceSize</key>
                <string>{75,66}</string>
                <key>textureRect</key>
                <string>{{1,347},{65,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sign_item_anim_0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{65,56}</string>
                <key>spriteSourceSize</key>
                <string>{75,66}</string>
                <key>textureRect</key>
                <string>{{68,356},{65,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sign_item_anim.png</string>
            <key>size</key>
            <string>{253,422}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b09c7ffa4ff0adb17d77a252a98d846a:76f7d14f7198ebba32cc968c7ad43365:74317c36646fef32d36a2280e5fed73e$</string>
            <key>textureFileName</key>
            <string>sign_item_anim.png</string>
        </dict>
    </dict>
</plist>
