<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>account_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,929},{293,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,83}}</string>
                <key>sourceSize</key>
                <string>{293,83}</string>
            </dict>
            <key>account_btn_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,100},{258,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,100}}</string>
                <key>sourceSize</key>
                <string>{258,100}</string>
            </dict>
            <key>account_cb_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,862},{57,46}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{57,46}}</string>
                <key>sourceSize</key>
                <string>{71,52}</string>
            </dict>
            <key>account_cb_unselected.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,100},{47,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{47,46}}</string>
                <key>sourceSize</key>
                <string>{71,52}</string>
            </dict>
            <key>account_hint_input_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,202},{395,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,47}}</string>
                <key>sourceSize</key>
                <string>{395,47}</string>
            </dict>
            <key>account_icon_key.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,862},{62,68}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{62,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>account_icon_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,860},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>account_icon_phone.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,149},{37,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,48}}</string>
                <key>sourceSize</key>
                <string>{37,48}</string>
            </dict>
            <key>account_icon_phone_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,860},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>account_input_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,100},{760,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{760,96}}</string>
                <key>sourceSize</key>
                <string>{760,96}</string>
            </dict>
            <key>account_input_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,100},{758,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{758,96}}</string>
                <key>sourceSize</key>
                <string>{760,96}</string>
            </dict>
            <key>account_input_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{503,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,96}}</string>
                <key>sourceSize</key>
                <string>{503,96}</string>
            </dict>
            <key>account_line_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{827,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{827,4}}</string>
                <key>sourceSize</key>
                <string>{827,4}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>account_plist.png</string>
            <key>size</key>
            <string>{512,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f17db1cebf93f6eb123b7cefe46cafad$</string>
            <key>textureFileName</key>
            <string>account_plist.png</string>
        </dict>
    </dict>
</plist>
