<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_history.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,914},{106,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,121}}</string>
                <key>sourceSize</key>
                <string>{106,121}</string>
            </dict>
            <key>siren_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,795},{117,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,127}}</string>
                <key>sourceSize</key>
                <string>{117,127}</string>
            </dict>
            <key>siren_btn_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,1022},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>siren_btn_create.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,69},{349,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,354}}</string>
                <key>sourceSize</key>
                <string>{349,354}</string>
            </dict>
            <key>siren_btn_delete.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,69},{161,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,55}}</string>
                <key>sourceSize</key>
                <string>{161,55}</string>
            </dict>
            <key>siren_btn_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,771},{323,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,87}}</string>
                <key>sourceSize</key>
                <string>{323,87}</string>
            </dict>
            <key>siren_btn_history.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,914},{106,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,121}}</string>
                <key>sourceSize</key>
                <string>{106,121}</string>
            </dict>
            <key>siren_btn_join.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,420},{349,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,354}}</string>
                <key>sourceSize</key>
                <string>{349,354}</string>
            </dict>
            <key>siren_flag_owner.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,860},{84,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,43}}</string>
                <key>sourceSize</key>
                <string>{84,43}</string>
            </dict>
            <key>siren_flag_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,860},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>siren_gou.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,771},{33,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,29}}</string>
                <key>sourceSize</key>
                <string>{33,29}</string>
            </dict>
            <key>siren_hint_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1022},{566,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,63}}</string>
                <key>sourceSize</key>
                <string>{566,63}</string>
            </dict>
            <key>siren_history_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,914},{665,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{665,153}}</string>
                <key>sourceSize</key>
                <string>{665,153}</string>
            </dict>
            <key>siren_history_top_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,936},{657,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{657,47}}</string>
                <key>sourceSize</key>
                <string>{657,47}</string>
            </dict>
            <key>siren_info_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,936},{605,47}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{605,47}}</string>
                <key>sourceSize</key>
                <string>{613,47}</string>
            </dict>
            <key>siren_input_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{415,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,66}}</string>
                <key>sourceSize</key>
                <string>{415,66}</string>
            </dict>
            <key>siren_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,69},{621,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{621,2}}</string>
                <key>sourceSize</key>
                <string>{621,2}</string>
            </dict>
            <key>siren_redpoint_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,1543},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>siren_redpoint_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,699},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{18,18}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>siren_room_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,936},{663,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{663,82}}</string>
                <key>sourceSize</key>
                <string>{663,82}</string>
            </dict>
            <key>siren_room_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,699},{63,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,39}}</string>
                <key>sourceSize</key>
                <string>{63,39}</string>
            </dict>
            <key>siren_room_info_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1},{303,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,75}}</string>
                <key>sourceSize</key>
                <string>{303,75}</string>
            </dict>
            <key>siren_txt_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,306},{227,73}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,73}}</string>
                <key>sourceSize</key>
                <string>{227,77}</string>
            </dict>
            <key>siren_txt_create.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,535},{227,73}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,73}}</string>
                <key>sourceSize</key>
                <string>{227,77}</string>
            </dict>
            <key>siren_txt_delete.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,764},{129,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,29}}</string>
                <key>sourceSize</key>
                <string>{129,29}</string>
            </dict>
            <key>siren_txt_invate_fd.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,897},{193,37}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{193,37}}</string>
                <key>sourceSize</key>
                <string>{195,39}</string>
            </dict>
            <key>siren_txt_invate_wx.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,860},{195,35}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{195,35}}</string>
                <key>sourceSize</key>
                <string>{195,39}</string>
            </dict>
            <key>siren_txt_invate_wx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,232},{275,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,51}}</string>
                <key>sourceSize</key>
                <string>{275,51}</string>
            </dict>
            <key>siren_txt_join.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,1104},{227,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,77}}</string>
                <key>sourceSize</key>
                <string>{227,77}</string>
            </dict>
            <key>siren_txt_no_history.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,1333},{226,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,73}}</string>
                <key>sourceSize</key>
                <string>{226,73}</string>
            </dict>
            <key>title_siren.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,509},{188,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,50}}</string>
                <key>sourceSize</key>
                <string>{188,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>siren_plist.png</string>
            <key>size</key>
            <string>{494,1600}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c42249ee811008f2352ab14b6120cc72:39d7c1bfb3cfbb6e29e3241eb0d6190e:45bdfb3d2d82f3752de4b0f6c86961c5$</string>
            <key>textureFileName</key>
            <string>siren_plist.png</string>
        </dict>
    </dict>
</plist>
