<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>facial_angry_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{121,117}</string>
                <key>spriteSourceSize</key>
                <string>{127,117}</string>
                <key>textureRect</key>
                <string>{{257,1},{121,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>facial_angry_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{121,117}</string>
                <key>spriteSourceSize</key>
                <string>{127,117}</string>
                <key>textureRect</key>
                <string>{{380,1},{121,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>facial_angry_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{121,115}</string>
                <key>spriteSourceSize</key>
                <string>{127,117}</string>
                <key>textureRect</key>
                <string>{{626,1},{121,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>facial_angry_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{121,115}</string>
                <key>spriteSourceSize</key>
                <string>{127,117}</string>
                <key>textureRect</key>
                <string>{{749,1},{121,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>facial_angry_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{121,115}</string>
                <key>spriteSourceSize</key>
                <string>{127,117}</string>
                <key>textureRect</key>
                <string>{{872,1},{121,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>facial_angry_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{125,117}</string>
                <key>spriteSourceSize</key>
                <string>{127,117}</string>
                <key>textureRect</key>
                <string>{{130,1},{125,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>facial_angry_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,117}</string>
                <key>spriteSourceSize</key>
                <string>{127,117}</string>
                <key>textureRect</key>
                <string>{{1,1},{127,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>facial_angry_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{121,117}</string>
                <key>spriteSourceSize</key>
                <string>{127,117}</string>
                <key>textureRect</key>
                <string>{{503,1},{121,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>facial_angry.png</string>
            <key>size</key>
            <string>{994,119}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14062e089f554654b18fc381270fcff0:6dbbb84b7c412f81059892e7f842385c:2c6aaf589ee62474a2d5f5ebc7ed86f1$</string>
            <key>textureFileName</key>
            <string>facial_angry.png</string>
        </dict>
    </dict>
</plist>
