<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>facial_contempt_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{129,113}</string>
                <key>spriteSourceSize</key>
                <string>{135,113}</string>
                <key>textureRect</key>
                <string>{{272,2},{129,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>facial_contempt_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{133,113}</string>
                <key>spriteSourceSize</key>
                <string>{135,113}</string>
                <key>textureRect</key>
                <string>{{2,2},{133,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>facial_contempt_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{133,113}</string>
                <key>spriteSourceSize</key>
                <string>{135,113}</string>
                <key>textureRect</key>
                <string>{{137,2},{133,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>facial_contempt_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{127,113}</string>
                <key>spriteSourceSize</key>
                <string>{135,113}</string>
                <key>textureRect</key>
                <string>{{403,2},{127,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>facial_contempt_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{127,113}</string>
                <key>spriteSourceSize</key>
                <string>{135,113}</string>
                <key>textureRect</key>
                <string>{{532,2},{127,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>facial_contempt.png</string>
            <key>size</key>
            <string>{661,117}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1cc479c30b640f0f8936c1e0e05590c3:b7e5d228be4f70d36afa74edaf9841f4:b987534dd036a31c8ab9560d76140974$</string>
            <key>textureFileName</key>
            <string>facial_contempt.png</string>
        </dict>
    </dict>
</plist>
