<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>setting_feedback_msg_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,335},{960,599}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,599}}</string>
                <key>sourceSize</key>
                <string>{960,599}</string>
            </dict>
            <key>setting_top_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{975,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{975,331}}</string>
                <key>sourceSize</key>
                <string>{975,331}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>setting_plist2.png</string>
            <key>size</key>
            <string>{979,936}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:120c8682fcae3496171fe86c6de7332c$</string>
            <key>textureFileName</key>
            <string>setting_plist2.png</string>
        </dict>
    </dict>
</plist>
