<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hotud_desc_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,1},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>hotud_desc_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,346},{592,303}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,303}}</string>
                <key>sourceSize</key>
                <string>{600,303}</string>
            </dict>
            <key>hotud_progress_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,346},{262,262}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{262,262}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>hotud_progress_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,705},{262,262}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{262,262}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>hotud_progress__star.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,90},{57,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,48}}</string>
                <key>sourceSize</key>
                <string>{57,48}</string>
            </dict>
            <key>hotud_progress_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{663,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{663,343}}</string>
                <key>sourceSize</key>
                <string>{663,343}</string>
            </dict>
            <key>hotud_progress_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,705},{307,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,307}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>hotud_progress_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,705},{280,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,280}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>hotud_segline.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,688},{656,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{656,15}}</string>
                <key>sourceSize</key>
                <string>{656,15}</string>
            </dict>
            <key>hotud_segline2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,651},{663,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{663,35}}</string>
                <key>sourceSize</key>
                <string>{663,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hotupdate_plist.png</string>
            <key>size</key>
            <string>{858,1013}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86e5786798b5158e53adcf1103da705f:bd4fbacc71244d801f802e8cd12e6b38:5b5ac8e32bca7334cf65f9c4784e7dcf$</string>
            <key>textureFileName</key>
            <string>hotupdate_plist.png</string>
        </dict>
    </dict>
</plist>
